@use "mixins";

.tabs_wrap {
  position: relative;
  display: flex;
  gap: 24px;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-border);

  .tabs_row {
    display: flex;
    gap: 32px;
    width: auto;
    margin-bottom: -1px;

    @include mixins.mobile {
      width: 100%;
      justify-content: flex-start;
      gap: 16px;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .tabs_actions {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-bottom: 8px;

    @include mixins.mobile {
      display: none;
    }
  }
}

.tab_item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text-muted);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  .tab_text {
    font-size: 18px;
  }

  .count {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-surfaces);
    color: var(--color-text-default);
    border-radius: 12px;
    padding: 0 8px;
    height: 24px;
    font-size: 14px;
    font-weight: 600;
  }

  &:hover {
    color: var(--color-link);
    text-decoration: none;
  }

  &.active {
    color: var(--color-link);
    border-bottom: 2px solid var(--color-link);
  }

  cos-icon {
    display: flex;
  }
}
