<div class="tabs_wrap">
  <div class="tabs_row" role="tablist">
    @for (tab of tabs(); track tab.id) {
      <button type="button" class="tab_item" 
         role="tab"
         [attr.aria-selected]="activeTab() === tab.id"
         [class.active]="activeTab() === tab.id" 
         (click)="onTabSelect(tab.id)">
        @if (tab.icon) {
          <cos-icon [name]="tab.icon" [size]="20"></cos-icon>
        }
        <span class="tab_text">{{ tab.label | translate }}</span>
        @if (tab.count !== undefined && tab.count > 0) {
          <div class="count">{{ tab.count }}</div>
        }
      </button>
    }
  </div>

  <div class="tabs_actions">
    <ng-content></ng-content>
  </div>
</div>
