<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h3 class="title" translate="MODALS.TOPIC_REPORT_HEADING"></h3>
      </div>
      <div class="dialog_close">
        <button class="btn_dialog_close icon" dialogClose>
          <cos-icon name="nav-close"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <div class="content_text" translate="MODALS.TOPIC_REPORT_DESCRIPTION"></div>

      <form [formGroup]="reportForm" (ngSubmit)="doReport()">
        <div class="form_group">
          <label translate="COMPONENTS.TOPIC_REPORT_FORM.LBL_REPORT_TYPE"></label>
          <cos-dropdown>
            <div selection class="selected_item">
              {{ 'TXT_REPORT_TYPES_' + (reportForm.value.type | uppercase) | translate }}
            </div>
            <div options>
              @for (type of reportTypes; track type) {
                <div class="option" (click)="changeType(type)">
                  {{ 'TXT_REPORT_TYPES_' + (type | uppercase) | translate }}
                </div>
              }
            </div>
          </cos-dropdown>
        </div>

        <div class="form_group">
          <label translate="COMPONENTS.TOPIC_REPORT_FORM.LBL_REPORT_TEXT"></label>
          <textarea formControlName="text"
                    [placeholder]="'COMPONENTS.TOPIC_REPORT_FORM.PLACEHOLDER_REPORT_TEXT' | translate"
                    maxlength="2024"></textarea>
          <div class="char_count">{{ reportForm.get('text')?.value?.length || 0 }}/2024</div>
        </div>
      </form>
    </div>

    <div class="dialog_footer with_buttons">
      <div class="button_row">
        <cos-button variant="secondary" (clicked)="close()" translate="COMPONENTS.TOPIC_REPORT_FORM.BTN_CANCEL"></cos-button>
        <cos-button variant="primary" (clicked)="doReport()" [disabled]="reportForm.invalid || isLoading()" translate="COMPONENTS.TOPIC_REPORT_FORM.BTN_REPORT"></cos-button>
      </div>
    </div>
  </div>
</div>
