<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header warning">
      <div class="header_with_icon">
        <div class="icon_notification">
          <cos-icon name="warning-filled" [size]="40"></cos-icon>
        </div>
        <h1 class="title">{{ 'MODALS.TOPIC_REPORT_HEADING' | translate }}</h1>
      </div>
      <div class="dialog_close">
        <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
          <cos-icon name="nav-close"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <div class="content_text">{{ 'MODALS.TOPIC_REPORT_DESCRIPTION' | translate }}</div>

      <form [formRoot]="reportForm" (submit)="doReport(); $event.preventDefault()">
        <div class="form_group">
          <label for="report_type">{{ 'COMPONENTS.TOPIC_REPORT_FORM.LBL_REPORT_TYPE' | translate }}</label>
          <cos-dropdown id="report_type">
            <div selection class="selected_item" [attr.aria-label]="'COMPONENTS.TOPIC_REPORT_FORM.LBL_REPORT_TYPE' | translate">
              {{ 'TXT_REPORT_TYPES_' + (reportForm().value().type | uppercase) | translate }}
            </div>
            <div options>
              @for (type of reportTypes; track type) {
                <div class="option" (click)="changeType(type)" (keydown.enter)="changeType(type)" tabindex="0" role="option" [attr.aria-selected]="reportForm().value().type === type">
                  {{ 'TXT_REPORT_TYPES_' + (type | uppercase) | translate }}
                </div>
              }
            </div>
          </cos-dropdown>
        </div>

        <div class="form_group">
          <label for="report_text">{{ 'COMPONENTS.TOPIC_REPORT_FORM.LBL_REPORT_TEXT' | translate }}</label>
          <textarea id="report_text" [formField]="reportForm.text"
                    [placeholder]="'COMPONENTS.TOPIC_REPORT_FORM.PLACEHOLDER_REPORT_TEXT' | translate"></textarea>
          <div class="char_count">{{ reportForm().value().text.length || 0 }}/2024</div>
        </div>
      </form>
    </div>

    <div class="dialog_footer with_buttons">
      <div class="button_row">
        <cos-button variant="secondary" (clicked)="close()" translate="COMPONENTS.TOPIC_REPORT_FORM.BTN_CANCEL"></cos-button>
        <cos-button variant="primary" (clicked)="doReport()" [isDisabled]="reportForm().invalid() || isLoading()" translate="COMPONENTS.TOPIC_REPORT_FORM.BTN_REPORT"></cos-button>
      </div>
    </div>
  </div>
</div>
