<div id="create_argument_tablet_btn">
  <button type="button" class="btn_big_submit" (click)="isOpen.set(true)" [aria-label]="'COMPONENTS.POST_ARGUMENT.FOOTER_MENU_BTN_ADD_ARGUMENT' | translate">
    <cos-icon name="plus" [size]="24"></cos-icon>
  </button>
</div>

<div id="create_argument_footer_menu" [class.open]="!isOpen()" [class.closed]="isOpen()">
  <h2 class="footer_title">{{ 'COMPONENTS.POST_ARGUMENT.FOOTER_MENU_TITLE' | translate }}</h2>
  <button type="button" class="btn_medium_submit" (click)="isOpen.set(true)">
    <span class="btn_text">{{ 'COMPONENTS.POST_ARGUMENT.FOOTER_MENU_BTN_ADD_ARGUMENT' | translate }}</span>
  </button>
</div>

<div id="create_argument_footer" [class.open]="isOpen()" [class.closed]="!isOpen()">
  <div id="post_argument_form_wrap">
    <div class="form_header">
      <h3>{{ 'COMPONENTS.POST_ARGUMENT.FOOTER_FORM_TITLE' | translate }}</h3>
      <div id="close_mobile" class="mobile_show">
        <button type="button" class="btn_small_close icon close_button mobile_show" (click)="close()" [aria-label]="'CONTROL.CLOSE' | translate">
          <cos-icon name="close" [size]="24"></cos-icon>
        </button>
      </div>
    </div>
    
    <form id="argument_form">
      <div id="type_select_wrap">
        <div class="type_item">{{ 'COMPONENTS.POST_ARGUMENT.FOOTER_FORM_ARGUMENT_TYPE_TITLE' | translate }}</div>
        @for (atype of types; track atype) {
          <div class="type_item" [class]="atype">
            <label class="radio_box">
              <input type="radio" [checked]="argumentType() === atype" name="argumentType" [value]="atype" (change)="argumentType.set(atype)">
              <span class="radio"></span>
              <div class="radio_lable">{{ 'COMPONENTS.POST_ARGUMENT.ARGUMENT_TYPE_SELECT_OPTION_' + atype.toUpperCase() | translate }}</div>
            </label>
          </div>
        }
      </div>

      <cos-input
        [placeholder]="'COMPONENTS.POST_ARGUMENT.PLACEHOLDER_ADD_SUBJECT_TO_ARGUMENT' | translate"
      >
        <input id="argument_subject" name="subject" [ngModel]="subject()" (ngModelChange)="subject.set($event)" autocomplete="off"
          [placeholder]="'COMPONENTS.POST_ARGUMENT.PLACEHOLDER_ADD_SUBJECT_TO_ARGUMENT' | translate"
          class="gray_borders" [class.error_input]="!subject().trim() && subjectTouched()" (focus)="focusArgumentSubject.set(true)" (blur)="focusArgumentSubject.set(false); subjectTouched.set(true)"
          [attr.maxlength]="ARGUMENT_SUBJECT_MAXLENGTH" required>
        @if (!subject().trim() && subjectTouched()) {
          <label for="argument_subject" class="error_label">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.89438 1.78863C8.52586 1.05158 7.47405 1.05158 7.10553 1.78863L0.723562 14.5526C0.391112 15.2175 0.874608 15.9998 1.61799 15.9998H14.3819C15.1253 15.9998 15.6088 15.2175 15.2763 14.5526L8.89438 1.78863ZM6.99996 6.99977C6.99996 6.44749 7.44767 5.99977 7.99996 5.99977C8.55224 5.99977 8.99996 6.44749 8.99996 6.99977V9.99977C8.99996 10.5521 8.55224 10.9998 7.99996 10.9998C7.44767 10.9998 6.99996 10.5521 6.99996 9.99977V6.99977ZM6.99996 12.9998C6.99996 12.4475 7.44767 11.9998 7.99996 11.9998C8.55224 11.9998 8.99996 12.4475 8.99996 12.9998C8.99996 13.5521 8.55224 13.9998 7.99996 13.9998C7.44767 13.9998 6.99996 13.5521 6.99996 12.9998Z" fill="#EF4025" />
            </svg>
            <span class="error_text" translate="COMPONENTS.POST_ARGUMENT.MSG_ERROR_SUBJECT"></span>
          </label>
        }
      </cos-input>

      <div id="subject_counter">{{ 'COMPONENTS.POST_ARGUMENT.SUBJECT_CHARACTERS_LEFT' | translate:{chars: subject().length || 0, charsLeft: ARGUMENT_SUBJECT_MAXLENGTH} }}</div>
      
      <label class="sr-only" for="argument_text">{{ 'COMPONENTS.POST_ARGUMENT.PLACEHOLDER_EXPLAIN_YOUR_ARGUMENT' | translate }}</label>
      <textarea cosMarkdown
        id="argument_text"
        class="gray_borders"
        [class.error_input]="!text().trim() && textTouched()"
        [item]="text()"
        [initialValue]="''"
        (itemChange)="text.set($event)"
        (blur)="textTouched.set(true)"
        [limit]="argumentMaxLength()"
        [cosMarkdownTranslateCharacterStatusKey]="'COMPONENTS.POST_ARGUMENT.ARGUMENT_TYPE_CHARACTER_LIMIT'"
        placeholder="COMPONENTS.POST_ARGUMENT.PLACEHOLDER_EXPLAIN_YOUR_ARGUMENT"
      ></textarea>
      @if (!text().trim() && textTouched()) {
        <label for="argument_text" class="error_label">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.89438 1.78863C8.52586 1.05158 7.47405 1.05158 7.10553 1.78863L0.723562 14.5526C0.391112 15.2175 0.874608 15.9998 1.61799 15.9998H14.3819C15.1253 15.9998 15.6088 15.2175 15.2763 14.5526L8.89438 1.78863ZM6.99996 6.99977C6.99996 6.44749 7.44767 5.99977 7.99996 5.99977C8.55224 5.99977 8.99996 6.44749 8.99996 6.99977V9.99977C8.99996 10.5521 8.55224 10.9998 7.99996 10.9998C7.44767 10.9998 6.99996 10.5521 6.99996 9.99977V6.99977ZM6.99996 12.9998C6.99996 12.4475 7.44767 11.9998 7.99996 11.9998C8.55224 11.9998 8.99996 12.4475 8.99996 12.9998C8.99996 13.5521 8.55224 13.9998 7.99996 13.9998C7.44767 13.9998 6.99996 13.5521 6.99996 12.9998Z" fill="#EF4025" />
          </svg>
          <span class="error_text" translate="COMPONENTS.POST_ARGUMENT.MSG_ERROR_TEXT" [translateParams]="{chars: argumentMaxLength()}"></span>
        </label>
      }

    </form>
  </div>

  <div id="buttons_row">
    <div id="close_create">
      <button type="button" class="btn_medium_submit_ghost icon close_button" (click)="close()" [aria-label]="'CONTROL.CLOSE' | translate">
        <cos-icon name="close" [size]="24"></cos-icon>
      </button>
    </div>
    <div id="navigate_create">
      <button type="button" class="btn_medium_submit icon" (click)="submit()" [disabled]="!subject().trim() || !text().trim()">
        <span class="btn_text">{{ 'COMPONENTS.POST_ARGUMENT.BTN_ARGUMENT_POST' | translate }}</span>
      </button>
    </div>
  </div>
</div>

@if (isOpen()) {
  <div class="overlay" (click)="close()" (keydown.enter)="close()" role="button" tabindex="0" [aria-label]="'CONTROL.CLOSE' | translate"></div>
}
