<div class="info_items_wrap">
  <div class="info_header">
    <div class="info_title" translate="VIEWS.TOPICS_TOPICID.SECTION_PARTICIPANTS_HEADING"></div>
    @if (topicService.canUpdate(topic())) {
      <a class="manage_link" (click)="manageParticipants()">
        <span translate="VIEWS.TOPICS_TOPICID.LNK_MANAGE"></span>
      </a>
    }
  </div>
  <div class="participants_count_wrap">
    <div class="participants_count">
      {{ topic().members.users.count || members().length }}
    </div>
    <div class="avatars_wrap">
      @for (index of [0, 1, 2]; track index) {
        @if (members()[index]) {
          <div class="avatar">
            @if (members()[index].imageUrl) {
              <img [src]="members()[index].imageUrl" [alt]="members()[index].name || ''" />
            }
            @if (!members()[index].imageUrl) {
              <div class="profile_image_filler">
                @if (members()[index].name) {
                  <cos-initials [name]="members()[index].name" />
                }
              </div>
            }
          </div>
        }
      }
      @if (members().length > 3) {
        <div class="avatar">
          + {{ topic().members.users.count - 3 }}
        </div>
      }
    </div>
  </div>
  @if (topicService.canDelete(topic())) {
    <button class="btn_medium_secondary bold"
      (click)="inviteMembers()"
      translate="VIEWS.TOPICS_TOPICID.SECTION_PARTICIPANTS_BTN_SHARE">
    </button>
  }
</div>
