@use '../../../../styles/mixins';

#tour_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999999999999;
}

.tour_box {
  display: flex;
  flex-direction: column;
  z-index: 999999999999;
  border-radius: 8px;
  background: var(--color-text);
  padding: 16px;
  transition: all 0.5s ease-in-out;
  gap: 16px;
  position: absolute;
  width: 560px;
  /* Shadow/Heavy */
  box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
    0px 12px 16px 0px rgba(50, 85, 112, 0.1);
  pointer-events: auto;

  @include mixins.mobile {
    width: calc(100% - 16px);
  }

  &.hidden {
    display: none;
  }

  .tour_header,
  .tour_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-blue-200);
    
    a {
      color: var(--color-blue-200);
      cursor: pointer;

      &.skip {
        color: var(--color-error-background);
      }
    }

    .nav_items_wrap {
      display: flex;
      align-items: center;
      gap: 8px;

      .nav_item {
        width: 8px;
        height: 8px;
        min-width: 8px;
        min-height: 8px;
        flex-shrink: 0;
        border-radius: 8px;
        background-color: var(--color-argument-info);

        &.active {
          background-color: var(--color-blue-200);
        }
      }
    }

    .nav_links_wrap {
      display: flex;
      gap: 16px;
    }
  }

  .tour_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    gap: 8px;
    max-height: 300px;
    overflow-y: auto;

    ::ng-deep .title {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px; /* 133.333% */
      color: var(--color-surfaces);
    }

    ::ng-deep .description {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      color: var(--color-surfaces);
      align-items: center;
      vertical-align: middle;

      span {
        padding-right: 4px;
        font-family: Noto Sans;
        font-size: 14px;
        font-style: normal;
        line-height: 16px;
      }
      .icon {
        vertical-align: middle;
      }
      .ideation_text {
        font-weight: 600;
        color: var(--color-ideation-disabled);
      }
      .discussion_text {
        font-weight: 600;
        color: var(--color-blue-200);
      }
      .vote_text {
        font-weight: 600;
        color: var(--color-voting-disabled);
      }
      .follow_up_text {
        font-weight: 600;
        color: var(--color-follow-up-disabled);
      }
    }
  }
}

.tour_arrow {
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  z-index: 999999999999;
  transition: all .5s ease-in-out;
  visibility: visible;
  /* Shadow/Heavy */
  box-shadow: 0px 8px 20px 0px rgba(220, 231, 240, 0.3),
    0px 12px 16px 0px rgba(50, 85, 112, 0.1);

  &.hidden {
    visibility: hidden;
  }
  &.bottom_arrow {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--color-text);
    bottom: 100%;
    left: 50%;
  }
  &.left_arrow {
      border-right: 6px solid var(--color-text);
      right: 100%;
      top: 16px;
      margin-top: -6px;
  }

  &.right_arrow {
      border-left: 6px solid var(--color-text);
      left: 100%;
      top: 16px;
      margin-top: -6px;
  }
  &.top_arrow {
      border-top: 6px solid var(--color-text);
      border-right: 6px solid transparent;
      border-left: 6px solid transparent;
      top: 100%;
      left: 50%;
  }
}
