<div class="topic_content_wrap">
  @if (topic().imageUrl) {
    <div class="topic_image">
        <img [src]="topic().imageUrl + '?' + topic().updatedAt" [alt]="topic().title || ''" />
      
      @if (!topic().permission.level || topic().permission.level !== 'none') {
        <div class="permissions_lable tablet_show" [translate]="
          topic().permission.level !== 'read'
            ? ('TXT_TOPIC_LEVELS_' + (topic().permission.level | uppercase))
            : 'VIEWS.TOPICS_TOPICID.LBL_JOINED'
        "></div>
      }
    </div>
  }

  <div id="topic_text_wrap" #topicText [@readMore]="readMore() ? 'open' : 'closed'">
    <div class="topic_title" [ngClass]="{ tablet_tab_open: !!tabTablet() }">
      <div class="main_heading" [innerHTML]="topic().title"></div>
    </div>
    
    @if (topic().intro && !tabTablet()) {
      <div class="topic_intro" [innerHTML]="topic().intro"></div>
    }
    
    @if (!tabTablet()) {
      <div class="topic_content" [innerHTML]="getSafeHtml(topic().description)"></div>
    }
    
    @if (readMoreButton() && !tabTablet()) {
      <div class="button_wrap" [ngClass]="{ open: readMore() }">
        <button class="btn_medium_secondary" (click)="toggleReadMore()">
          @if (!readMore()) {
            <cos-icon name="chevron-down" [size]="24" color="#1168A8"></cos-icon>
            <span translate="VIEWS.TOPICS_TOPICID.BTN_READ_MORE"></span>
          } @else {
            <cos-icon name="chevron-up" [size]="24" color="#1168A8"></cos-icon>
            <span translate="VIEWS.TOPICS_TOPICID.BTN_READ_LESS"></span>
          }
        </button>
      </div>
    }
  </div>
</div>
