<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.HEADING"></h4>
        <div class="dialog_close">
          <button class="btn_dialog_close icon" dialogClose>
            <cos-icon name="nav-close"></cos-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog_content">
      <cos-typeahead
        [placeholder]="'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.PLACEHOLDER_SEARCH' | translate"
        (searchQuery)="onSearch($event)"
      >
        @for (topic of searchResults(); track topic.id) {
          <div class="typeahead-item" (mousedown)="addTopic(topic)">{{ topic.title }}</div>
        }
      </cos-typeahead>

      @if (topicsToAdd().length) {
        <div class="topics_list">
          @for (topic of topicsToAdd(); track topic.id) {
            <div class="topic_row">
              <span class="topic_title">{{ topic.title }}</span>
              <cos-dropdown>
                <div selection>{{ 'TXT_TOPIC_PERMISSION_' + topic.selectedLevel.toUpperCase() | translate }}</div>
                <div options>
                  @for (level of LEVELS; track level) {
                    <div class="option" (click)="updateLevel(topic, level)">{{ 'TXT_TOPIC_PERMISSION_' + level.toUpperCase() | translate }}</div>
                  }
                </div>
              </cos-dropdown>
              <button class="remove_btn" (click)="removeTopic(topic)">
                <cos-icon name="close" [size]="16"></cos-icon>
              </button>
            </div>
          }
        </div>
      }

      @if (noTopicsSelected()) {
        <div class="inline_error" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.NO_TOPICS_SELECTED"></div>
      }
    </div>

    <div class="dialog_footer with_buttons">
      <div></div>
      <div class="button_row">
        <a dialogClose translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.LNK_CANCEL"></a>
        <button class="btn_medium_submit" (click)="save()" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.BTN_SAVE"></button>
      </div>
    </div>
  </div>
</div>
