<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h1 class="title">{{ 'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.HEADING' | translate }}</h1>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [attr.aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="nav-close"></cos-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog_content">
      <cos-typeahead
        [placeholder]="'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.PLACEHOLDER_SEARCH' | translate"
        (search)="onSearch($event)"
      >
        @for (topic of searchResults(); track topic.id) {
          <div [typeaheadItem]="{ id: topic.id, topic }" [typeaheadSelect]="{ id: topic.id, topic }" (select)="addTopic(topic)" class="typeahead-item" role="button" tabindex="0">{{ topic.title }}</div>
        }
      </cos-typeahead>

      @if (topicsToAdd().length) {
        <div class="topics_list">
          @for (topic of topicsToAdd(); track topic.id) {
            <div class="topic_row">
              <span class="topic_title">{{ topic.title }}</span>
              <cos-dropdown>
                <div selection role="button" tabindex="0" [attr.aria-label]="topic.title">{{ 'TXT_TOPIC_PERMISSION_' + topic.selectedLevel.toUpperCase() | translate }}</div>
                <div options>
                  @for (level of LEVELS; track level) {
                    <div class="option" (click)="updateLevel(topic, level)" (keydown.enter)="updateLevel(topic, level)" role="button" tabindex="0">{{ 'TXT_TOPIC_PERMISSION_' + level.toUpperCase() | translate }}</div>
                  }
                </div>
              </cos-dropdown>
              <button type="button" class="remove_btn" (click)="removeTopic(topic)" [attr.aria-label]="'CONTROL.DELETE' | translate">
                <cos-icon name="close" [size]="16"></cos-icon>
              </button>
            </div>
          }
        </div>
      }

      @if (noTopicsSelected()) {
        <div class="inline_error">{{ 'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.NO_TOPICS_SELECTED' | translate }}</div>
      }
    </div>

    <div class="dialog_footer with_buttons">
      <div></div>
      <div class="button_row">
        <button type="button" class="btn_link" dialogClose>{{ 'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.LNK_CANCEL' | translate }}</button>
        <button type="button" class="btn_medium_submit" (click)="save()">{{ 'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.BTN_SAVE' | translate }}</button>
      </div>
    </div>
  </div>
</div>
