<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.HEADING"></h4>
        <a class="btn_dialog_close icon" dialogClose>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.72152 6.29537C7.3277 5.90154 6.68919 5.90154 6.29537 6.29537C5.90154 6.68919 5.90154 7.3277 6.29537 7.72153L10.5738 12L6.29541 16.2785C5.90159 16.6723 5.90159 17.3108 6.29541 17.7046C6.68923 18.0985 7.32774 18.0985 7.72156 17.7046L12 13.4262L16.2784 17.7046C16.6723 18.0985 17.3108 18.0985 17.7046 17.7046C18.0984 17.3108 18.0984 16.6723 17.7046 16.2785L13.4262 12L17.7046 7.72153C18.0985 7.3277 18.0985 6.68919 17.7046 6.29537C17.3108 5.90154 16.6723 5.90154 16.2785 6.29537L12 10.5739L7.72152 6.29537Z" fill="#2C3B47"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="dialog_content">
      <cos-typeahead
        [placeholder]="'COMPONENTS.GROUP_ADD_TOPICS_DIALOG.PLACEHOLDER_SEARCH' | translate"
        (search)="onSearch($event)"
      >
        @for (topic of searchResults(); track topic.id) {
          <div class="typeahead-item" (mousedown)="addTopic(topic)">{{ topic.title }}</div>
        }
      </cos-typeahead>

      @if (topicsToAdd().length) {
        <div class="topics_list">
          @for (topic of topicsToAdd(); track topic.id) {
            <div class="topic_row">
              <span class="topic_title">{{ topic.title }}</span>
              <cos-dropdown>
                <div selection>{{ 'TXT_TOPIC_PERMISSION_' + topic.selectedLevel.toUpperCase() | translate }}</div>
                <div options>
                  @for (level of LEVELS; track level) {
                    <div class="option" (click)="updateLevel(topic, level)">{{ 'TXT_TOPIC_PERMISSION_' + level.toUpperCase() | translate }}</div>
                  }
                </div>
              </cos-dropdown>
              <button class="remove_btn" (click)="removeTopic(topic)">
                <cos-icon name="close" [size]="16"></cos-icon>
              </button>
            </div>
          }
        </div>
      }

      @if (noTopicsSelected()) {
        <div class="inline_error" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.NO_TOPICS_SELECTED"></div>
      }
    </div>

    <div class="dialog_footer with_buttons">
      <div></div>
      <div class="button_row">
        <a dialogClose translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.LNK_CANCEL"></a>
        <button class="btn_medium_submit" (click)="save()" translate="COMPONENTS.GROUP_ADD_TOPICS_DIALOG.BTN_SAVE"></button>
      </div>
    </div>
  </div>
</div>
