@if (topic() && group()) {
  <div class="name">
    <div class="profile_image_wrap">
      @if (group().imageUrl) {
        <img class="profile_image" [src]="group().imageUrl" alt="">
      }
      @if (!group().imageUrl) {
        <div class="profile_image_filler">
          @if (group().name) {
            <cos-initials class="table_cell" [name]="group().name"></cos-initials>
          }
        </div>
      }
    </div>
    @if (group().permission?.level) {
      <a class="user_name" [routerLink]="['/my/groups/', group().id]" [innerHtml]="group().name"></a>
    }
  </div>
  <div class="level">
    @if (topicService.canUpdate(topic())) {
      <div class="dropdown" cosDropdown>
        <div class="selection">
          <div class="selected_item">{{ 'TXT_TOPIC_LEVELS_' + groupLevel() | uppercase | translate }}</div>
          <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
        </div>
        <div class="options">
          @for (level of groupLevels; track level) {
            <div class="option" (click)="doUpdateMemberGroup(level)" (keydown.enter)="doUpdateMemberGroup(level)" role="button" tabindex="0">
              {{ 'TXT_TOPIC_LEVELS_' + level | uppercase | translate }}
            </div>
          }
        </div>
      </div>
    }
    <div class="dropdown button_dropdown" cosDropdown>
      <button type="button" [aria-label]="'CONTROL.MORE' | translate">
        <cos-icon name="topic-member-user-icon-legacy" size="17"></cos-icon>
      </button>
      <div class="options">
        <div class="option" (click)="doDeleteMemberGroup()" (keydown.enter)="doDeleteMemberGroup()" role="button" tabindex="0">
          {{ 'COMPONENTS.TOPIC_MEMBER_GROUP.OPT_REMOVE_GROUP' | translate }}
        </div>
      </div>
    </div>
  </div>
}
