@use "mixins";

.topic_tabs {
  display: flex;
  background-color: var(--color-surfaces);
  width: 100%;
  border-radius: 16px;
  padding: 0px 16px;
  gap: 32px;
  position: relative;
  justify-content: space-between;

  .tabs_wrap {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  #activities_button_wrap {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    position: absolute;
    right: 24px;
    height: 100%;

    @media (max-width: 1024px) {
      display: none;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }

  &.tablet {
    display: none;
    z-index: 999999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -8px 20px 0px rgba(220, 231, 240, 0.1);

    @media (max-width: 1024px) {
      display: flex;

      .tabs_wrap {
        width: 100%;
        justify-content: space-around;
        gap: 0;
      }
    }

    .topic_tab {
      .active {
        background-color: var(--color-blue-100);
        border-bottom: none;
      }
      &.discussion.active {
        background-color: var(--color-discussion);
        color: var(--color-surfaces);
        rect { fill: var(--color-blue-100); }
        path { fill: var(--color-discussion); }
      }
      &.voting.active {
        background-color: var(--color-voting);
        color: var(--color-surfaces);
        rect { fill: var(--color-dialog-voting-contrast); }
        path { fill: var(--color-voting); }
      }
      &.ideation.active {
        background-color: var(--color-ideation);
        color: var(--color-surfaces);
      }
      &.follow_up.active {
        background-color: var(--color-follow-up);
        color: var(--color-surfaces);
        rect { fill: var(--color-dialog-follow-up); }
        path { fill: var(--color-follow-up); }
      }
    }
  }
}

.topic_tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 19px 24px;
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;

  cos-domain-icon {
    width: 32px;
    height: 32px;
  }

  @media (max-width: 1024px) {
    padding: 12px 38px;
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 768px) {
    padding: 12px 0;
  }

  &.active {
    font-weight: 600;
    border-bottom: 2px solid var(--color-discussion);

    @media (max-width: 1024px) {
      background-color: var(--color-blue-100);
      border-bottom: none;
    }

    &.ideation {
      border-bottom: 2px solid var(--color-ideation);
      @media (max-width: 1024px) { border-bottom: none; }
    }

    &.voting {
      border-bottom: 2px solid var(--color-voting);
      @media (max-width: 1024px) { border-bottom: none; }
    }

    &.follow_up {
      border-bottom: 2px solid var(--color-follow-up);
      @media (max-width: 1024px) { border-bottom: none; }
    }
  }

  .tab_text {
    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.btn_medium_close.icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  
  &:hover {
    background-color: var(--color-blue-10);
  }
  
  &.like_active {
    svg path {
      fill: var(--color-text-main);
    }
  }
}
