<div class="overlay" dialogClose (keydown.enter)="dialogRef.close()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header voting">
      <div class="header_with_icon voting">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#5AB467"/>
          <path d="M26.3432 15.9229L27.0634 10L21.1505 10.7214L23.1001 12.6743L15.7221 20.0647L17.1292 21.4742L24.5072 14.0838L26.3432 15.9229Z" fill="white"/>
          <path d="M17.9282 29L28 18.9113L26.5929 17.5018L17.9352 26.174L13.4071 21.6524L12 23.0618L17.9282 29Z" fill="white"/>
        </svg>
        <h4 class="title">{{ 'MODALS.TOPIC_VOTE_DELEGATE_HEADING' | translate }}</h4>
      </div>
      <div class="dialog_close">
        <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
          <cos-icon name="close" [size]="24"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <div class="dialog_info">{{ 'MODALS.TOPIC_VOTE_DELEGATE_LBL_SEARCH_MEMBERS' | translate }}</div>
      <div class="dialog_info bold">{{ 'MODALS.TOPIC_VOTE_DELEGATE_LBL_INFO' | translate }}</div>
      <div class="dialog_info">
        <div id="search_wrap">
          <input
            type="text"
            class="input_area"
            [value]="searchStr()"
            (input)="onSearch($event)"
            [placeholder]="'MODALS.TOPIC_VOTE_DELEGATE_PLACEHOLDER_SEARCH_BY_NAME' | translate"
          />
          @if (searchResults().length) {
            <div class="search_area_wrap">
              @for (user of searchResults(); track user.id) {
                <div class="search_dropdown_item" (click)="selectUser(user)" (keydown.enter)="selectUser(user)" tabindex="0" role="button">
                  <div class="item_text_wrap">
                    <b>{{ user.name }}</b>
                  </div>
                </div>
              }
            </div>
          }
        </div>
        @if (delegateUser()) {
          <div class="row_list">
            <div class="row_cell_dialog image_cell">
              <div class="profile_image_wrap">
                @if (delegateUser()?.imageUrl) {
                  <img class="profile_image" [src]="delegateUser()?.imageUrl" alt="" />
                } @else {
                  <div class="profile_image_filler">
                    @if (delegateUser()?.name) {
                      <span class="initials">{{ delegateUser()?.name?.charAt(0) }}</span>
                    }
                  </div>
                }
              </div>
              <span>{{ delegateUser()?.name }}</span>
            </div>
            <div class="row_cell_dialog">
              <button type="button" (click)="removeDelegate()" [aria-label]="'CONTROL.DELETE' | translate">
                <cos-icon name="trash" [size]="24"></cos-icon>
              </button>
            </div>
          </div>
        }
      </div>
    </div>
    <div class="dialog_content button_content no_footer">
      <div class="button_wrap">
        @if (delegateUser()) {
          <button type="button" class="btn_medium_submit" (click)="save()">{{ 'MODALS.TOPIC_VOTE_DELEGATE_BTN_DELEGATE' | translate }}</button>
        }
        <button type="button" class="btn_link" dialogClose>{{ 'COMPONENTS.TOPIC_VOTE_CREATE.LNK_CANCEL' | translate }}</button>
      </div>
    </div>
  </div>
</div>
