<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h1 class="title">{{ 'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.HEADING' | translate }}</h1>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [attr.aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="nav-close"></cos-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog_content">
      <cos-typeahead
        [placeholder]="'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.PLACEHOLDER_SEARCH' | translate"
        (search)="onSearch($event)"
      >
        @for (topic of searchResults(); track topic.id) {
          <div [typeaheadItem]="{ id: topic.id, topic }" [typeaheadSelect]="{ id: topic.id, topic }" (select)="addTopic(topic)" class="typeahead-item" role="button" tabindex="0">{{ topic.title }}</div>
        }
      </cos-typeahead>

      @if (topicsToRequest().length) {
        <div class="topics_list">
          @for (topic of topicsToRequest(); track topic.id) {
            <div class="topic_row">
              <span class="topic_title">{{ topic.title }}</span>
              <button type="button" class="remove_btn" (click)="removeTopic(topic)" [attr.aria-label]="'CONTROL.DELETE' | translate">
                <cos-icon name="close" [size]="16"></cos-icon>
              </button>
            </div>
          }
        </div>
      }

      <div class="input_wrap">
        <label class="bold" for="request_message">{{ 'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.LBL_MESSAGE' | translate }}</label>
        <textarea
          id="request_message"
          rows="3"
          [placeholder]="'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.PLACEHOLDER_MESSAGE' | translate"
          [ngModel]="message()"
          (ngModelChange)="message.set($event)"
        ></textarea>
      </div>

      @if (noTopicsSelected()) {
        <div class="inline_error">{{ 'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.NO_TOPICS_SELECTED' | translate }}</div>
      }
    </div>

    <div class="dialog_footer with_buttons">
      <div></div>
      <div class="button_row">
        <button type="button" class="btn_link" dialogClose>{{ 'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.LNK_CANCEL' | translate }}</button>
        <button type="button" class="btn_medium_submit" (click)="send()">{{ 'COMPONENTS.GROUP_REQUEST_ADD_TOPICS_DIALOG.BTN_SEND' | translate }}</button>
      </div>
    </div>
  </div>
</div>
