$padding-standard: 24px;
$gap-standard: 16px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 576px;

:host {
  display: block;
}

.dashboard_section {
  display: flex;
  flex-direction: column;

  @media (max-width: $breakpoint-mobile) {
    padding: 0 8px;

    &.items_list_section {
      .section_content {
        margin-right: -8px;
      }
    }
  }

  .section_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      align-items: center;
      display: flex;
      gap: 8px;
      vertical-align: middle;
      text-decoration: none;
      color: var(--color-link);

      path {
        fill: var(--color-link);
      }
    }

    .view_more_link {
      @media (max-width: $breakpoint-mobile) {
        display: none;
      }
    }
  }

  .section_content {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: $gap-standard;
    padding: $padding-standard 0;

    @media (max-width: $breakpoint-mobile) {
      padding: $gap-standard 0;
    }
  }
}

.view_more_button {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: flex;
    margin-top: $padding-standard;
  }
}
