<cos-create-wizard-shell
  domainType="vote"
  headingKey="VIEWS.VOTE_CREATE.HEADING"
  [steps]="steps"
  [currentStep]="currentStep()"
  [hasSidebar]="true"
  [isNextDisabled]="isFooterNextDisabled()"
  [topic]="topicModel()"
  (stepChange)="onStepChange($event)"
  (saveDraft)="saveAsDraft()"
  (footerContinue)="handleFooterContinue()"
  (footerBack)="handleFooterBack()"
  (deleteTopic)="doDeleteTopic()"
>
  @if (isLoading()) {
    <div class="loading-overlay">
      <div class="loader"></div>
    </div>
  }

  @switch (currentStep()) {
    @case ('info') {
      <cos-step-topic-info
        [topic]="topicModel()"
        (topicUpdate)="onTopicUpdate($event)"
      ></cos-step-topic-info>
    }
    @case ('settings') {
      <cos-step-topic-settings
        [topic]="topicModel()"
        (topicUpdate)="onTopicUpdate($event)"
        (groupsAdded)="onGroupsAdded($event)"
        (groupRemoved)="onGroupRemoved($event)"
      ></cos-step-topic-settings>
    }
    @case ('voting') {
      <cos-step-vote-settings
        [vote]="voteModel()"
        (voteUpdate)="onVoteUpdate($event)"
      ></cos-step-vote-settings>
    }
    @case ('preview') {
      <cos-step-topic-preview
        [topic]="topicModel()"
        [vote]="voteModel()"
      ></cos-step-topic-preview>
    }
    @default {
    }
  }

  <div sidebar class="sidebar_block">
    <cos-member-editors-panel
      [topic]="topicModel()"
      [members]="members()"
      [invites]="invites()"
      (inviteEditors)="inviteEditors()"
    ></cos-member-editors-panel>
  </div>
</cos-create-wizard-shell>
