<div class="overlay" (click)="doSaveSettings()" (keydown.enter)="doSaveSettings()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div class="dialog" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" role="dialog" aria-modal="true">
    <div class="dialog_header">
      <div class="header_text">
        <h1 class="title">{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_TITLE' | translate }}</h1>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" (click)="doSaveSettings()" [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="close"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    
    @if (topic()) {
      <div class="dialog_info_wrap">
        <div class="dialog_info">
          <div class="info_row">
            <cos-icon name="topic" [size]="32"></cos-icon>
            <div class="bold" [innerHTML]="topic()?.title"></div>
          </div>
        </div>
        <div class="dialog_info" [ngClass]="{'toggle_off': !allowNotifications(), 'toggle_on': allowNotifications()}">
          <div class="info_row with_toggle">
            <div class="bold">{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_NOTIFICATIONS' | translate }}</div>
            <cos-toggle [textOn]="'TOGGLE_ON' | translate" [textOff]="'TOGGLE_OFF' | translate"
              [model]="allowNotifications()" (toggleClick)="allowNotifications.set($event)"></cos-toggle>
          </div>
        </div>
      </div>
      
      <div class="dialog_content">
        <div class="line_separator"></div>
        <h2 class="bold">{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_NOTIFY_ME_ABOUT' | translate }}</h2>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_ALL_ACTIONS' | translate }}</span>
          <input type="checkbox" [checked]="allChecked()" (change)="toggleAllNotifications()">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_UPDATES' | translate }}</span>
          <input type="checkbox" [checked]="preferences().Topic && preferences().TopicReport"
            (change)="selectOption(['Topic', 'TopicReport']);">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_DISCUSSION' | translate }}</span>
          <input type="checkbox" [checked]="preferences().Discussion && preferences().DiscussionComment && preferences().CommentVote"
            (change)="selectOption(['Discussion', 'DiscussionComment', 'CommentVote', 'TopicComment', 'CommentReport' ]);">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_IDEATION' | translate }}</span>
          <input type="checkbox" [checked]="preferences().Ideation && preferences().IdeaVote && preferences().Idea && preferences().TopicIdeation && preferences().IdeaComment"
            (change)="selectOption(['Ideation', 'Idea', 'IdeaVote', 'TopicIdeation', 'IdeaComment', 'IdeaReport']);">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_VOTING' | translate }}</span>
          <input type="checkbox" [checked]="preferences().TopicVoteList" (change)="selectOption('TopicVoteList');">
          <span class="checkmark"></span>
        </label>
        <label class="checkbox"><span>{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LBL_TOPIC_FOLLOW_UP' | translate }}</span>
          <input type="checkbox" [checked]="preferences().TopicEvent" (change)="selectOption('TopicEvent');">
          <span class="checkmark"></span>
        </label>
      </div>
    }

    <div class="dialog_footer with_buttons">
      <button type="button" class="btn_link" (click)="doSaveSettings()">{{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_LNK_CANCEL' | translate }}</button>
      <button type="button" class="btn_medium_submit" (click)="doSaveSettings()">
        {{ 'MODALS.TOPIC_NOTIFICATION_SETTINGS_BTN_SAVE' | translate }}
      </button>
    </div>
  </div>
</div>
