<div class="name">
  <div class="profile_image_wrap">
    @if (member().imageUrl) {
      <img class="profile_image" [src]="member().imageUrl" alt="">
    }
    @if (!member().imageUrl) {
      <div class="profile_image_filler">
        @if (member().name) {
          <cos-initials class="table_cell" [name]="member().name"></cos-initials>
        }
      </div>
    }
  </div>
  <div class="member_info">
    <div class="bold user_name">{{ member().name }}</div>
    <div class="via">
      @if (withEmail() && member().email) {
        <span>{{ member().email }}</span>
      }
    </div>
    @if (member().groups; as groups) {
      @if (groups.rows?.length && !member().levelUser) {
        <div class="via">
          <span>{{ 'COMPONENTS.TOPIC_MEMBER_USER.LBL_VIA' | translate }}</span>
          @for (group of groups.rows; track group.id; let i = $index) {
            @if (i !== 0) {
              <span>,</span>
            }
            @if (group.name) {
              <span class="blue_link" [routerLink]="['/my/groups/', group.id]"> {{ group.name }} </span>
            }
            @if (!group.name) {
              <i class="disabled">{{ 'COMPONENTS.TOPIC_MEMBER_USER.LBL_INACCESSIBLE_GROUP' | translate:{level: ('TXT_TOPIC_LEVELS_' + group.level | uppercase | translate)} }}</i>
            }
          }
        </div>
      }
    }
  </div>
</div>
<div class="level">
  <div class="dropdown" cosDropdown>
    <div class="selection">
      <div class="selected_item">{{ 'TXT_TOPIC_LEVELS_' + memberLevel() | uppercase | translate }}</div>
      <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
    </div>
    <div class="options">
      @for (level of userLevels; track level) {
        <div class="option" (click)="doUpdateMemberUser(level)" (keydown.enter)="doUpdateMemberUser(level)" role="button" tabindex="0">
          {{ 'TXT_TOPIC_LEVELS_' + level | uppercase | translate }}
        </div>
      }
    </div>
  </div>
  <div class="dropdown button_dropdown" cosDropdown>
    <button type="button" [aria-label]="'CONTROL.MORE' | translate">
      <cos-icon name="topic-member-user-icon-legacy" size="17"></cos-icon>
    </button>
    <div class="options">
      <div class="option" (click)="doDeleteMemberUser()" (keydown.enter)="doDeleteMemberUser()" role="button" tabindex="0">
        {{ 'COMPONENTS.TOPIC_MEMBER_USER.OPT_REMOVE_USER' | translate }}
      </div>
    </div>
  </div>
</div>
