<div id="create_argument_footer">
  <div id="post_argument_form_wrap">
    <div class="form_header">{{ 'COMPONENTS.EDIT_ARGUMENT.FOOTER_FORM_TITLE' | translate }}</div>
    <form id="argument_form">
      @if (argument().type !== 'reply') {
        <div id="type_select_wrap">
          <div class="type_item">{{ 'COMPONENTS.EDIT_ARGUMENT.FOOTER_FORM_ARGUMENT_TYPE_TITLE' | translate }}</div>
          @for (atype of ARGUMENT_TYPES; track atype) {
            <div class="type_item" [class]="atype">
              <label class="radio_box">
                <input type="radio" [checked]="editType() === atype" name="contrast" value="default" (change)="editType.set(atype)">
                <span class="radio"></span>
                <div class="radio_lable">
                  {{ 'COMPONENTS.EDIT_ARGUMENT.ARGUMENT_TYPE_SELECT_OPTION_' + (atype | uppercase) | translate }}
                </div>
              </label>
            </div>
          }
        </div>
      }
      @if (argument().type !== 'reply') {
        <cos-input [placeholder]="'COMPONENTS.EDIT_ARGUMENT.PLACEHOLDER_ADD_SUBJECT_TO_ARGUMENT' | translate">
          <input id="argument_subject" name="subject"
            [ngModel]="editSubject()" (ngModelChange)="editSubject.set($event)"
            [placeholder]="'COMPONENTS.EDIT_ARGUMENT.PLACEHOLDER_ADD_SUBJECT_TO_ARGUMENT' | translate"
            class="gray_borders"
            [attr.maxlength]="ARGUMENT_SUBJECT_MAXLENGTH" required>
        </cos-input>
      }
      <textarea cosMarkdown name="text" id="argument_text"
        [item]="editText()" (itemChange)="editText.set($event)"
        class="gray_borders"
        [placeholder]="'COMPONENTS.EDIT_ARGUMENT.PLACEHOLDER_EXPLAIN_YOUR_ARGUMENT'"
        [limit]="argumentMaxLength()"
        [cosMarkdownTranslateCharacterStatusKey]="'COMPONENTS.EDIT_ARGUMENT.ARGUMENT_TYPE_CHARACTER_LIMIT'" required></textarea>
      @if (errors()) {
        <div class="error_label">
          @for (error of errors() | keyvalue; track error.key) {
            @for (msg of error.value; track msg) {
              <div>{{ msg | translate }}</div>
            }
          }
        </div>
      }
    </form>
  </div>
  <div id="buttons_row">
    <div id="close_create">
      <button type="button" class="btn_medium_submit_ghost close_button" (click)="argumentEditMode()" [aria-label]="'CONTROL.CLOSE' | translate">
        <cos-icon name="edit-argument-icon-legacy" size="24"></cos-icon>
      </button>
    </div>
    <div id="navigate_create">
      <button type="button" class="btn_medium_submit" (click)="updateArgument()">
        <span class="btn_text">{{ 'COMPONENTS.EDIT_ARGUMENT.BTN_ARGUMENT_POST' | translate }}</span>
        <cos-icon name="edit-argument-icon-2-legacy" size="24"></cos-icon>
      </button>
    </div>
  </div>
</div>
