<div class="create_content_block discussion" [class.open]="blockAttachments()">
  <div class="block_title_wrap" (click)="blockAttachments.set(true)" (keydown.enter)="blockAttachments.set(true)" role="button" tabindex="0">
    <div class="block_title">
      <span>{{ 'VIEWS.TOPIC_CREATE.TITLE_ATTACHMENTS' | translate }}</span>
      <cos-tooltip [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_ATTACHMENTS_TITLE' | translate">
        <div class="content_description">
          {{ 'VIEWS.TOPIC_CREATE.TOOLTIP_ATTACHMENTS_DESCRIPTION_LIMIT' | translate: {limit: limit} }}
        </div>
        <div class="content_description">
          {{ 'VIEWS.TOPIC_CREATE.TOOLTIP_ATTACHMENTS_DESCRIPTION_SIZE' | translate: {allowedFileSize: allowedFileSize} }}
        </div>
        <div class="content_description">
          {{ 'VIEWS.TOPIC_CREATE.TOOLTIP_ATTACHMENTS_DESCRIPTION_TYPES' | translate: {allowedFileTypes: allowedFileTypes} }}
        </div>
      </cos-tooltip>
    </div>
    
    <div class="dropdown button_dropdown" cosDropdown>
      <cos-button variant="secondary" (clicked)="blockAttachments.set(true)" icon="plus">
        <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_ADD' | translate }}</span>
      </cos-button>
      <div class="options button_options">
        <button type="button" class="option" (click)="triggerUpload()">
          <div>
            <cos-icon name="topic-attachments-icon-legacy" size="16"></cos-icon>
          </div>
          <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_UPLOAD' | translate }}</span>
        </button>
        <div class="line_separator"></div>
        <button type="button" class="option" (click)="dropboxSelect()">
          <div>
            <cos-icon name="topic-attachments-icon-2-legacy" size="18"></cos-icon>
          </div>
          <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_DROPBOX' | translate }}</span>
        </button>
        <div class="line_separator"></div>
        <button type="button" class="option" (click)="oneDriveSelect()">
          <div>
            <cos-icon name="topic-attachments-icon-3-legacy" size="16"></cos-icon>
          </div>
          <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_ONEDRIVE' | translate }}</span>
        </button>
        <div class="line_separator"></div>
        <button type="button" class="option" (click)="googleDriveSelect()">
          <div>
            <cos-icon name="topic-attachments-icon-4-legacy" size="16"></cos-icon>
          </div>
          <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_GOOGLE_DRIVE' | translate }}</span>
        </button>
      </div>
    </div>
  </div>

  <input 
    type="file" 
    #attachmentInput 
    class="hidden" 
    (change)="onUpload()"
    multiple="true" 
    [attr.aria-label]="'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_UPLOAD' | translate"
  />

  @if (blockAttachments()) {
    <div class="block_content attachments_wrap">
      @for (attachment of attachments(); track attachment.id) {
        <div class="attachment_item">
          <input 
            class="attachment_name_input" 
            [(ngModel)]="attachment.name" 
            (change)="onUpdate(attachment)" 
            [attr.aria-label]="'VIEWS.TOPICS_TOPICID.ATTACHMENT_NAME' | translate"
          />
          <cos-button variant="ghost" (clicked)="onDelete(attachment)" icon="trash" [attr.aria-label]="'CONTROL.DELETE' | translate"></cos-button>
        </div>
      } @empty {
        <p class="no_attachments">{{ 'VIEWS.TOPICS_TOPICID.SECTION_INFO_NO_ATTACHMENTS' | translate }}</p>
      }
    </div>
  }
</div>

