<div class="create_content_block discussion" [class.open]="blockAttachments()">
  <div class="block_title_wrap" (click)="blockAttachments.set(true)" (keydown.enter)="blockAttachments.set(true)" role="button" tabindex="0">
    <div class="block_title">{{ 'VIEWS.TOPIC_CREATE.TITLE_ATTACHMENTS' | translate }}</div>
    
    <div class="dropdown button_dropdown" cosDropdown>
      <cos-button variant="secondary" (clicked)="blockAttachments.set(true); $event.stopPropagation()" icon="plus">
        <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_ADD' | translate }}</span>
      </cos-button>
      <div class="options button_options">
        <cos-button variant="ghost" (clicked)="triggerUpload()" icon="upload">
          <input 
            type="file" 
            #attachmentInput 
            class="hidden" 
            (change)="onUpload()"
            multiple="true" 
            [attr.aria-label]="'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_UPLOAD' | translate"
          />
          <span>{{ 'VIEWS.TOPIC_CREATE.ATTACHMENTS_BTN_UPLOAD' | translate }}</span>
        </cos-button>
        <!-- Dropbox/OneDrive/GoogleDrive could be added here if needed -->
      </div>
    </div>
  </div>

  @if (blockAttachments()) {
    <div class="block_content attachments_wrap">
      @for (attachment of attachments(); track attachment.id) {
        <div class="attachment_item">
          <input 
            class="attachment_name_input" 
            [(ngModel)]="attachment.name" 
            (change)="onUpdate(attachment)" 
            [attr.aria-label]="'VIEWS.TOPICS_TOPICID.ATTACHMENT_NAME' | translate"
          />
          <cos-button variant="ghost" (clicked)="onDelete(attachment)" icon="trash" [attr.aria-label]="'CONTROL.DELETE' | translate"></cos-button>
        </div>
      } @empty {
        <p class="no_attachments">{{ 'VIEWS.TOPICS_TOPICID.SECTION_INFO_NO_ATTACHMENTS' | translate }}</p>
      }
    </div>
  }
</div>
