<div class="idea" [class.moderated]="idea().report?.id" [class.new]="isNew()" [class.draft]="isDraft()" (click)="(!idea().report?.id) ? goToView() : null">
  @if (idea().report?.id || idea().deletedAt) {
    <div class="deleted_idea_wrap">
      <div class="deleted_idea_content_wrap">
        <cos-icon name="warning" [size]="40" />
        @if (idea().deletedReasonType && idea().deletedReasonText) {
          <div class="bold" [innerHTML]="'COMPONENTS.IDEABOX.IDEA_FOUND_INAPPRIOPRIATE_BY' | translate:{usersFullName: idea().deletedBy?.name}"></div>
        } @else if (idea().deletedBy?.id === idea().author?.id) {
          <div class="bold" [innerHTML]="'COMPONENTS.IDEABOX.IDEA_AUTHOR_REMOVED_IDEA' | translate"></div>
        }
      </div>
    </div>
  }

  <div class="idea_header">
    <div class="idea_header_left">
      @if (!isDraft()) {
        @if (idea().author) {
          <div class="avatar">
            <cos-tooltip [noIcon]="true" [title]="idea().author?.name || ''">
              <div trigger class="avatar_inner">
                @if (idea().author?.imageUrl) {
                  <img [src]="idea().author!.imageUrl" [alt]="idea().author!.name" />
                } @else {
                  <div class="profile_image_filler">
                    <cos-initials [name]="idea().author!.name || ''" />
                  </div>
                }
              </div>
            </cos-tooltip>
          </div>
          <div class="vertical_line_separator"></div>
        }

        <div class="like_wrap" [class.selected]="idea().votes.up.selected">
            <button type="button" class="btn_idea_like" [disabled]="!canVote()" (click)="$event.stopPropagation(); vote(1)" [aria-label]="'COMPONENTS.IDEABOX.TOOLTIP_LIKE' | translate">
              @if (!idea().votes.up.selected) {
                <cos-icon name="ideabox-icon-legacy" size="17"></cos-icon>
              } @else {
                <cos-icon name="ideabox-icon-2-legacy" size="16"></cos-icon>
              }
            </button>
            <a class="like_counter_wrap" (click)="$event.stopPropagation(); showReactions()">
                <span>{{ idea().votes.up.count }}</span>
            </a>
        </div>

        <div class="vertical_line_separator"></div>

        <button type="button" class="btn_small_plain bookmark" (click)="$event.stopPropagation(); toggleFavourite()">
            @if (!idea().favourite) {
                <cos-icon name="ideabox-icon-3-legacy" size="16"></cos-icon>
            } @else {
                <cos-icon name="ideabox-icon-4-legacy" size="16"></cos-icon>
            }
        </button>
      } @else {
        <div class="draft_label">
          <cos-icon name="ideabox-icon-5-legacy" size="16"></cos-icon>
          <span>{{ 'COMPONENTS.IDEABOX.IDEA_DRAFT' | translate }}</span>
        </div>
      }
    </div>

    @if (userStore.isAuthenticated() || isEdited()) {
      <div class="idea_header_right">
        <div class="dropdown button_dropdown" cosDropdown (click)="$event.stopPropagation()">
           <button type="button" class="btn_small_plain icon" trigger aria-label="Idea actions">
               <cos-icon name="ideabox-icon-6-legacy" size="16"></cos-icon>
           </button>
           <div class="options">
            @if (userStore.isAuthenticated() && !isDraft()) {
              <button type="button" class="option" (click)="toggleFavourite()">
                <div class="icon_wrap">
                  <cos-icon name="ideabox-icon-4-legacy" size="16"></cos-icon>
                </div>
                <span>{{ (idea().favourite ? 'COMPONENTS.IDEABOX.OPTION_UNFAVOURITE' : 'COMPONENTS.IDEABOX.OPTION_FAVOURITE') | translate }}</span>
              </button>
              @if (canEditTopic()) {
                <div class="line_separator"></div>
                <button type="button" class="option" (click)="addToFolder()">
                  <cos-icon name="ideabox-icon-7-legacy" size="16"></cos-icon>
                  <span>{{ 'COMPONENTS.IDEABOX.OPTION_ADD_TO_FOLDER' | translate }}</span>
                </button>
              }
            }

            @if (canEditIdea()) {
              <div class="line_separator" [style.display]="!isDraft() ? 'block' : 'none'"></div>
              <button type="button" class="option" (click)="editIdea()">
                <cos-icon name="topic-vote-cast-icon-2-legacy" size="16"></cos-icon>
                <span>{{ 'COMPONENTS.IDEABOX.OPTION_EDIT' | translate }}</span>
              </button>
            }

            @if (userStore.isAuthenticated() && !isDraft()) {
               <div class="line_separator"></div>
               <button type="button" class="option" (click)="doIdeaReport()">
                 <cos-icon name="ideabox-icon-8-legacy" size="16"></cos-icon>
                 <span>{{ 'COMPONENTS.IDEABOX.OPTION_REPORT' | translate }}</span>
               </button>
            }

            @if (isEdited() && !isDraft()) {
               <div class="line_separator"></div>
               <button type="button" class="option" (click)="goToView()">
                  <cos-icon name="history-legacy" [size]="16" />
                  <span>{{ 'COMPONENTS.IDEABOX.OPTION_VIEW_PREVIOUS_VERSIONS' | translate }}</span>
               </button>
            }

            @if (canEditIdea()) {
              <div class="line_separator"></div>
              <button type="button" class="option error_text" (click)="confirmDelete()">
                <cos-icon name="ideabox-icon-9-legacy" size="16"></cos-icon>
                <span>{{ 'COMPONENTS.IDEABOX.OPTION_REMOVE' | translate }}</span>
              </button>
            }
          </div>
        </div>
      </div>
    }
  </div>

  <div class="idea_content">
    <div class="statement" [innerHTML]="idea().statement || ('COMPONENTS.IDEABOX.UNTITLED_IDEA' | translate)"></div>
  </div>

  <div class="idea_footer">
    @if (!isDraft()) {
      <div class="date">{{ idea().createdAt | date:'y-MM-dd HH:mm' }}</div>
      <div class="replies_count">
          <a (click)="$event.stopPropagation(); (!idea().report?.id) ? goToView(true) : null">{{ 'COMPONENTS.IDEABOX.REPLIES' | translate:{ count: idea().replies?.count ?? 0 } }}</a>
      </div>
    } @else {
      <div class="date">{{ 'COMPONENTS.IDEABOX.DRAFT_UPDATED_AT' | translate:{ date: (idea().updatedAt | date:'y-MM-dd HH:mm') } }}</div>
    }
  </div>
</div>
