<div class="follow_up_wrap">
  <div class="follow_up_header">
    <div class="header_division">
      <cos-icon name="status-follow-up" [size]="32" style="color: var(--color-follow-up)"></cos-icon>
      <div class="follow_up_title" translate="COMPONENTS.TOPIC_MILESTONES.CREATE_A_MILESTONE"
           [cosTooltip]="'COMPONENTS.TOPIC_MILESTONES.TOOLTIP_CREATE' | translate">
      </div>
    </div>
  </div>
  <div class="follow_up_content">
    @for (evt of topicEvents(); track evt.id; let $index = $index) {
      <div class="milestone">
        @if (evt.editMode) {
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ $index + 1 }}</div>
              <div class="small_heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE"></div>
            </div>
          </div>
          <div class="section_content">
            <div class="heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_TITLE"></div>
            <cos-input [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate">
              <input id="create_milestone_title" [(ngModel)]="evt.subject" [class.error_input]="errors()?.subject"
                [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate"
                class="gray_borders" [maxlength]="maxLengthSubject" required>
              @if (errors()?.subject) {
                <label for="create_milestone_title" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span translate="{{ errors()?.subject }}"></span>
                </label>
              }
            </cos-input>
            <div class="heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_CONTENT"></div>
            <cos-input [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate">
              <textarea id="create_milestone_textarea" class="gray_borders" [class.error_input]="errors()?.text"
                [(ngModel)]="evt.text"
                [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate"
                [maxlength]="maxLengthText" required></textarea>
              @if (errors()?.text) {
                <label for="create_milestone_textarea" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span translate="{{ errors()?.text }}"></span>
                </label>
              }
            </cos-input>
          </div>
          <div class="section_buttons">
            <a translate="COMPONENTS.TOPIC_MILESTONES.LNK_CANCEL"
              (click)="toggleEditMode(evt)">
            </a>
            <button class="btn_medium_submit bold" translate="COMPONENTS.TOPIC_MILESTONES.EDIT_MILESTONE"
              (click)="editEvent(evt)">
            </button>
          </div>
        } @else {
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ $index + 1 }}</div>
              <div class="title_text_area mobile_hidden">
                <div class="title_description" translate="COMPONENTS.TOPIC_MILESTONES.MILESTONE_TITLE"
                  [translateParams]="{ number: countTotal() - $index }"></div>
                <div class="title" [innerHTML]="evt.subject"></div>
              </div>
            </div>
            <div class="button_wrap">
              <div class="milestone_date">
                <cos-icon name="calendar" size="24"></cos-icon>
                <span class="bold">{{ evt.createdAt | date: 'y-MM-dd HH:mm' }}</span>
              </div>
              @if (canDelete()) {
                <div class="dropdown button_dropdown" cosDropdown>
                  <button class="btn_medium_close icon">
                    <cos-icon name="more-vertical" size="24"></cos-icon>
                  </button>
                  <div class="options">
                    <button class="option" (click)="toggleEditMode(evt)">
                      <div class="icon_wrap"><cos-icon name="edit" size="16"></cos-icon></div>
                      <span translate="COMPONENTS.TOPIC_MILESTONES.OPT_EDIT_DETAILS"></span>
                    </button>
                    <div class="line_separator"></div>
                    <button class="option error_text" (click)="deleteEvent(evt)">
                      <div class="icon_wrap"><cos-icon name="trash" size="16"></cos-icon></div>
                      <span translate="COMPONENTS.TOPIC_MILESTONES.OPT_REMOVE_MILESTONE"></span>
                    </button>
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="section_content">
            <div class="title_text_area mobile_show">
              <div class="title_description" translate="COMPONENTS.TOPIC_MILESTONES.MILESTONE_TITLE"
                [translateParams]="{ number: countTotal() - $index }"></div>
              <div class="title small_heading" [innerHTML]="evt.subject"></div>
            </div>
            <div class="milestone_description_text" [innerHTML]="evt.text"></div>
          </div>
        }
      </div>
    }

    @if (!isStatusClosed()) {
      @if (canDelete()) {
        <div class="milestone">
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ countTotal() + 1 }}</div>
              <div class="small_heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE"></div>
            </div>
          </div>
          <div class="section_content">
            <div class="heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_TITLE"></div>
            <cos-input [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate">
              <input id="create_milestone_title" [(ngModel)]="event.subject" [class.error_input]="errors()?.subject"
                [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate" class="gray_borders"
                [maxlength]="maxLengthSubject" required>
              @if (errors()?.subject) {
                <label for="create_milestone_title" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span translate="{{ errors()?.subject }}"></span>
                </label>
              }
            </cos-input>
            <div class="heading" translate="COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_CONTENT"></div>
            <cos-input [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate">
              <textarea id="create_milestone_textarea" class="gray_borders" [class.error_input]="errors()?.text"
                [(ngModel)]="event.text" [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate"
                [maxlength]="maxLengthText" required></textarea>
              @if (errors()?.text) {
                <label for="create_milestone_textarea" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span translate="{{ errors()?.text }}"></span>
                </label>
              }
            </cos-input>
          </div>
        </div>

        <div class="section_buttons">
          <button class="btn_medium_submit bold" translate="COMPONENTS.TOPIC_MILESTONES.ADD_MILESTONE"
            (click)="submitEvent()">
          </button>
        </div>
      }
    }
  </div>
</div>
