<div class="follow_up_wrap">
  <div class="follow_up_header">
    <div class="header_division">
      <cos-icon name="status-follow-up" [size]="32" style="color: var(--color-follow-up)"></cos-icon>
      <h1 class="follow_up_title">
        {{ 'COMPONENTS.TOPIC_MILESTONES.CREATE_A_MILESTONE' | translate }}
        <cos-tooltip [description]="'COMPONENTS.TOPIC_MILESTONES.TOOLTIP_CREATE' | translate">
        </cos-tooltip>
      </h1>
    </div>
  </div>
  <div class="follow_up_content">
    @for (evt of topicEvents(); track evt.id) {
      <div class="milestone">
        @if (evt.editMode) {
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ $index + 1 }}</div>
              <h2 class="small_heading">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE' | translate }}</h2>
            </div>
          </div>
          <div class="section_content">
            <label class="heading bold" for="create_milestone_title">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_TITLE' | translate }}</label>
            <cos-input [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate">
              <input id="create_milestone_title" [(ngModel)]="evt.subject" [class.error_input]="errors()?.subject"
                [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate"
                class="gray_borders" [maxlength]="maxLengthSubject" required>
              @if (errors()?.subject) {
                <label for="create_milestone_title" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span>{{ errors()?.subject || '' | translate }}</span>
                </label>
              }
            </cos-input>
            <label class="heading bold" for="create_milestone_textarea">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_CONTENT' | translate }}</label>
            <cos-input [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate">
              <textarea id="create_milestone_textarea" class="gray_borders" [class.error_input]="errors()?.text"
                [(ngModel)]="evt.text"
                [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate"
                [maxlength]="maxLengthText" required></textarea>
              @if (errors()?.text) {
                <label for="create_milestone_textarea" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span>{{ errors()?.text || '' | translate }}</span>
                </label>
              }
            </cos-input>
          </div>
          <div class="section_buttons">
            <button type="button" class="btn_link" (click)="toggleEditMode(evt)">
              {{ 'COMPONENTS.TOPIC_MILESTONES.LNK_CANCEL' | translate }}
            </button>
            <button type="button" class="btn_medium_submit bold" (click)="editEvent(evt)">
              {{ 'COMPONENTS.TOPIC_MILESTONES.EDIT_MILESTONE' | translate }}
            </button>
          </div>
        } @else {
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ $index + 1 }}</div>
              <div class="title_text_area mobile_hidden">
                <div class="title_description">{{ 'COMPONENTS.TOPIC_MILESTONES.MILESTONE_TITLE' | translate:{ number: countTotal() - $index } }}</div>
                <div class="title" [innerHTML]="evt.subject"></div>
              </div>
            </div>
            <div class="button_wrap">
              <div class="milestone_date">
                <cos-icon name="calendar" size="24"></cos-icon>
                <span class="bold">{{ evt.createdAt | date: 'y-MM-dd HH:mm' }}</span>
              </div>
              @if (canDelete()) {
                <div class="dropdown button_dropdown" cosDropdown>
                  <button type="button" class="btn_medium_close icon" [aria-label]="'CONTROL.MORE' | translate">
                    <cos-icon name="more-vertical" size="24"></cos-icon>
                  </button>
                  <div class="options">
                    <button type="button" class="option" (click)="toggleEditMode(evt)">
                      <div class="icon_wrap"><cos-icon name="edit" size="16"></cos-icon></div>
                      <span>{{ 'COMPONENTS.TOPIC_MILESTONES.OPT_EDIT_DETAILS' | translate }}</span>
                    </button>
                    <div class="line_separator"></div>
                    <button type="button" class="option error_text" (click)="deleteEvent(evt)">
                      <div class="icon_wrap"><cos-icon name="trash" size="16"></cos-icon></div>
                      <span>{{ 'COMPONENTS.TOPIC_MILESTONES.OPT_REMOVE_MILESTONE' | translate }}</span>
                    </button>
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="section_content">
            <div class="title_text_area mobile_show">
              <div class="title_description">{{ 'COMPONENTS.TOPIC_MILESTONES.MILESTONE_TITLE' | translate:{ number: countTotal() - $index } }}</div>
              <div class="title small_heading" [innerHTML]="evt.subject"></div>
            </div>
            <div class="milestone_description_text" [innerHTML]="evt.text"></div>
          </div>
        }
      </div>
    }

    @if (!isStatusClosed()) {
      @if (canDelete()) {
        <div class="milestone">
          <div class="milestone_header">
            <div class="title_wrap">
              <div class="circle">{{ countTotal() + 1 }}</div>
              <h2 class="small_heading">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE' | translate }}</h2>
            </div>
          </div>
          <div class="section_content">
            <label class="heading bold" for="create_milestone_title">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_TITLE' | translate }}</label>
            <cos-input [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate">
              <input id="create_milestone_title" [(ngModel)]="event.subject" [class.error_input]="errors()?.subject"
                [placeholder]="'COMPONENTS.TOPIC_MILESTONES.PLACEHOLDER_SUBJECT' | translate" class="gray_borders"
                [maxlength]="maxLengthSubject" required>
              @if (errors()?.subject) {
                <label for="create_milestone_title" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span>{{ errors()?.subject || '' | translate }}</span>
                </label>
              }
            </cos-input>
            <label class="heading bold" for="create_milestone_textarea">{{ 'COMPONENTS.TOPIC_MILESTONES.HEADING_MILESTONE_CONTENT' | translate }}</label>
            <cos-input [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate">
              <textarea id="create_milestone_textarea" class="gray_borders" [class.error_input]="errors()?.text"
                [(ngModel)]="event.text" [placeholder]="'VIEWS.TOPICS_TOPICID.ADD_MILESTONES_PLACEHOLDER_TEXT' | translate"
                [maxlength]="maxLengthText" required></textarea>
              @if (errors()?.text) {
                <label for="create_milestone_textarea" class="error_label">
                  <cos-icon name="warning" size="16"></cos-icon>
                  <span>{{ errors()?.text || '' | translate }}</span>
                </label>
              }
            </cos-input>
          </div>
        </div>

        <div class="section_buttons">
          <button type="button" class="btn_medium_submit bold" (click)="submitEvent()">
            {{ 'COMPONENTS.TOPIC_MILESTONES.ADD_MILESTONE' | translate }}
          </button>
        </div>
      }
    }
  </div>
</div>
