<div class="tooltip_wrapper" (mouseenter)="show()" (mouseleave)="hide()">
  <ng-content select="[trigger]"></ng-content>
  
  @if (!noIcon()) {
    <div class="tooltip_icon">
      <cos-icon name="help" [size]="16"></cos-icon>
    </div>
  }

  <div class="tooltip_container" [class]="pos()" [class.visible]="visible()">
    @if (pos() === 'bottom') {
      <div class="arrow_up"></div>
    }
    <div class="tooltip_box">
      <div class="tooltip_content">
        @if (title()) {
          <div class="content_title">{{ title() }}</div>
        }
        @if (description()) {
          <div class="content_description" [innerHTML]="description()"></div>
        }
        <ng-content></ng-content>
      </div>
    </div>
    @if (pos() === 'top') {
      <div class="arrow_down"></div>
    }
  </div>
</div>
