<div class="activity_wrap" (click)="redirect(activity)" (keydown.enter)="redirect(activity)" role="button" tabindex="0">
  @if (activity.isNew) {
    <div id="new_activity">
      <cos-icon name="activity-item-icon-legacy" size="14"></cos-icon>
    </div>
  }
  <div class="activity_header">
    <div class="activity_icon">
      @switch (activity.values?.['className']) {
        @case ('discussion') {
          <cos-icon name="activity-item-icon-2-legacy" size="16"></cos-icon>
        }
        @case ('vote') {
          <cos-icon name="activity-item-icon-3-legacy" size="16"></cos-icon>
        }
        @case ('personal') {
          <cos-icon name="activity-item-icon-4-legacy" size="16"></cos-icon>
        }
        @case ('group') {
          <cos-icon name="activity-item-icon-5-legacy" size="16"></cos-icon>
        }
      }
    </div>
    <div class="date">{{ activity.updatedAt | date:'y-MM-dd HH:mm' }}</div>
  </div>
  <div class="activity_content">
    @if (count > 1) {
      <div [innerHTML]="translate_group(activityGroup())"></div>
    } @else {
      <div [innerHTML]="translate_activity(activity)"></div>
    }
    @if (activityService.showActivityUpdateVersions(activity)) {
      <i>
        <div [innerHTML]="translate_version(activity, 'previous')"></div>
        <div [innerHTML]="translate_version(activity, 'new')"></div>
      </i>
    }
  </div>
</div>
