<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header voting">
      <div class="header_text">
        @if (isNew) {
          <div class="small_heading">{{ 'COMPONENTS.TOPIC_VOTE_DEADLINE.DIALOG_HEADING_ADD' | translate }}</div>
        } @else {
          <div class="small_heading">{{ 'COMPONENTS.TOPIC_VOTE_DEADLINE.DIALOG_HEADING' | translate }}</div>
        }
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="close" [size]="24"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog_content">
      <div class="dialog_description">{{ 'COMPONENTS.TOPIC_VOTE_DEADLINE.LBL_EDIT_VOTING_DEADLINE_DESC' | translate }}</div>
      <div class="deadline_wrap">
        <cos-deadline-picker
          [deadline]="deadline()"
          [showReminder]="true"
          (deadlineChange)="onDeadlineChange($event)"
          (reminderChange)="onReminderChange($event)" />
      </div>
    </div>
    <div class="dialog_footer with_buttons">
      <button type="button" class="btn_link" dialogClose>{{ 'COMPONENTS.TOPIC_VOTE_DEADLINE.LNK_CANCEL' | translate }}</button>
      <div class="button_row">
        <button type="button" class="btn_medium_submit" (click)="save()">{{ "COMPONENTS.TOPIC_VOTE_DEADLINE.BTN_SAVE" | translate }}</button>
      </div>
    </div>
  </div>
</div>
