<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <cos-notifications></cos-notifications>
  </div>
  <div class="dialog" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" role="dialog" aria-modal="true">
    <div id="notification_wrap_dialog" class="mobile_show">
      <cos-notifications></cos-notifications>
    </div>
    <div class="dialog_header">
      <div class="header_with_icon">
        <div class="icon_notification">
          <svg
            width="40"
            height="40"
            viewBox="0 0 40 40"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="40" height="40" rx="20" fill="#1168A8" />
            <path
              d="M23 11.5292C23 12.926 21.9255 14.0583 20.6 14.0583C19.2745 14.0583 18 12.926 18 11.5292C18 10.1323 19.2745 9 20.6 9C21.9255 9 23 10.1323 23 11.5292Z"
              fill="white"
            />
            <path
              d="M17.3359 16.5357L22.8319 15.8098L20.4295 27.7096C20.2591 28.5695 20.4991 29.0576 21.1591 29.0576C21.6247 29.0576 22.3255 28.8806 22.8055 28.4354L22.5943 29.4876C21.9055 30.3626 20.3863 31 19.0783 31C17.3911 31 16.6735 29.9327 17.1391 27.664L18.9103 18.8929C19.0639 18.1518 18.9247 17.8837 18.2191 17.7067L17.1391 17.4968L17.3359 16.5357Z"
              fill="white"
            />
          </svg>
        </div>
        <h4 class="title">
          {{
            data.view === 'topic'
              ? ('MODALS.TOPIC_INVITE_VIEW_HEADING' | translate)
              : ('MODALS.GROUP_INVITE_VIEW_HEADING' | translate)
          }}
        </h4>
      </div>
      <div class="dialog_close">
        <button type="button" class="btn_dialog_close icon" [dialogClose]="undefined" [attr.aria-label]="'BTN_CLOSE' | translate">
          <cos-icon name="topic-tour-icon-legacy" size="24"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content dialog_content_join">
      <div class="content_row">
        @if (data.imageUrl) {
          <div class="content_image_wrapper">
            <img
              [src]="data.imageUrl"
              class="content_image"
              [class]="data.view"
              [alt]="data.title || ''"
            />
          </div>
        }

        <div class="content_inner">
          @if (data.title) {
            <div class="topic_title" [innerHTML]="data.title"></div>
          }

          @if (data.intro || data.description) {
            <div class="topic_text" [innerHTML]="data.intro || data.description"></div>
          }

          <hr />

          @if (data.creator) {
            <div class="dialog_info row">
              @if (data.view === 'topic') {
                <div>{{ 'COMPONENTS.TOPIC_JOIN.TOPIC_CREATED_BY' | translate }}</div>
              }
              @if (data.view === 'group') {
                <div>{{ 'COMPONENTS.GROUP_JOIN.GROUP_CREATED_BY' | translate }}</div>
              }
              <div class="profile_image_wrap">
                @if (data.creator.imageUrl) {
                  <img class="profile_image" [src]="data.creator.imageUrl" [alt]="data.creator.name" />
                }
                @if (!data.creator.imageUrl) {
                  <div class="profile_image_filler">
                    @if (data.creator.name) {
                      <cos-initials [name]="data.creator.name" [limit]="1"></cos-initials>
                    }
                  </div>
                }
              </div>

              <div class="bold" [innerHTML]="data.creator.name"></div>
            </div>
          }
        </div>
      </div>

      @if (
        (data.creator && data.creator.name) ||
        (data.user && data.user.email) ||
        data.level
      ) {
        <div class="content_row">
          <div class="dialog_info content_inner">
            <div
              class="content_title"
            >{{ 'MODALS.TOPIC_INVITE_VIEW_HEADING_INVITATION_DETAILS' | translate }}</div>

            <ul class="content_list content_list_details">
              @if (data.creator && data.creator.name && data.type === 'invite') {
                <li>
                  <div>{{ 'MODALS.TOPIC_INVITE_VIEW_LBL_INVITED_BY' | translate }}</div>
                  <div class="bold">{{ data.creator.name }}</div>
                </li>
              }
              @if (data.user && data.user.email) {
                <li>
                  <div>{{ 'MODALS.TOPIC_INVITE_VIEW_LBL_INVITATION_SENT_TO' | translate }}</div>
                  <div class="bold">{{ data.user.email }}</div>
                </li>
              }
              @if (data.level) {
                <li>
                  @if (data.view === 'topic') {
                    <div>{{ 'MODALS.TOPIC_INVITE_VIEW_LBL_TOPIC_LEVEL' | translate }}</div>
                  }
                  @if (data.view === 'group') {
                    <div>{{ 'MODALS.GROUP_INVITE_VIEW_LBL_GROUP_LEVEL' | translate }}</div>
                  }
                  <div class="bold">
                    {{ ('TXT_TOPIC_LEVELS_' + data.level | uppercase) | translate }}
                  </div>
                </li>
              }
            </ul>
          </div>
        </div>
      }

      <div class="content_row">
        <div class="dialog_info content_inner">
          <div class="content_title">
            {{
              data.view === 'topic'
                ? ('MODALS.TOPIC_INVITE_VIEW_HEADING_AFTER_JOIN' | translate)
                : ('MODALS.GROUP_INVITE_VIEW_HEADING_AFTER_JOIN' | translate)
            }}
          </div>

          <ul class="content_list">
            <li>
              <cos-icon name="duplicate-topic-icon-2-legacy" size="24"></cos-icon>

              <span>{{
                data.view === 'topic'
                  ? ('MODALS.TOPIC_INVITE_VIEW_AFTER_JOIN_ITEM_1' | translate)
                  : ('MODALS.GROUP_INVITE_VIEW_AFTER_JOIN_ITEM_1' | translate)
              }}</span>
            </li>

            <li>
              <cos-icon name="duplicate-topic-icon-2-legacy" size="24"></cos-icon>

              <span>{{
                data.view === 'topic'
                  ? ('MODALS.TOPIC_INVITE_VIEW_AFTER_JOIN_ITEM_2' | translate)
                  : ('MODALS.GROUP_INVITE_VIEW_AFTER_JOIN_ITEM_2' | translate)
              }}</span>
            </li>
          </ul>
        </div>
      </div>

      @if (data.user && data.user.isRegistered) {
        <div class="notification_inline info">
          <div class="icon_notification">
            <cos-icon name="invitation-icon-legacy" size="24"></cos-icon>
          </div>
          <div class="message">
            <div class="content">
              <div class="content_description">
                {{
                  data.view === 'topic'
                    ? ('MODALS.TOPIC_INVITE_VIEW_BTN_LOGIN_AS' | translate : { email: data.user.email })
                    : ('MODALS.GROUP_INVITE_VIEW_BTN_LOGIN_AS' | translate : { email: data.user.email })
                }}
              </div>
            </div>
          </div>
        </div>
      }

      @if (data.user && !data.user.isRegistered) {
        <div class="notification_inline warning">
          <cos-icon name="topic-member-invite-delete-icon-legacy" size="24"></cos-icon>

          <div>
            {{
              data.view === 'topic'
                ? ('MODALS.TOPIC_INVITE_VIEW_TXT_COMPLETE_ACCOUNT' | translate : { email: data.user.email })
                : ('MODALS.GROUP_INVITE_VIEW_TXT_COMPLETE_ACCOUNT' | translate : { email: data.user.email })
            }}
          </div>
        </div>
      }
    </div>

    <div class="dialog_footer_join">
      <div class="button_wrap">
        <div class="actions_wrap">
          <button type="button" class="btn_medium_submit" [dialogClose]="true">
            @if (
              (data.user && data.user.isRegistered && loggedIn) ||
              !data.user
            ) {
              <span>{{
                data.view === 'topic'
                  ? ('MODALS.TOPIC_INVITE_VIEW_BTN_JOIN' | translate)
                  : ('VIEWS.PUBLIC_GROUPS.BTN_JOIN_GROUP' | translate)
              }}</span>
            }
            @if (data.user && data.user.isRegistered && !loggedIn) {
              <span>{{
                data.view === 'topic'
                  ? ('MODALS.TOPIC_INVITE_VIEW_BTN_GO_TO_LOGIN' | translate)
                  : ('MODALS.GROUP_INVITE_VIEW_BTN_GO_TO_LOGIN' | translate)
              }}</span>
            }
            @if (data.user && !data.user.isRegistered) {
              <span>{{
                data.view === 'topic'
                  ? ('MODALS.TOPIC_INVITE_VIEW_BTN_COMPLETE_ACCOUNT' | translate)
                  : ('MODALS.GROUP_INVITE_VIEW_BTN_COMPLETE_ACCOUNT' | translate)
              }}</span>
            }
          </button>
          @if (data.publicAccess !== null) {
            <button
              type="button"
              id="group_button"
              (click)="goToPublicUrl(data.publicAccess!.link)"
              class="btn_medium_secondary ng-star-inserted"
            >
              {{ data.publicAccess!.title | translate }}
            </button>
          }
        </div>
        <button type="button" class="btn_link" [dialogClose]="false">{{ 'MODALS.TOPIC_INVITE_VIEW_LNK_CANCEL' | translate }}</button>
      </div>
    </div>

    <div class="dialog_footer dialog_footer_promo">
      <div class="line_wrapper">
        <cos-icon name="invitation-icon-2-legacy" size="24"></cos-icon>
        <span>{{ 'MODALS.GROUP_INVITE_NEW_TO_CITIZEN_OS' | translate }}</span>
      </div>

      <a class="line_wrapper" href="https://citizenos.com" target="_blank">
        <span class="bold">{{ 'MODALS.GROUP_INVITE_READ_MORE' | translate }}</span>

        <cos-icon name="invitation-icon-3-legacy" size="16"></cos-icon>
      </a>
    </div>
  </div>
</div>
