<div class="page_content">
  <div class="page_header">
    <h1 class="page_title">{{ 'VIEWS.ACCOUNT.HEADING' | translate }}</h1>
    <button type="button" class="btn_medium_close" (click)="store.logout()" [attr.aria-label]="'VIEWS.ACCOUNT.BTN_LOG_OUT' | translate">
      <cos-icon name="profile-icon-legacy" size="24"></cos-icon>
      <span class="bold" translate="VIEWS.ACCOUNT.BTN_LOG_OUT"></span>
    </button>
  </div>

  <div class="tabs_row mobile_hidden">
    <button type="button" class="tab_item" (click)="selectTab('profile')" [class.active]="activeTab() === 'profile'">{{
      'VIEWS.ACCOUNT.TAB_PROFILE' | translate }}</button>
    <button type="button" class="tab_item" (click)="selectTab('notifications')"
      [class.active]="activeTab() === 'notifications'">{{ 'VIEWS.ACCOUNT.TAB_NOTIFICATIONS' | translate }}</button>
  </div>

  <div id="tab_dropdown" class="dropdown mobile_show">
    <cos-dropdown>
      <div selection [attr.aria-label]="'VIEWS.ACCOUNT.TAB_' + activeTab() | uppercase | translate">
        <div class="selected_item bold" [translate]="'VIEWS.ACCOUNT.TAB_' + activeTab() | uppercase"> </div>
        <cos-icon name="topic-participants-icon-legacy" size="24"></cos-icon>
      </div>
      <div options>
        <div class="option" (click)="selectTab('profile')" (keydown.enter)="selectTab('profile')" tabindex="0"
          role="option">{{ 'VIEWS.ACCOUNT.TAB_PROFILE' | translate }}</div>
        <div class="option" (click)="selectTab('notifications')" (keydown.enter)="selectTab('notifications')"
          tabindex="0" role="option">{{ 'VIEWS.ACCOUNT.TAB_NOTIFICATIONS' | translate }}</div>
      </div>
    </cos-dropdown>
  </div>

  <div id="profile_area_wrap">
    @if (activeTab() === 'profile') {
    <div id="profile_settings" class="profile_area_section">
      <div id="profile_image_area">
        <div id="profile_image_wrap">
          @if (formModel().imageUrl || uploadedImage()) {
          <button type="button" id="remove_profile_image" (click)="deleteUserImage()"
            (keydown.enter)="deleteUserImage()" [aria-label]="'VIEWS.ACCOUNT.UPLOAD_AVATAR' | translate">
            <cos-icon name="profile-icon-2-legacy" size="24"></cos-icon>
          </button>
          }

          @if (uploadedImage(); as file) {
            <cos-image-editor [width]="160" [heigth]="160" [file]="file" (item)="updateUserImage($event)"></cos-image-editor>
          } @else if (formModel().imageUrl) {
            <img id="profile_image" [src]="formModel().imageUrl" [alt]="formModel().name">
          } @else {
            <div class="profile_image_filler">
              <cos-initials [name]="formModel().name"></cos-initials>
            </div>
          }
        </div>
        <input type="file" #imageUpload id="profile_image_input" hidden (change)="fileUpload($event)" />
        <button type="button" class="btn_link blue_link" (click)="triggerUploadImage()">{{ 'VIEWS.ACCOUNT.UPLOAD_AVATAR'
          | translate }}</button>
      </div>

      <div id="profile_data_area">
        <h2 class="small_heading">{{ 'VIEWS.ACCOUNT.HEADING_ACCOUNT_DETAILS' | translate }}</h2>
        <form id="profile_form" [formRoot]="profileForm" (submit)="doUpdateProfile(); $event.preventDefault()">
          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_NAME' | translate" [hasError]="!!errors.name">
            <input id="name" [formField]="profileForm.name">
            @if (errors.name) {
            <label for="name" class="error_label">
              <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
              <span [translate]="errors.name"></span>
            </label>
            }
          </cos-input>

          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_COMPANY' | translate" [hasError]="!!errors.company">
            <input id="company" [formField]="profileForm.company">
            @if (errors.company) {
            <label for="company" class="error_label">
              <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
              <span [translate]="errors.company"></span>
            </label>
            }
          </cos-input>

          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_EMAIL' | translate" [hasError]="!!errors.email">
            <input id="email" [formField]="profileForm.email">
            @if (errors.email) {
            <label for="email" class="error_label">
              <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
              <span [translate]="errors.email"></span>
            </label>
            }
          </cos-input>

          @if (resetPasswordMode()) {
          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_NEW_PASSWORD' | translate"
            [hasError]="!!errors.newPassword">
            <input id="newPassword" [formField]="profileForm.newPassword" type="password">
          </cos-input>
          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_PASSWORD_CONFIRM' | translate"
            [hasError]="!!errors.newPassword">
            <input id="password_confirm" [formField]="profileForm.passwordConfirm" type="password">
            @if (errors.newPassword) {
            <label for="newPassword" class="error_label">
              <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
              <span [translate]="errors.newPassword"></span>
            </label>
            }
          </cos-input>
          }

          @if (formModel().email !== store.user()?.email || resetPasswordMode()) {
          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_PASSWORD' | translate" [hasError]="!!errors.password">
            <input id="password" [formField]="profileForm.password" type="password">
            @if (errors.password) {
            <label for="password" class="error_label">
              <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
              <span [translate]="errors.password"></span>
            </label>
            }
          </cos-input>
          }

          <button type="button" class="btn_link blue_link" (click)="toggleResetPassword()">{{
            'VIEWS.ACCOUNT.RESET_PASSWORD' | translate }}</button>
          <div>
            <button type="submit" class="btn_big_submit"
              [disabled]="store.isLoading() || profileForm().invalid()">{{ 'VIEWS.ACCOUNT.BTN_SAVE' | translate }}</button>
          </div>
        </form>

        <h2 class="small_heading">{{ 'VIEWS.ACCOUNT.TAB_PREFERENCES' | translate }}</h2>

        <div class="prefrence_box">
          <h3 class="preference_title bold">{{ 'VIEWS.ACCOUNT.LBL_PROFILE_LANGUAEG' | translate }}</h3>
          <div class="preference_description" translate="VIEWS.ACCOUNT.LBL_PROFILE_LANGUAEG_DESCRIPTION"></div>

          <cos-dropdown class="toolbar-dropdown"
            [placeholder]="'VIEWS.ACCOUNT.LBL_SELECT_PROFILE_LANGUAEG' | translate">
            <ng-container selection>
              <span class="selected-item">{{languages[formModel().language] || formModel().language}}</span>
            </ng-container>
            <ng-container options>
              @for (language of languages | keyvalue; track language.key) {
              <div class="option" (click)="setProfileLanguage(language.key)"
                (keydown.enter)="setProfileLanguage(language.key)" tabindex="0" role="option">{{language.value}}</div>
              }
            </ng-container>
          </cos-dropdown>
        </div>
        <div class="prefrence_box">
          <h3 class="preference_title bold">{{ 'VIEWS.ACCOUNT.LBL_SHOW_IN_SEARCH' | translate }}</h3>
          <div class="preference_header">
            <div class="preference_description" translate="VIEWS.ACCOUNT.LBL_SHOW_IN_SEARCH_DESCRIPTION"></div>
          </div>
          <cos-toggle [textOn]="'TOGGLE_ON' | translate" [textOff]="'TOGGLE_OFF' | translate"
            [model]="formModel().preferences.showInSearch" (toggleClick)="formModel.update(m => ({...m, preferences: { ...m.preferences, showInSearch: $event }}))"></cos-toggle>
        </div>

        <div class="prefrence_box">
          <h3 class="preference_title bold">{{ 'VIEWS.ACCOUNT.LBL_LINKS_TITLE' | translate }}</h3>
          <div class="preference_description" translate="VIEWS.ACCOUNT.LBL_LINKS_DESCRIPTION"></div>
          <cos-terms-links></cos-terms-links>
        </div>

        <div class="prefrence_box">
          <h3 class="preference_title bold">{{ 'VIEWS.ACCOUNT.LBL_DELETE_ACCOUNT' | translate }}</h3>
          <div class="preference_description" translate="VIEWS.ACCOUNT.LBL_DELETE_ACCOUNT_DESCRIPTION"></div>
          <div class="delete_account">
            <cos-icon name="profile-icon-2-legacy" size="24"></cos-icon>
            <button type="button" class="btn_link bold btn_delete" (click)="doDeleteAccount()">{{
              'VIEWS.ACCOUNT.LNK_DELETE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    } @else if (activeTab() === 'notifications') {
    <div class="profile_area_section">
      <h2 class="small_heading">{{ 'VIEWS.ACCOUNT.NOTIFICATIONS_HEADING' | translate }}</h2>
      <div class="filter_section">
        <div class="input_area">
          <cos-icon name="profile-icon-3-legacy" size="24"></cos-icon>
          <cos-input [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_SEARCH' | translate">
            <input class="topic_search_input" [placeholder]="'VIEWS.ACCOUNT.PLACEHOLDER_SEARCH' | translate"
              [(ngModel)]="topicSearch" (ngModelChange)="searchTopics()">
          </cos-input>
        </div>
        <cos-input [placeholder]="'VIEWS.ACCOUNT.SHOW_PER_PAGE' | translate" class="dropdown_input">
          <cos-dropdown>
            <div selection [attr.aria-label]="'VIEWS.ACCOUNT.SHOW_PER_PAGE' | translate">
              <div class="selected_item">{{notificationParams().limit}}</div>
              <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
            </div>
            <div options>
              <div class="option" (click)="topicNotificationService.setParam('limit', 5)"
                (keydown.enter)="topicNotificationService.setParam('limit', 5)" tabindex="0" role="option">5</div>
              <div class="option" (click)="topicNotificationService.setParam('limit', 10)"
                (keydown.enter)="topicNotificationService.setParam('limit', 10)" tabindex="0" role="option">10</div>
              <div class="option" (click)="topicNotificationService.setParam('limit', 15)"
                (keydown.enter)="topicNotificationService.setParam('limit', 15)" tabindex="0" role="option">15</div>
            </div>
          </cos-dropdown>
        </cos-input>
      </div>

      <div class="content_section">
        <div class="row_header">
          <div class="row_cell">
            <button type="button" class="btn_link" (click)="topicNotificationService.doOrder('title')">
              <span>{{ 'VIEWS.ACCOUNT.TABLE_HEADER_TOPIC' | translate }}</span>
              @if (notificationParams().orderBy === 'title') {
              @if (notificationParams().order === 'ASC') {
              <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
              } @else {
              <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
              }
              }
            </button>
          </div>
          <div class="row_cell" translate="VIEWS.ACCOUNT.TABLE_HEADER_NOTIFICATIONS"></div>
        </div>

        @for (topic of topicNotificationService.items(); track topic.topicId) {
        <div class="row_list">
          <div class="row_cell">
            <a class="blue_link" [routerLink]="['/topics', topic.topicId]" target="_blank">{{topic.title}}</a>
          </div>
          <div class="row_cell">
            <cos-toggle [textOn]="'TOGGLE_ON' | translate" [textOff]="'TOGGLE_OFF' | translate"
              [model]="topic.allowNotifications" (toggleClick)="toggleTopicNotifications(topic)"></cos-toggle>
            <button class="btn_medium_plain icon">
              <cos-icon name="profile-icon-4-legacy" size="16"></cos-icon>
            </button>
          </div>
        </div>
        }
      </div>

      <div class="filter_section">
        <div></div>
        <cos-pagination class="pagination" (selectPage)="topicNotificationService.loadPage($event)"
          [totalPages]="topicNotificationService.totalPages() || 0"
          [page]="topicNotificationService.page() || 0"></cos-pagination>
      </div>
    </div>
    }
  </div>
</div>
