<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header warning">
      <div class="header_with_icon">
        <div class="icon_notification">
          <cos-icon name="warning-filled" [size]="40"></cos-icon>
        </div>
        <h3 class="title">{{ 'MODALS.TOPIC_REPORT_MODERATE_HEADING' | translate }}</h3>
      </div>
      <div class="dialog_close">
        <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
          <cos-icon name="nav-close"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <div class="content_text">{{ 'MODALS.TOPIC_REPORT_MODERATE_DESCRIPTION' | translate }}</div>

      <form [formGroup]="moderateForm" (ngSubmit)="doModerate()">
        <div class="form_group">
          <label for="moderate_type">{{ 'COMPONENTS.TOPIC_REPORT_MODERATE.LBL_MODERATE_TYPE' | translate }}</label>
          <cos-dropdown id="moderate_type">
            <div selection class="selected_item">
              {{ 'TXT_REPORT_TYPES_' + (moderateForm.value.type | uppercase) | translate }}
            </div>
            <div options>
              @for (type of reportTypes; track type) {
                <div class="option" (click)="changeType(type)" (keydown.enter)="changeType(type)" tabindex="0" role="option">
                  {{ 'TXT_REPORT_TYPES_' + (type | uppercase) | translate }}
                </div>
              }
            </div>
          </cos-dropdown>
        </div>

        <div class="form_group">
          <label for="moderate_text">{{ 'COMPONENTS.TOPIC_REPORT_MODERATE.LBL_MODERATE_TEXT' | translate }}</label>
          <textarea id="moderate_text" formControlName="text"
                    [placeholder]="'COMPONENTS.TOPIC_REPORT_MODERATE.PLACEHOLDER_MODERATE_TEXT' | translate"
                    maxlength="2024"></textarea>
          <div class="char_count">{{ moderateForm.get('text')?.value?.length || 0 }}/2024</div>
        </div>
      </form>
    </div>

    <div class="dialog_footer with_buttons">
      <div class="button_row">
        <cos-button variant="secondary" (clicked)="close()" translate="COMPONENTS.TOPIC_REPORT_MODERATE.BTN_CANCEL"></cos-button>
        <cos-button variant="primary" (clicked)="doModerate()" [isDisabled]="moderateForm.invalid || isLoading()" translate="COMPONENTS.TOPIC_REPORT_MODERATE.BTN_MODERATE"></cos-button>
      </div>
    </div>
  </div>
</div>
