<cos-create-wizard-shell
  domainType="topic"
  headingKey="VIEWS.TOPIC_CREATE.HEADING"
  [steps]="steps"
  [currentStep]="currentStep()"
  [hasSidebar]="true"
  [isNextDisabled]="isFooterNextDisabled()"
  [topic]="topicModel()"
  (stepChange)="onStepChange($event)"
  (saveDraft)="saveAsDraft()"
  (footerContinue)="handleFooterContinue()"
  (footerBack)="handleFooterBack()"
  (deleteTopic)="doDeleteTopic()"
>
  @if (isLoading()) {
    <div class="loading-overlay">
      <div class="loader"></div>
    </div>
  }

  @switch (currentStep()) {
    @case ('info') {
      <cos-step-topic-info
        [topic]="topicModel()"
        (topicUpdate)="onTopicUpdate($event)"
        (imageFileUpdate)="onImageFileUpdate($event)"
      ></cos-step-topic-info>
    }
    @case ('settings') {
      <cos-step-topic-settings
        [topic]="topicModel()"
        [isCreatedFromGroup]="isCreatedFromGroup()"
        (topicUpdate)="onTopicUpdate($event)"
        (groupsAdded)="onGroupsAdded($event)"
        (groupRemoved)="onGroupRemoved($event)"
      ></cos-step-topic-settings>
    }
    @case ('discussion') {
      <cos-step-topic-discussion
        [discussion]="discussion()"
        (discussionChange)="discussion.set($event)"
      ></cos-step-topic-discussion>
    }
    @case ('preview') {
      <cos-step-topic-preview
        [topic]="topicModel()"
        [discussion]="discussion()"
      ></cos-step-topic-preview>
    }
    @default {
    }
  }

  <div sidebar class="sidebar-block">
    <cos-member-editors-panel
      [topic]="topicModel()"
      [members]="members()"
      [invites]="invites()"
      (inviteEditors)="inviteEditors()"
    ></cos-member-editors-panel>
  </div>

  @if (showHelp()) {
    <div sidebar class="create_help" [class.show]="showHelp()">
      <div class="help_illustration_wide">
        <svg width="160" height="86" viewBox="0 0 160 86" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_7537_35289)">
            <rect x="40" y="6" width="80" height="80" rx="16" fill="#F1F7FC" />
            <path
              d="M67.6129 44.6133C67.6129 37.7004 72.4425 32.1133 78.4084 32.1133C84.3743 32.1133 89.2039 37.7004 89.2039 44.6133C89.2039 49.6323 86.6471 53.9883 82.9539 55.977H73.863C71.9111 54.8028 70.3048 53.1329 69.2071 51.1371C68.1094 49.1413 67.5594 46.8905 67.6129 44.6133Z"
              fill="#E9D519" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M71.1845 43.2088L71.1839 43.234C71.1392 45.1331 71.5979 47.0102 72.5134 48.6747C73.3371 50.1724 74.5043 51.45 75.9158 52.4044H83.8078C86.5054 50.7212 88.4898 47.2881 88.4898 43.1836C88.4898 37.1492 84.336 32.8265 79.8371 32.8265C75.3383 32.8265 71.1845 37.1491 71.1845 43.1836V43.2088ZM84.3826 54.5473H75.2917C73.3398 53.3731 71.7335 51.7033 70.6358 49.7074C69.5381 47.7116 68.9881 45.4608 69.0417 43.1836C69.0417 36.2707 73.8712 30.6836 79.8371 30.6836C85.803 30.6836 90.6326 36.2707 90.6326 43.1836C90.6326 48.2026 88.0758 52.5586 84.3826 54.5473Z"
              fill="#2C3B47" />
            <path d="M84.2857 54.5723V61.0008H75V54.5723H75.0957H84.2857Z" fill="#5C9CD0" />
            <path
              d="M74.251 60.7661V54.5485C74.2426 54.422 74.2614 54.2951 74.306 54.1765C74.3506 54.0578 74.4201 53.95 74.5098 53.8603C74.5994 53.7707 74.7072 53.7012 74.8259 53.6566C74.9446 53.6566 74.7072 53.6307 74.8259 53.6223H75.3243C75.079 53.6047 74.8482 53.4993 74.6743 53.3254C74.5004 53.1515 74.395 52.9207 74.3774 52.6754V60.7661Z"
              fill="#2C3B47" />
            <circle cx="127" cy="10" r="10" fill="#F1F7FC" />
            <circle cx="130" cy="32" r="5" fill="#F1F7FC" />
            <circle cx="3" cy="3" r="3" transform="matrix(1 0 0 -1 137 26)" fill="#F1F7FC" />
            <defs>
              <clipPath id="clip0_7537_35289">
                <rect x="40" y="6" width="80" height="80" rx="40" fill="white" />
              </clipPath>
            </defs>
          </g>
        </svg>
      </div>
      <div class="help_illustration_mobile">
        <cos-icon name="topic-create-icon-legacy" size="32"></cos-icon>
      </div>

      @if (currentStep() !== 'preview') {
        <div id="help_text_wrap" (click)="showHelp.set(!showHelp())" (keydown.enter)="showHelp.set(!showHelp())" role="button" tabindex="0">
          <div class="title">
            <span translate="VIEWS.TOPIC_CREATE.HELP_HEADING"></span>
            <div class="mobile_icon">
              <cos-icon name="topic-participants-icon-legacy" size="24"></cos-icon>
            </div>
          </div>
          <div class="description_text">
            <div translate="VIEWS.TOPIC_CREATE.HELP_DESCRIPTION"></div>
          </div>
        </div>
      } @else {
        <div id="help_text_wrap_preview">
          <div class="title">
            <span translate="VIEWS.TOPIC_CREATE.HELP_NEXT_HEADING"></span>
          </div>
          <div class="description_text_wide">
            <div class="small_heading" translate="VIEWS.TOPIC_CREATE.HELP_NEXT_HEADING"></div>
            <div translate="VIEWS.TOPIC_CREATE.HELP_NEXT_DESCRIPTION"></div>
            <div class="items_list">
              <div class="item">
                <div>
                  <cos-icon name="topic-create-icon-2-legacy" size="24"></cos-icon>
                </div>
                <span class="item_text" translate="VIEWS.TOPIC_CREATE.HELP_ITEM_SHARE_AND_INVITE"></span>
              </div>
              <div class="item">
                <div>
                  <cos-icon name="topic-create-icon-3-legacy" size="24"></cos-icon>
                </div>
                <span class="item_text" translate="VIEWS.TOPIC_CREATE.HELP_ITEM_ENGAGE_IN_DISCUSSION"></span>
              </div>
              <div class="item">
                <div>
                  <cos-icon name="topic-create-icon-4-legacy" size="24"></cos-icon>
                </div>
                <span class="item_text" translate="VIEWS.TOPIC_CREATE.HELP_ITEM_ADD_IDEATION"></span>
              </div>
              <div class="item">
                <cos-icon name="topic-create-icon-5-legacy" size="24"></cos-icon>
                <span class="item_text" translate="VIEWS.TOPIC_CREATE.HELP_ITEM_ADD_VOTING"></span>
              </div>
              <div class="item">
                <div>
                  <cos-icon name="topic-create-icon-6-legacy" size="24"></cos-icon>
                </div>
                <span class="item_text" translate="VIEWS.TOPIC_CREATE.HELP_ITEM_ADD_FOLLOW_UP"></span>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</cos-create-wizard-shell>
