<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog" cdkTrapFocus [cdkTrapFocusAutoCapture]="true" role="dialog" aria-modal="true">
    <!-- Mobile navigation row -->
    <div class="mobile_buttons mobile_show">
      <div class="mobile_buttons_left">
        @if (hasMoreIdeas()) {
          <button type="button" class="btn_medium_close icon" (click)="prevIdea()" [disabled]="!hasPrev()" [attr.aria-label]="'COMPONENTS.ACCESSIBILITY.PAGINATION_PREV' | translate">
            <cos-icon name="arrow-left" [size]="24"></cos-icon>
          </button>
          <button type="button" class="btn_medium_close icon" (click)="nextIdea()" [disabled]="!hasNext()" [attr.aria-label]="'COMPONENTS.ACCESSIBILITY.PAGINATION_NEXT' | translate">
            <cos-icon name="arrow-right" [size]="24"></cos-icon>
          </button>
        }
      </div>
      <div class="mobile_buttons_right">
        <button type="button" id="close_button" class="btn_medium_close icon" [dialogClose]="true" [attr.aria-label]="'BTN_CLOSE' | translate">
          <cos-icon name="close" [size]="24"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <!-- Desktop prev button -->
      <div class="buttons_left mobile_hidden">
        @if (hasMoreIdeas()) {
          <button type="button" class="btn_medium_close btn_idea_select" (click)="prevIdea()" [disabled]="!hasPrev()" [attr.aria-label]="'COMPONENTS.ACCESSIBILITY.PAGINATION_PREV' | translate">
            <cos-icon name="arrow-left" [size]="24"></cos-icon>
          </button>
        }
      </div>

      <!-- Desktop right buttons (close + next) -->
      <div class="buttons_right mobile_hidden">
        <button type="button" class="btn_medium_close mobile_hidden icon" [dialogClose]="true" [attr.aria-label]="'BTN_CLOSE' | translate">
          <cos-icon name="close" [size]="24"></cos-icon>
        </button>
        @if (hasMoreIdeas()) {
          <button type="button" class="btn_medium_close btn_idea_select" (click)="nextIdea()" [disabled]="!hasNext()" [attr.aria-label]="'COMPONENTS.ACCESSIBILITY.PAGINATION_NEXT' | translate">
            <cos-icon name="arrow-right" [size]="24"></cos-icon>
          </button>
        }
      </div>

      <!-- Main idea content -->
      @if (isLoading()) {
        <div class="idea_content_idea loading_state">
          <div class="loader_wrapper">
            <div class="loader"></div>
          </div>
          <span class="bold loader_text" translate="COMPONENTS.IDEA_DIALOG.LOADING_IMAGES"></span>
        </div>
      } @else if (hasError()) {
        <div class="idea_content_idea error_state">
          <span translate="MSG_ERROR_GET"></span>
        </div>
      } @else if (idea()) {
        @if (showEdit()) {
          <app-edit-idea
            [topic]="topic()"
            [ideation]="ideation()"
            [idea]="idea()"
            (ideaUpdated)="onIdeaUpdated($event)"
            (closed)="showEdit.set(false)" />
        }
        <div class="idea_content_idea" [hidden]="showEdit()">
          <div class="idea_header">
            <div class="idea_header_left">
              @if (idea().author) {
                <div class="avatar">
                  <cos-tooltip [noIcon]="true" [title]="idea().author?.name || ''">
                    <div trigger class="avatar_inner">
                      @if (idea().author?.imageUrl) {
                        <img [src]="idea().author!.imageUrl" [alt]="idea().author!.name" />
                      } @else {
                        <div class="profile_image_filler">
                          <cos-initials [name]="idea().author!.name || ''" />
                        </div>
                      }
                    </div>
                  </cos-tooltip>
                </div>
                <div class="name_wrap">
                  <div class="name" [innerHTML]="idea().author!.name"></div>
                  <div class="date">{{ idea().createdAt | date: 'y-MM-dd HH:mm' }}</div>
                </div>
                <div class="vertical_line_separator"></div>
              } @else {
                <div class="name_wrap">
                  <div class="name" [innerHTML]="'COMPONENTS.IDEABOX.IDEA_NUMBER' | translate:{ number: ideaNumber() }"></div>
                  <div class="date">{{ idea().createdAt | date: 'y-MM-dd HH:mm' }}</div>
                </div>
                <div class="vertical_line_separator"></div>
              }

              @if (userStore.isAuthenticated()) {
                <cos-tooltip [noIcon]="true"
                  [title]="(idea().favourite ? 'COMPONENTS.IDEABOX.TOOLTIP_SAVED_TO_FAVOURITE' : 'COMPONENTS.IDEABOX.TOOLTIP_FAVOURITE') | translate"
                  pos="top">
                  <button type="button" trigger class="btn_small_plain" (click)="toggleFavourite()">
                    @if (!idea().favourite) {
                      <cos-icon name="favourite" [size]="16" />
                    } @else {
                      <cos-icon name="favourite-filled" [size]="16" />
                    }
                  </button>
                </cos-tooltip>
              }
            </div>

            @if (userStore.isAuthenticated() || isEdited()) {
              <div class="idea_header_right">
                <div class="dropdown button_dropdown" cosDropdown>
                  <button type="button" class="btn_small_plain icon" trigger aria-label="Idea actions">
                    <cos-icon name="idea-icon-legacy" size="32"></cos-icon>
                  </button>
                  <div class="options button_options">
                    @if (userStore.isAuthenticated()) {
                      <button type="button" class="option" (click)="toggleFavourite()">
                        <div class="icon_wrap">
                          <cos-icon name="ideabox-icon-4-legacy" size="16"></cos-icon>
                        </div>
                        <span>{{ (idea().favourite ? 'COMPONENTS.IDEABOX.OPTION_UNFAVOURITE' : 'COMPONENTS.IDEABOX.OPTION_FAVOURITE') | translate }}</span>
                      </button>
                    }
                    @if (canEditTopic()) {
                      <div class="line_separator"></div>
                      <button type="button" class="option" (click)="addToFolder()">
                        <cos-icon name="ideabox-icon-7-legacy" size="16"></cos-icon>
                        <span translate="COMPONENTS.IDEABOX.OPTION_ADD_TO_FOLDER"></span>
                      </button>
                    }
                    @if (canEditIdea()) {
                      <div class="line_separator"></div>
                      <button type="button" class="option" (click)="editIdea()">
                        <cos-icon name="topic-vote-cast-icon-2-legacy" size="16"></cos-icon>
                        <span translate="COMPONENTS.IDEABOX.OPTION_EDIT"></span>
                      </button>
                    }
                    @if (userStore.isAuthenticated()) {
                      <div class="line_separator"></div>
                      <button type="button" class="option" (click)="doIdeaReport()">
                        <cos-icon name="ideabox-icon-8-legacy" size="16"></cos-icon>
                        <span translate="COMPONENTS.IDEABOX.OPTION_REPORT"></span>
                      </button>
                    }
                    @if (isEdited()) {
                      <div class="line_separator"></div>
                      <button type="button" class="option" (click)="editIdea()">
                        <cos-icon name="history-legacy" [size]="16" />
                        <span translate="COMPONENTS.IDEABOX.OPTION_VIEW_PREVIOUS_VERSIONS"></span>
                      </button>
                    }
                    @if (canEditIdea()) {
                      <div class="line_separator"></div>
                      <button type="button" class="option error_text" (click)="confirmDelete()">
                        <cos-icon name="ideabox-icon-9-legacy" size="16"></cos-icon>
                        <span translate="COMPONENTS.IDEABOX.OPTION_REMOVE"></span>
                      </button>
                    }
                  </div>
                </div>
              </div>
            }
          </div>

          <div class="idea_content">
            <div id="idea-statement" class="statement" [innerHTML]="idea().statement || ('COMPONENTS.IDEABOX.UNTITLED_IDEA' | translate)"></div>
            <div class="description" [innerHTML]="idea().description"></div>

            @if ((images$ | async)?.length) {
              <div class="idea_images_wrap">
                @for (image of images$ | async; track image.id) {
                  <div class="image" [class.view]="isImageViewed(image.id)">
                    <div class="image_view_buttons_wrap">
                      <a [href]="image.link" [download]="image.name" [title]="image.name" target="_blank" class="image_view_button btn_medium_close icon">
                        <cos-icon name="idea-icon-2-legacy" size="16"></cos-icon>
                      </a>
                      <button type="button" class="image_view_button btn_medium_close icon" (click)="toggleImageView(image.id)">
                        <cos-icon name="idea-icon-3-legacy" size="24"></cos-icon>
                      </button>
                    </div>
                    <img [alt]="image.name" [src]="image.link" (click)="toggleImageView(image.id)" />
                    <span class="name link" (click)="toggleImageView(image.id)">{{ image.name }}</span>
                  </div>
                }
              </div>
            }

            @if ((folders$ | async)?.length) {
              <div class="idea_folders_wrap">
                <div class="icon">
                  <cos-icon name="idea-icon-4-legacy" size="24"></cos-icon>
                </div>
                <div class="text">
                  <span translate="COMPONENTS.IDEA_DIALOG.FOLDERS"></span>
                  @for (folder of folders$ | async; track folder.id) {
                    <a class="folder" (click)="viewFolder(folder)">{{ folder.name }}</a>
                  }
                  @if ((folders$ | async)!.length > 3) {
                    <span translate="COMPONENTS.IDEA_DIALOG.FOLDERS_MORE" [translateParams]="{ count: ((folders$ | async)!.length - 3) }"></span>
                  }
                </div>
              </div>
            }
          </div>

          <div class="idea_footer">
            <div class="like_wrap" [class.selected]="idea().votes.up.selected">
              <button type="button" class="btn_idea_like" [disabled]="!canVote()" (click)="voteIdea(1)" [attr.aria-label]="'COMPONENTS.IDEABOX.TOOLTIP_LIKE' | translate">
                @if (!idea().votes.up.selected) {
                  <cos-icon name="idea-icon-5-legacy" size="17"></cos-icon>
                } @else {
                  <cos-icon name="idea-icon-6-legacy" size="16"></cos-icon>
                }
              </button>
              <a class="like_counter_wrap" (click)="showReactions()">
                <span>{{ idea().votes.up.count }}</span>
              </a>
            </div>

            <div class="buttons_wrap">
              @if (ideation().disableReplies) {
                <cos-tooltip [noIcon]="true" [title]="'COMPONENTS.IDEA_DIALOG.TOOLTIP_REPLIES_DISABLED' | translate" pos="top">
                  <span trigger></span>
                </cos-tooltip>
              }
              @if (replyCount() > 0) {
                @if (!showReplies()) {
                  <button type="button" class="btn_ghost_reply_idea"
                    [translate]="'COMPONENTS.ARGUMENT.LNK_SHOW_REPLIES'"
                    [translateParams]="{ count: replyCount() }"
                    (click)="showReplies.set(true)">
                  </button>
                } @else {
                  <button type="button" class="btn_ghost_reply_idea"
                    translate="COMPONENTS.ARGUMENT.LNK_HIDE_REPLIES"
                    (click)="showReplies.set(false)">
                  </button>
                }
              }
              @if (!showReply() && !ideation().disableReplies && userStore.isAuthenticated()) {
                <button type="button" class="btn_small_submit bold" [disabled]="!!idea().deletedAt" (click)="showReply.set(true)">
                  <span translate="COMPONENTS.IDEA_DIALOG.BTN_REPLY"></span>
                </button>
              }
            </div>
          </div>
        </div>

        <div class="idea_content_replies" [hidden]="showEdit()">
          @if (showReply() && userStore.isAuthenticated()) {
            <div class="replies_header">
              <div class="form_wrap">
                <app-idea-reply-form
                  [topicId]="topic().id"
                  [ideationId]="ideation().id"
                  [ideaId]="idea().id"
                  (showReplyChange)="showReply.set($event)"
                  (showRepliesChange)="onReplyAdded()" />
              </div>
            </div>
          }

          <div class="replies_content_wrap">
            @if (showReplies()) {
              <div class="replies_wrap">
                @for (reply of replies$ | async; track reply.id; let last = $last) {
                  <div class="reply_container">
                    <div class="reply_referer"></div>
                    @if (!last) {
                      <div class="reply_more"></div>
                    }
                    <app-idea-reply
                      [argument]="reply"
                      [topicId]="topic().id"
                      [ideationId]="ideation().id"
                      [ideaId]="idea().id" />
                  </div>
                }
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
