<div [class]="'reply_wrap ' + argument().type">
  @if (userStore.isAuthenticated()) {
    <div>
      <div class="heading">{{ 'COMPONENTS.ARGUMENT_REPLY.HEADING' | translate }}</div>
    </div>
    <form name="argumentReply">
      <textarea cosMarkdown id="argument_reply_text" name="text"
        [item]="replyText()" (itemChange)="replyText.set($event)"
        class="gray_borders" [class.error_input]="errors()?.text"
        [placeholder]="'COMPONENTS.ARGUMENT_REPLY.PLACEHOLDER_WRITE_REPLY_HERE'"
        [limit]="ARGUMENT_TYPES_MAXLENGTH['reply']"
        [cosMarkdownTranslateCharacterStatusKey]="'COMPONENTS.ARGUMENT_REPLY.CHARACTER_LIMIT'"></textarea>
      @if (errors()?.text) {
        <label for="argument_reply_text" class="error_label">
          <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
          <span>{{ (errors()?.text?.[0] || '') | translate }}</span>
        </label>
      }
      <div class="buttons_wrap">
        <div>
          <button type="button" class="btn_medium_submit_ghost icon close_button" (click)="close()" [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="edit-argument-icon-legacy" size="24"></cos-icon>
          </button>
        </div>
        <div>
          <button type="button" class="btn_medium_submit bold"
            [disabled]="!replyText().length"
            (click)="saveReply()">
            {{ 'COMPONENTS.ARGUMENT_REPLY.BTN_POST_REPLY' | translate }}
          </button>
        </div>
      </div>
    </form>
  }
</div>
