

#topic_wrap_root {
  background: var(--color-background);
  min-height: 100vh;
  padding-top: 24px;
}

.topic_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 48px);
  .spin {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#topic_view {
  .content_area_wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;

    .content_area_left {
      flex: 1;
      min-width: 0;

      .topic_feature_section {
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 24px 32px;
        margin-bottom: 90px;

        &.voting {
          background-color: var(--color-argument-pro-light);

          @media (max-width: 1024px) {
            display: none;

            &.show {
              display: flex;
            }
          }
        }

        &.follow_up {
          background-color: var(--color-dialog-follow-up);
        }

        @media (max-width: 768px) {
          padding: 24px;
        }
      }
    }

    .content_area_right {
      width: 344px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      position: sticky;
      top: 24px;
    }
  }
}



.topic_tabs {
  display: flex;
  background-color: var(--color-surfaces);
  width: 100%;
  border-radius: 16px;
  padding: 0px 16px;
  gap: 32px;
  margin-bottom: 24px;

  @media (max-width: 1024px) {
    display: none;
  }

  &.tablet {
    display: none;
    z-index: 999999;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    justify-content: space-between;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px -8px 20px 0px rgba(220, 231, 240, 0.1);

    @media (max-width: 1024px) {
      display: flex;
    }

    .topic_tab {
      .active {
        background-color: var(--color-blue-100);
        border-bottom: none;
      }
      &.discussion.active {
        background-color: var(--color-discussion);
        color: var(--color-surfaces);
        rect { fill: var(--color-blue-100); }
        path { fill: var(--color-discussion); }
      }
      &.voting.active {
        background-color: var(--color-voting);
        color: var(--color-surfaces);
        rect { fill: var(--color-dialog-voting-contrast); }
        path { fill: var(--color-voting); }
      }
      &.ideation.active {
        background-color: var(--color-ideation);
        color: var(--color-surfaces);
      }
      &.follow_up.active {
        background-color: var(--color-follow-up);
        color: var(--color-surfaces);
        rect { fill: var(--color-dialog-follow-up); }
        path { fill: var(--color-follow-up); }
      }
    }
  }
}

.topic_tab {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 19px 24px;
  color: var(--color-text);
  cursor: pointer;

  @media (max-width: 1024px) {
    padding: 12px 38px;
    width: 100%;
    justify-content: center;
  }
  @media (max-width: 768px) {
    padding: 12px 0;
  }

  &.active {
    font-weight: 600;
    border-bottom: 2px solid var(--color-discussion);

    @media (max-width: 1024px) {
      background-color: var(--color-blue-100);
      border-bottom: none;
    }

    &.ideation {
      border-bottom: 2px solid var(--color-ideation);
      @media (max-width: 1024px) { border-bottom: none; }
    }

    &.voting {
      border-bottom: 2px solid var(--color-voting);
      @media (max-width: 1024px) { border-bottom: none; }
    }

    &.follow_up {
      border-bottom: 2px solid var(--color-follow-up);
      @media (max-width: 1024px) { border-bottom: none; }
    }
  }
}
