@if (loading()) {
<div class="topic_loading">
  <cos-icon name="spinner" [size]="48" class="spin"></cos-icon>
</div>
} @else if (topic()) {
<div id="topic_wrap_root">
  <div id="topic_view" class="page_content">

    <app-topic-header [topic]="topic()!" [navigation]="navigation()" [wWidth]="wWidth()"
      [cosTourItem]="{ tourid: 'topic', index: 1, position: 'bottom' }" (joinTopic)="joinTopic($event)"
      (toggleFavourite)="toggleFavourite($event)" (leaveTopic)="leaveTopic($event)"
      (inviteEditors)="inviteEditors($event)" (duplicateTopic)="duplicateTopic($event)"
      (addGroupsDialog)="addGroupsDialog($event)" (reportTopic)="reportTopic($event)"
      (reportReasonDialog)="reportReasonDialog($event)" (moderateTopic)="moderateTopic($event)"
      (reviewTopic)="reviewTopic($event)" (resolveTopic)="resolveTopic($event)" (closeTopic)="closeTopic($event)"
      (deleteTopic)="deleteTopic($event)" (openSettings)="openSettings($event)"
      [appTopicNotificationSettings]="appTopicNotificationSettings">
    </app-topic-header>

    <app-topic-tabs [topic]="topic()!" [tabSelected]="tabSelected()" [wWidth]="wWidth()"
      (tabNavigate)="selectTab($event)" />

    <div class="content_area_wrap">

    <div class="content_area_left">
      @if (topic()?.report && ((topic()?.report?.type && !topic()?.report?.moderatedReasonType) || topic()?.report?.type
      || (topicService.canEdit(topic()!) && topic()?.report?.moderatedReasonType))) {
      <div class="notification_inline warning">
        <div class="icon_notification">
          <cos-icon name="warning" [size]="24" color="white"></cos-icon>
        </div>
        <div class="message">
          <h2 class="title">{{ 'VIEWS.TOPICS_TOPICID.HEADING_REPORTED' | translate }}</h2>
          <div class="content">
            <div class="content_description">
              {{ (topicService.canEdit(topic()!) ? 'VIEWS.TOPICS_TOPICID.DESCRIPTION_REPORTED_ADMIN' : 'VIEWS.TOPICS_TOPICID.DESCRIPTION_REPORTED') | translate }}
            </div>
            <div class="content_items_wrap">
              @if (topic()?.report?.type && !topic()?.report?.moderatedReasonType) {
              <div class="content_item">
                <div class="option" (click)="moderateTopic(topic()!)" (keydown.enter)="moderateTopic(topic()!)"
                  tabindex="0" role="button">
                  <div class="icon"><cos-icon name="arrow-next" [size]="24" color="#1168A8"></cos-icon></div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.TAB_INFO_LNK_MODERATE' | translate }}</span>
                </div>
              </div>
              }
              <div class="content_item">
                <div class="option" (click)="reportReasonDialog(topic()!)"
                  (keydown.enter)="reportReasonDialog(topic()!)" tabindex="0" role="button">
                  <div class="icon"><cos-icon name="arrow-next" [size]="24" color="#1168A8"></cos-icon></div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.TAB_INFO_LNK_VIEW_REPORT_DETAILS' | translate }}</span>
                </div>
              </div>
              @if (topic()?.report?.type) {
              <div class="content_item">
                <div class="option" (click)="resolveTopic(topic()!)" (keydown.enter)="resolveTopic(topic()!)"
                  tabindex="0" role="button">
                  <div class="icon"><cos-icon name="arrow-next" [size]="24" color="#1168A8"></cos-icon></div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.TAB_INFO_LNK_RESOLVE' | translate }}</span>
                </div>
              </div>
              }
              @if (topicService.canEdit(topic()!) && topic()?.report?.moderatedReasonType) {
              <div class="content_item">
                <div class="option" (click)="reviewTopic(topic()!)" (keydown.enter)="reviewTopic(topic()!)" tabindex="0"
                  role="button">
                  <div class="icon"><cos-icon name="arrow-next" [size]="24" color="#1168A8"></cos-icon></div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.TAB_INFO_LNK_SUBMIT_FOR_REVIEW' | translate }}</span>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      }

      <div class="topic_content_wrap_outer" [class.reported]="hideTopicContent()">
        @if (hideTopicContent()) {
        <div class="moderated_topic">
          <div class="notification">
            <div>
              <cos-icon name="warning" [size]="40" color="#F39129"></cos-icon>
            </div>
            <h2 class="notification_title">{{ 'COMPONENTS.TOPICBOX.NOTIFICATION_TITLE' | translate }}</h2>
            <div class="notification_links">
              <button type="button" class="btn_link" (click)="reportReasonDialog(topic()!)"
                (keydown.enter)="reportReasonDialog(topic()!)">{{ 'COMPONENTS.TOPICBOX.NOTIFICATION_LNK_WHY' | translate
                }}</button>
              <button type="button" class="btn_link" (click)="hideTopicContent.set(false)"
                (keydown.enter)="hideTopicContent.set(false)">{{ 'COMPONENTS.TOPICBOX.NOTIFICATION_LNK_VIEW' | translate
                }}</button>
            </div>
          </div>
        </div>
        }
        <app-topic-content [cosTourItem]="{ tourid: 'topic', index: 3, position: 'top' }" [topic]="topic()!"
          [tabTablet]="tabTablet()" />
      </div>


      <!-- Discussion tab -->
      @if (!tabSelected() || tabSelected() === 'discussion') {
      <div [ngClass]="{ hidden: wWidth() <= 1024 && tabTablet() !== 'discussion' }"
        [cosTourItem]="{ tourid: 'topic', index: 7, position: 'top' }">
        <cos-topic-discussion [topic]="topic()!"></cos-topic-discussion>
      </div>
      }

      <!-- Ideation tab -->
      @if (tabSelected() === 'ideation' && ideation()) {
        <app-topic-ideation 
            [topic]="topic()!" 
            [ideation]="ideation()!"
            [class.hidden]="wWidth() <= 1024 && tabTablet() !== 'ideation'"
            [cosTourItem]="{ tourid: 'topic', index: 7, position: 'top' }" />
      }

      <!-- Voting tab -->
      @if (tabSelected() === 'voting') {
      <div class="vote_wrap" [ngClass]="{ hidden: wWidth() <= 1024 && tabTablet() !== 'voting' }">
        @if (!topic()?.voteId) {
        <div class="topic_feature_section voting">
          <cos-no-feature-yet>
            
            <h2 class="description_heading">{{ 'VIEWS.TOPICS_TOPICID.NO_VOTING_HEADING' | translate }}</h2>
            @if (topicService.canDelete(topic()!) && topic()?.status !== STATUSES.followUp && topic()?.status !==
            STATUSES.closed) {
            <div class="button">
              <button type="button" class="btn_medium_submit animate" (click)="startVote(topic()!)">
                <cos-icon name="plus" [size]="20"></cos-icon>
                <span>{{ 'VIEWS.TOPICS_TOPICID.NO_VOTING_BTN_ADD' | translate }}</span>
              </button>
            </div>
            }
            <div class="no_feature_description">
              <div class="description_text">
                <h3 class="description_heading">{{ 'VIEWS.TOPICS_TOPICID.NO_VOTING_DESC_HEADING' | translate }}</h3>
                <div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.NO_VOTING_DESC_BEFORE' | translate }}</span><br /><br />
                  <span>{{ 'VIEWS.TOPICS_TOPICID.NO_VOTING_DESC_AFTER' | translate }}</span>
                </div>
              </div>
            </div>
          </cos-no-feature-yet>
        </div>
        }
        @if (topic()?.voteId && vote()) {
        <app-topic-vote-cast [topic]="topic()!" [vote]="vote()!"
          [cosTourItem]="{ tourid: 'topic', index: 7, position: 'top' }" />
        }
      </div>
      }

      <!-- Follow-up tab -->
      @if (tabSelected() === 'followUp') {
      <div class="follow_up_wrap" [ngClass]="{ hidden: wWidth() <= 1024 && tabTablet() !== 'followUp' }">
        @if (eventsCount() === 0 && (!topicService.canUpdate(topic()!) || topic()?.status !== STATUSES.followUp)) {
        <div class="topic_feature_section follow_up">
          <cos-no-feature-yet>
            
            <h2 class="description_heading">{{ 'VIEWS.TOPICS_TOPICID.NO_FOLLOW_UP_HEADING' | translate }}</h2>
            @if (topicService.canDelete(topic()!) && topic()?.status !== STATUSES.closed) {
            <div class="button">
              <button type="button" class="btn_medium_submit animate" (click)="sendToFollowUp(topic()!)">
                <cos-icon name="plus" [size]="20"></cos-icon>
                <span>{{ 'VIEWS.TOPICS_TOPICID.NO_FOLLOW_BTN_ADD' | translate }}</span>
              </button>
            </div>
            }
            <div class="no_feature_description">
              <div class="description_text">
                <h3 class="description_heading">{{ 'VIEWS.TOPICS_TOPICID.NO_FOLLOW_DESC_HEADING' | translate }}</h3>
                <div>
                  <span>{{ 'VIEWS.TOPICS_TOPICID.NO_FOLLOW_DESC_BEFORE' | translate }}</span><br /><br />
                  <span>{{ 'VIEWS.TOPICS_TOPICID.NO_FOLLOW_DESC_AFTER' | translate }}</span>
                </div>
              </div>
            </div>
          </cos-no-feature-yet>
        </div>
        }
        @if (eventsCount() > 0 || (topic()?.status === STATUSES.followUp && topicService.canUpdate(topic()!))) {
        <app-topic-milestones [topic]="topic()!" [isStatusClosed]="topic()?.status === STATUSES.closed" />
        }
      </div>
      }

    </div>

    @if (wWidth() > 1024 || !tabTablet()) {
    <div class="content_area_right">

      <app-topic-info-sidebar [cosTourItem]="{ tourid: 'topic', index: 6, position: 'left' }" [topic]="topic()!"
        [groups]="groups()" [attachments]="attachments()" [appTopicNotificationSettings]="appTopicNotificationSettings"
        (toggleFavourite)="toggleFavourite($event)" (leaveTopic)="leaveTopic($event)"
        (inviteEditors)="inviteEditors($event)" (duplicateTopic)="duplicateTopic($event)"
        (addGroupsDialog)="addGroupsDialog($event)" (closeTopic)="closeTopic($event)"
        (deleteTopic)="deleteTopic($event)" (downloadAttachment)="downloadAttachment($event)" />

      <app-topic-participants-section [topic]="topic()!" [members]="members()" />

      @if (userStore.isAuthenticated()) {
      <div class="info_section notifications">
        <div class="info_items_wrap">
          <div class="info_header">
            <h3 class="info_title">{{ 'VIEWS.TOPICS_TOPICID.SECTION_NOTIFICATIONS_HEADING' | translate }}</h3>
          </div>
          <div class="info_item">{{ 'VIEWS.TOPICS_TOPICID.SECTION_NOTIFICATIONS_DESC' | translate }}</div>
          <button type="button" class="btn_medium_secondary bold" (click)="appTopicNotificationSettings()">
            <div class="icon"><cos-icon name="bell" size="16"></cos-icon></div>
            <span>{{ 'VIEWS.TOPICS_TOPICID.SECTION_NOTIFICATIONS_BTN' | translate }}</span>
          </button>
        </div>
      </div>
      }

      <app-topic-state-items [cosTourItem]="{ tourid: 'topic', index: 5, position: 'left' }" [topic]="topic()!"
        [ideation]="ideation()" [vote]="vote()" [eventCount]="eventsCount()" (navigateTab)="selectTab($event)"
        (startDiscussion)="startDiscussion($event)" (startVote)="startVote($event)"
        (sendToFollowUp)="sendToFollowUp($event)" />

    </div>
    }

  </div>
</div>
</div>
}