<div class="deleted_argument_wrap">
  <div class="deleted_argument_content_wrap">
    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="40" height="40" rx="20" fill="#F39129" />
      <path
        d="M19.0645 8C18.4876 8 18.0304 8.48668 18.0664 9.06238L18.9414 23.0624C18.9743 23.5894 19.4114 24 19.9395 24H20.0605C20.5886 24 21.0257 23.5894 21.0586 23.0624L21.9336 9.06238C21.9696 8.48668 21.5124 8 20.9355 8H19.0645Z"
        fill="white" />
      <path
        d="M20 31C21.1046 31 22 30.1046 22 29C22 27.8954 21.1046 27 20 27C18.8954 27 18 27.8954 18 29C18 30.1046 18.8954 31 20 31Z"
        fill="white" />
    </svg>
    @if (argument().deletedReasonType && argument().deletedReasonText) {
      <div class="bold"
        [innerHTML]="'VIEWS.TOPICS_TOPICID.ARGUMENT_FOUND_INAPPRIOPRIATE_BY' | translate:{ usersFullName: argument().deletedBy?.name }">
      </div>
      <div class="buttons_wrap">
        <button type="button" class="btn_link" (click)="showReason()">{{ 'VIEWS.TOPICS_TOPICID.ARGUMENT_WHY' | translate }}</button>
        @if (!isArgumentVisible()) {
          <button type="button" class="btn_link" (click)="showArgument()">{{ 'VIEWS.TOPICS_TOPICID.ARGUMENT_VIEW_ARGUMENT_ANYWAY' | translate }}</button>
        }
      </div>
    }
    @if (argument().deletedBy?.id === argument().creator?.id && !argument().deletedReasonType && !argument().deletedReasonText) {
      <div class="bold"
        [innerHTML]="'VIEWS.TOPICS_TOPICID.ARGUMENT_CREATOR_REMOVED_ARGUMENT' | translate">
      </div>
      <div class="buttons_wrap">
        @if (!isArgumentVisible()) {
          <button type="button" class="btn_link" (click)="showArgument()">{{ 'VIEWS.TOPICS_TOPICID.ARGUMENT_VIEW_ARGUMENT_ANYWAY' | translate }}</button>
        }
      </div>
    }
  </div>
</div>
