<cos-page-header id="page_header" />

<div class="page_content" id="dashboard_wrap">

  @if (hasNoEngagements()) {
    <div class="no_engagements">
      <div class="illustration">
        <img
          src="assets/illustrations/dashboard-no-engagements.svg"
          width="96"
          height="90"
          alt=""
          role="presentation"
        />
      </div>
      <div class="text_wrap">
        <div class="small_heading" [innerHTML]="'VIEWS.DASHBOARD.HAVENT_ENGAGED_TOPICS_HEADING' | translate"></div>
        <div [innerHTML]="'VIEWS.DASHBOARD.HAVENT_ENGAGED_TOPICS_DESCRIPTION' | translate"></div>
      </div>
      <div class="button_wrap">
        <div id="create_menu_wrap" [class.hidden]="!showCreate()">
          <cos-create-menu (onClose)="showCreate.set(false)" />
          <div id="close_create" (click)="showCreate.set(false)"></div>
        </div>
        <button class="btn_medium_submit" (click)="toggleCreate()" [class.active]="showCreate()">
          <cos-icon name="plus" [size]="24" />
          <span>{{ 'VIEWS.DASHBOARD.HAVENT_ENGAGED_BTN_CREATE' | translate }}</span>
        </button>
        <button class="btn_medium_submit" [routerLink]="['/', translate.currentLang, 'public', 'topics']">
          {{ 'VIEWS.DASHBOARD.HAVENT_ENGAGED_BTN_VIEW_PUBLIC_TOPICS' | translate }}
        </button>
        <button class="btn_medium_submit" [routerLink]="['/', translate.currentLang, 'public', 'groups']">
          {{ 'VIEWS.DASHBOARD.HAVENT_ENGAGED_BTN_VIEW_PUBLIC_GROUPS' | translate }}
        </button>
      </div>
    </div>
  }

  @if (publicTopics().length > 0) {
    <cos-dashboard-list-section
      sectionTitleKey="VIEWS.DASHBOARD.PUBLIC_TOPICS_HEADER"
      viewAllLabelKey="VIEWS.DASHBOARD.PUBLIC_TOPICS_LNK_VIEW_ALL"
      [viewAllLink]="['/', translate.currentLang, 'public', 'topics']"
    >
      @for (topic of publicTopics(); track topic.id) {
        <cos-topic-card [topic]="topic" />
      }
    </cos-dashboard-list-section>
  }

  @if (myTopics().length > 0) {
    <cos-dashboard-list-section
      sectionTitleKey="VIEWS.DASHBOARD.MY_TOPICS_HEADER"
      viewAllLabelKey="VIEWS.DASHBOARD.MY_TOPICS_LNK_VIEW_ALL"
      [viewAllLink]="['/', translate.currentLang, 'my', 'topics']"
    >
      @for (topic of myTopics(); track topic.id) {
        <cos-topic-card [topic]="topic" />
      }
    </cos-dashboard-list-section>
  }

  @if (myGroups().length > 0 && publicGroups().length > 0) {
    <cos-dashboard-list-section
      sectionTitleKey="VIEWS.HOME.PUBLIC_GROUPS_TITLE"
      viewAllLabelKey="VIEWS.HOME.BTN_VIEW_ALL_GROUPS"
      [viewAllLink]="['/', translate.currentLang, 'public', 'groups']"
      mobileButtonClass="btn_medium_submit"
    >
      @for (group of publicGroups(); track group.id) {
        <cos-group-card [group]="group" />
      }
    </cos-dashboard-list-section>
  }

  @if (myGroups().length > 0) {
    <cos-dashboard-list-section
      sectionTitleKey="VIEWS.DASHBOARD.MY_GROUPS_HEADER"
      viewAllLabelKey="VIEWS.DASHBOARD.MY_GROUPS_LNK_VIEW_ALL"
      [viewAllLink]="['/', translate.currentLang, 'my', 'groups']"
    >
      @for (group of myGroups(); track group.id) {
        <cos-group-card [group]="group" />
      }
    </cos-dashboard-list-section>
  }

  @defer (on viewport) {
    <div class="dashboard_section_row news_section">
      <div class="section_header mobile">
        <div class="small_heading">{{ 'VIEWS.DASHBOARD.NEWS_HEADER' | translate }}</div>
      </div>

      <div id="news">
        <div class="section_header">
          <div class="small_heading">{{ 'VIEWS.DASHBOARD.NEWS_HEADER' | translate }}</div>
          <a href="https://citizenos.com/news" target="_blank">
            <span>{{ 'VIEWS.DASHBOARD.NEWS_LNK_VIEW_ALL' | translate }}</span>
            <cos-icon name="arrow-next" [size]="24" />
          </a>
        </div>
        <div class="news_items_wrap">
          @for (item of newsItems(); track item.id) {
            <a [href]="item.link" target="_blank" class="news_item">
              @if (item.imageUrl) {
                <div class="news_image">
                  <img [src]="item.imageUrl" [alt]="item.title || 'News image'" loading="lazy" />
                </div>
              }
              <div class="news_text">
                <div class="date">{{ item.pubDate | date: 'y-MM-dd HH:mm' }}</div>
                <span class="bold" [innerHTML]="item.title"></span>
              </div>
            </a>
          }
        </div>
      </div>

      <div id="help_us">
        <div id="title">{{ 'VIEWS.DASHBOARD.HELP_US_HEADER' | translate }}</div>
        <div class="help_items_wrap">
          <div class="help_item">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M26.7558 40.0116C34.0768 40.0116 40.0116 34.0768 40.0116 26.7558C40.0116 19.4348 34.0768 13.5 26.7558 13.5C19.4348 13.5 13.5 19.4348 13.5 26.7558C13.5 29.3644 14.2535 31.7969 15.5546 33.8477L13.5 40.0116L19.6639 37.957C21.7147 39.2582 24.1473 40.0116 26.7558 40.0116Z" fill="#98DAA2" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7442 16.0385C21.727 16.0385 16.0384 21.7271 16.0384 28.7443C16.0384 31.2454 16.7605 33.5762 18.0074 35.5415L18.1475 35.7622L16.358 41.1305L21.7263 39.3411L21.947 39.4811C23.9123 40.728 26.2431 41.4501 28.7442 41.4501C35.7614 41.4501 41.45 35.7615 41.45 28.7443C41.45 21.7271 35.7614 16.0385 28.7442 16.0385ZM14.9384 28.7443C14.9384 21.1196 21.1195 14.9385 28.7442 14.9385C36.369 14.9385 42.55 21.1196 42.55 28.7443C42.55 36.369 36.369 42.5501 28.7442 42.5501C26.1225 42.5501 23.67 41.8188 21.5814 40.5489L14.6188 42.8697L16.9396 35.9071C15.6697 33.8185 14.9384 31.366 14.9384 28.7443Z" fill="#2C3B47" />
              <circle cx="25.5" cy="31.5" r="1" fill="#2C3B47" />
              <circle cx="29" cy="31.5" r="1" fill="#2C3B47" />
              <circle cx="32.5" cy="31.5" r="1" fill="#2C3B47" />
            </svg>
            <a href="https://citizenos.com/get-involved/" target="_blank">
              <span>{{ 'VIEWS.DASHBOARD.HELP_US_LNK_SHARE_STORY' | translate }}</span>
              <cos-icon name="arrow-next" [size]="24" />
            </a>
          </div>
          <div class="help_item">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M43.2969 17.4487C39.7649 14.4779 34.5121 15.0123 31.2702 18.3139L30.0005 19.6053L28.7308 18.3139C25.4953 15.0123 20.236 14.4779 16.704 17.4487C12.6565 20.8585 12.4438 26.9782 16.066 30.6743L28.5374 43.3845C29.3431 44.2052 30.6514 44.2052 31.4571 43.3845L43.9285 30.6743C47.5572 26.9782 47.3445 20.8585 43.2969 17.4487Z" fill="#F190B7" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M14.704 15.9485C18.236 12.9777 23.4952 13.512 26.7307 16.8136L28.0004 18.105L29.2701 16.8136C32.5121 13.512 37.7649 12.9777 41.2968 15.9485C45.3444 19.3582 45.5571 25.478 41.9285 29.174L29.457 41.8843C28.6514 42.7049 27.343 42.7049 26.5374 41.8843L14.0659 29.174C10.4437 25.478 10.6564 19.3582 14.704 15.9485Z" fill="#2C3B47" />
            </svg>
            <a href="https://citizenos.com/donate/" target="_blank">
              <span>{{ 'VIEWS.DASHBOARD.HELP_US_LNK_KEEP_PLATFORM_FREE' | translate }}</span>
              <cos-icon name="arrow-next" [size]="24" />
            </a>
          </div>
          <div class="help_item">
            <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21.5 33C27.0228 33 31.5 28.5228 31.5 23C31.5 17.4772 27.0228 13 21.5 13C15.9772 13 11.5 17.4772 11.5 23C11.5 24.9678 12.0684 26.8029 13.05 28.35L11.5 33L16.15 31.45C17.6971 32.4316 19.5322 33 21.5 33Z" fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20 31.5C25.5228 31.5 30 27.0228 30 21.5C30 15.9772 25.5228 11.5 20 11.5C14.4772 11.5 10 15.9772 10 21.5C10 23.4678 10.5684 25.3029 11.55 26.85L10 31.5L14.65 29.95C16.1971 30.9316 18.0322 31.5 20 31.5Z" fill="#E9D519" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.5 43.5C28.9772 43.5 24.5 39.0228 24.5 33.5C24.5 27.9772 28.9772 23.5 34.5 23.5C40.0228 23.5 44.5 27.9772 44.5 33.5C44.5 35.4678 43.9316 37.3029 42.95 38.85L44.5 43.5L39.85 41.95C38.3029 42.9316 36.4678 43.5 34.5 43.5Z" fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 42C29.9772 42 25.5 37.5228 25.5 32C25.5 26.4772 29.9772 22 35.5 22C41.0228 22 45.5 26.4772 45.5 32C45.5 33.9678 44.9316 35.8029 43.95 37.35L45.5 42L40.85 40.45C39.3029 41.4316 37.4678 42 35.5 42Z" fill="#E3A8CC" />
            </svg>
            <a href="https://citizenos.com/get-involved/volunteer-translator" target="_blank">
              <span>{{ 'VIEWS.DASHBOARD.HELP_US_LNK_VOLUNTEER_TO_TRANSLATE' | translate }}</span>
              <cos-icon name="arrow-next" [size]="24" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <a class="btn_medium_submit mobile_show" href="https://citizenos.com/news" target="_blank">
      {{ 'VIEWS.DASHBOARD.NEWS_LNK_VIEW_ALL' | translate }}
    </a>
  } @placeholder {
    <div class="news_placeholder"></div>
  }

</div>
