<div class="argument" [id]="argumentId()">
  <div class="argument_wrap" [class]="argument().type" [class.reply]="root()">
    <div class="argument_content_wrap">
      <div class="argument_header">
        <div class="header_left">
          <div class="author_wrap">
            <div class="image_wrap">
              @if (argument().creator?.imageUrl) {
              <img [src]="argument().creator?.imageUrl" [alt]="argument().creator?.name" class="profile_image">
              } @else {
              <div class="profile_image_filler">
                <cos-initials [name]="argument().creator?.name || ''"></cos-initials>
              </div>
              }
            </div>
            <div class="author_name">{{ argument().creator?.name }}</div>
          </div>
        </div>


        <div class="header_right">
          <div class="created_at">{{ argument().createdAt | date:'y-MM-dd HH:mm' }}</div>
          <button type="button" class="btn_argument_actions mobile_show" (click)="mobileActions.set(!mobileActions())">
            <cos-icon name="argument-icon-legacy" size="16"></cos-icon>
          </button>
          <div class="dropdown mobile_hidden" cosDropdown>
            <cos-tooltip [noIcon]="true" [title]="'COMPONENTS.ARGUMENT.LBL_ARGUMENT_ACTIONS' | translate" pos="top">
              <button type="button" trigger class="btn_argument_actions" (click)="$event.stopPropagation()">
                <cos-icon name="argument-icon-legacy" size="16"></cos-icon>
              </button>
            </cos-tooltip>
            <div class="options button_options">
              @if (canEdit()) {
              <button type="button" class="option" (click)="showEdit.update(v => !v)">
                <cos-icon name="topic-vote-cast-icon-2-legacy" size="16"></cos-icon>
                <span>{{ 'COMPONENTS.ARGUMENT.OPTION_EDIT' | translate }}</span>
              </button>
              }
              <button type="button" class="option" (click)="copyLink($event)">
                <cos-icon name="argument-icon-2-legacy" size="16"></cos-icon>
                <span>{{ 'LNK_DIRECT_LINK' | translate }}</span>
              </button>
              <button type="button" class="option" (click)="doReport()">
                <cos-icon name="ideabox-icon-8-legacy" size="16"></cos-icon>
                <span>{{ 'COMPONENTS.ARGUMENT.OPTION_REPORT' | translate }}</span>
              </button>
              @if (isEdited()) {
              <button type="button" class="option" (click)="showEdits.set(!showEdits())">
                <cos-icon name="argument-icon-3-legacy" size="16"></cos-icon>
                <span>{{ 'VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS' | translate }}</span>
              </button>
              }
              @if (canEdit()) {
              <button type="button" class="option" (click)="doDelete()">
                <cos-icon name="ideabox-icon-9-legacy" size="16"></cos-icon>
                <span>{{ 'COMPONENTS.ARGUMENT.OPTION_DELETE' | translate }}</span>
              </button>
              }
            </div>
          </div>
        </div>
      </div>

      <div class="argument_content">
        @if (argument().deletedAt && !showDeletedArgument()) {
        <app-argument-deleted [argument]="argument()"
          (showDeletedArgument)="showDeletedArgument.set($event)"></app-argument-deleted>
        } @else {
        @if (argument().parent?.id) {
          <a class="parent_author" (click)="goToParentArgument()" (keydown.enter)="goToParentArgument()" tabindex="0" role="button">
            <cos-icon name="argument-icon-4-legacy" size="16"></cos-icon>
            <span>{{ getParentAuthor() }}</span>
          </a>
        }
        @if (argument().subject) {
        <div class="argument_subject">{{ argument().subject }}</div>
        }
        <div class="argument_body" #argumentBody [innerHTML]="argument().text | markdown"></div>
        }
        @if (showEdit()) {
          <app-edit-argument [argument]="argument()" [topicId]="topicId()" (showEdit)="showEdit.set(!!$event)"></app-edit-argument>
        }
        @if (showEdits() && isEdited()) {
          <app-argument-edits [argument]="argument()" [topicId]="topicId()" [showEdits]="showEdits()" (showEditsChange)="showEdits.set($event)"></app-argument-edits>
        }
      </div>

      <div class="argument_footer">
        <div class="footer_left">
          <div class="button_group">
            <button type="button" class="btn_vote_argument" (click)="vote(1)"
              [aria-label]="'COMPONENTS.ARGUMENT.LBL_VOTE_UP' | translate">
              @if (votes()?.up?.selected) {
                <cos-icon name="argument-icon-5-legacy" size="16"></cos-icon>
              } @else {
                <cos-icon name="argument-icon-6-legacy" size="16"></cos-icon>
              }
            </button>
            <button type="button" class="btn_small_plain count_pro" [class.bold]="votes()?.up?.selected" (click)="showVoters()">
              {{ votes()?.up?.count || 0 }}
            </button>
          </div>
          <div class="button_group">
            <button type="button" class="btn_vote_argument" (click)="vote(-1)"
              [aria-label]="'COMPONENTS.ARGUMENT.LBL_VOTE_DOWN' | translate">
              @if (votes()?.down?.selected) {
                <cos-icon name="argument-icon-7-legacy" size="16"></cos-icon>
              } @else {
                <cos-icon name="argument-icon-8-legacy" size="16"></cos-icon>
              }
            </button>
            <button type="button" class="btn_small_plain count_con" [class.bold]="votes()?.down?.selected" (click)="showVoters()">
              {{ votes()?.down?.count || 0 }}
            </button>
          </div>
        </div>
        <div class="footer_right">
          @if ((argument().replies?.count || 0) > 0) {
          <button type="button" class="btn_ghost_reply_argument" (click)="showReplies.update(v => !v)">
            {{ (showReplies() ? 'COMPONENTS.ARGUMENT.LNK_HIDE_REPLIES' : 'COMPONENTS.ARGUMENT.LNK_SHOW_REPLIES') |
            translate:{ count: argument().replies?.count || 0 } }}
          </button>
          }
          <button type="button" class="btn_reply_argument" (click)="showReplyForm.update(v => !v)">
            {{ 'COMPONENTS.ARGUMENT.BTN_REPLY' | translate }}
          </button>
        </div>
      </div>
    </div>

    @if (showReplyForm()) {
      <app-argument-reply [argument]="argument()" [topicId]="topicId()" (showReplyChange)="showReplyForm.set($event)"></app-argument-reply>
    }

    @if (showReplies()) {
    <div class="replies_wrap" [class]="argument().type">
      @for (reply of argument().replies?.rows; track reply.id) {
      <div class="reply_container">
        <div class="reply_referer"></div>
        <cos-argument [argument]="reply" [topicId]="topicId()" [discussionId]="discussionId()"
          [root]="root() || argument()" (deleted)="deleted.emit()"></cos-argument>
      </div>
      }
    </div>
    }
  </div>
</div>

@if (mobileActions()) {
  <div class="overlay" (click)="mobileActions.set(false)" (keydown.escape)="mobileActions.set(false)" tabindex="-1"></div>
  <div class="mobile_actions_wrap mobile_show" [class.show]="mobileActions()">
    <div class="heading_wrap">
      <span>{{ 'COMPONENTS.ARGUMENT.LBL_ARGUMENT_ACTIONS' | translate }}</span>
      <div id="close_mobile" class="mobile_show">
        <button type="button" class="btn_small_close icon" (click)="mobileActions.set(false)">
          <cos-icon name="edit-argument-icon-legacy" size="24"></cos-icon>
        </button>
      </div>
    </div>
    <div class="options button_options">
      @if (canEdit()) {
        <button type="button" class="option" (click)="showEdit.set(true); mobileActions.set(false)">
          <cos-icon name="topic-vote-cast-icon-2-legacy" size="16"></cos-icon>
          <span>{{ 'COMPONENTS.ARGUMENT.OPTION_EDIT' | translate }}</span>
        </button>
        <div class="line_separator"></div>
      }
      <button type="button" class="option" (click)="copyLink($event); mobileActions.set(false)">
        <cos-icon name="argument-icon-2-legacy" size="16"></cos-icon>
        <span>{{ 'LNK_DIRECT_LINK' | translate }}</span>
      </button>
      <div class="line_separator"></div>
      <button type="button" class="option" (click)="doReport(); mobileActions.set(false)">
        <cos-icon name="ideabox-icon-8-legacy" size="16"></cos-icon>
        <span>{{ 'COMPONENTS.ARGUMENT.OPTION_REPORT' | translate }}</span>
      </button>
      @if (isEdited()) {
        <div class="line_separator"></div>
        <button type="button" class="option" (click)="showEdits.set(true); mobileActions.set(false)">
          <span>{{ 'VIEWS.TOPICS_TOPICID.ARGUMENT_LNK_VIEW_PREVIOUS_VERSIONS' | translate }}</span>
        </button>
      }
      @if (canEdit()) {
        <div class="line_separator"></div>
        <button type="button" class="option error_text" (click)="doDelete(); mobileActions.set(false)">
          <cos-icon name="ideabox-icon-9-legacy" size="16"></cos-icon>
          <span>{{ 'COMPONENTS.ARGUMENT.OPTION_DELETE' | translate }}</span>
        </button>
      }
    </div>
  </div>
}
