<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h3 class="title" translate="MODALS.TOPIC_REPORT_RESOLVE_HEADING"></h3>
      </div>
      <div class="dialog_close">
        <button class="btn_dialog_close icon" dialogClose>
          <cos-icon name="nav-close"></cos-icon>
        </button>
      </div>
    </div>

    <div class="dialog_content">
      <div class="content_text" translate="MODALS.TOPIC_REPORT_RESOLVE_DESCRIPTION"></div>
    </div>

    <div class="dialog_footer with_buttons">
      <div class="button_row">
        <cos-button variant="secondary" (clicked)="close()" translate="COMPONENTS.TOPIC_REPORT_RESOLVE.BTN_CANCEL"></cos-button>
        <cos-button variant="primary" (clicked)="doResolve()" [disabled]="isLoading()" translate="COMPONENTS.TOPIC_REPORT_RESOLVE.BTN_RESOLVE"></cos-button>
      </div>
    </div>
  </div>
</div>
