<div class="table_row">
  <div class="table_cell name">
    <cos-initials [name]="user().name" class="profile_image"></cos-initials>
    <div class="user_info">
      <div class="user_name">{{ user().name }}</div>
      @if (user().email) {
        <div class="user_email">{{ user().email }}</div>
      }
    </div>
  </div>
  <div class="table_cell level">
    <div class="dropdown" cosDropdown>
      <div class="selection" selection role="combobox" tabindex="0" aria-expanded="false" aria-controls="invite_user_levels_{{ user().userId }}">
        {{ 'TXT_GROUP_LEVELS_' + (user().invite?.level || '') | uppercase | translate }}
      </div>
      <div id="invite_user_levels_{{ user().userId }}" class="options" options role="listbox">
        @for (level of LEVELS | keyvalue; track level.key) {
          <div class="option" (click)="doUpdateInviteUser(level.value)" (keydown.enter)="doUpdateInviteUser(level.value)" role="option" tabindex="0" aria-selected="{{ user().invite?.level === level.value }}">
            {{ 'TXT_GROUP_LEVELS_' + level.value.toUpperCase() | translate }}
          </div>
        }
      </div>
    </div>
  </div>
  <div class="table_cell actions">
    <button type="button" class="btn_icon" (click)="doDeleteInviteUser()">
      <cos-icon name="trash" [size]="20"></cos-icon>
    </button>
  </div>
</div>
