<div class="settings-panel">
  <!-- 1. Visibility -->
  <div class="create_content_section">
    <div class="number_wrap">1</div>
    <div class="section_content_wrap">
      <div class="header_wrap">
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_VISIBILITY"></div>
        <div class="description" translate="VIEWS.TOPIC_CREATE.SETTINGS_VISIBILITY_DESC"></div>
      </div>
      <div class="row_wrap">
        <div
          class="radio_wrap"
          [class.active]="visibility() === 'private'"
          (click)="setVisibility('private')"
          (keydown.enter)="setVisibility('private')"
          tabindex="0"
          role="button"
        >
          <div class="radio_text_wrap">
            <div class="radio_lable_wrap">
              <label class="radio_box">
                <input type="radio" [checked]="visibility() === 'private'" name="visibility" value="private">
                <span class="radio"></span>
                <div class="radio_lable" translate="VIEWS.TOPIC_CREATE.SETTINGS_VISIBILITY_PRIVATE"></div>
              </label>
            </div>
            <div class="radio_description" translate="VIEWS.TOPIC_CREATE.SETTINGS_VISIBILITY_PRIVATE_DESC"></div>
          </div>
        </div>
        <div
          class="radio_wrap"
          [class.active]="visibility() === 'public'"
          (click)="setVisibility('public')"
          (keydown.enter)="setVisibility('public')"
          tabindex="0"
          role="button"
        >
          <div class="radio_text_wrap">
            <div class="radio_lable_wrap">
              <label class="radio_box">
                <input type="radio" [checked]="visibility() === 'public'" name="visibility" value="public">
                <span class="radio"></span>
                <div class="radio_lable" translate="VIEWS.TOPIC_CREATE.SETTINGS_VISIBILITY_PUBLIC"></div>
              </label>
            </div>
            <div class="radio_description" translate="VIEWS.TOPIC_CREATE.SETTINGS_VISIBILITY_PUBLIC_DESC"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 2. Category & Locality -->
  <div class="create_content_section">
    <div class="number_wrap">2</div>
    <div class="section_content_wrap">
      <div class="header_wrap">
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_CATEGORY_AND_LOCALITY"></div>
        <div class="description" translate="VIEWS.TOPIC_CREATE.SETTINGS_CATEGORY_SELECT_DESC"></div>
      </div>
      <cos-dropdown>
        <div selection translate="VIEWS.TOPIC_CREATE.SETTINGS_CATEGORY_SELECT"></div>
        <div options>
          @for (category of categoryKeys; track category) {
            <div class="option" (click)="toggleCategory(category)" (keydown.enter)="toggleCategory(category)" tabindex="0" role="button">
              {{ 'TXT_TOPIC_CATEGORY_' + category | uppercase | translate }}
            </div>
          }
        </div>
      </cos-dropdown>
      <div id="category_selection">
        @for (cat of categories(); track cat) {
          <button type="button" class="category_item" (click)="toggleCategory(cat)">
            <span>{{ 'TXT_TOPIC_CATEGORY_' + cat | uppercase | translate }}</span>
            <cos-icon name="close" [size]="16"></cos-icon>
          </button>
        }
      </div>

      <div class="header_wrap">
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_LOCALITY"></div>
        <cos-tooltip
          [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_LOCALITY_TITLE' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_LOCALITY_CONTENT' | translate"
        ></cos-tooltip>
        <div class="description" translate="VIEWS.TOPIC_CREATE.SETTINGS_LOCALITY_SELECT_DESC"></div>
      </div>
      <div class="locality-row">
        <div class="dropdown-group">
          <span class="label">{{ 'VIEWS.TOPIC_CREATE.SETTINGS_COUNTRY_SELECT' | translate }}</span>
          <cos-dropdown>
            <div selection>
              {{ country() || ('VIEWS.TOPIC_CREATE.SETTINGS_COUNTRY_SELECT' | translate) }}
            </div>
            <div options>
              @for (c of countries; track c.name) {
                <div class="option" (click)="onCountryChange(c.name)" (keydown.enter)="onCountryChange(c.name)" tabindex="0" role="button">{{ c.name }}</div>
              }
            </div>
          </cos-dropdown>
        </div>
        <div class="dropdown-group">
          <span class="label">{{ 'VIEWS.TOPIC_CREATE.SETTINGS_LANGUAGE_SELECT' | translate }}</span>
          <cos-dropdown>
            <div selection>
              {{ language() || ('VIEWS.TOPIC_CREATE.SETTINGS_LANGUAGE_SELECT' | translate) }}
            </div>
            <div options>
              @for (l of languages; track l.name) {
                <div class="option" (click)="onLanguageChange(l.name)" (keydown.enter)="onLanguageChange(l.name)" tabindex="0" role="button">{{ l.name }}</div>
              }
            </div>
          </cos-dropdown>
        </div>
      </div>
    </div>
  </div>

  <!-- 3. Groups -->
  <div class="create_content_section">
    <div class="number_wrap">3</div>
    <div class="section_content_wrap">
      <div class="header_wrap">
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_ADD_TO_GROUP"></div>
        <cos-tooltip
          [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_ADD_TO_GROUP' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_ADD_TO_GROUP_CONTENT' | translate"
        ></cos-tooltip>
        <div class="description" translate="VIEWS.TOPIC_CREATE.SETTINGS_ADD_TO_GROUP_DESC"></div>
      </div>
      @if (availableGroups().length) {
        <cos-dropdown>
          <div selection translate="VIEWS.TOPIC_CREATE.SETTINGS_GROUP_SELECT"></div>
          <div options>
            @for (group of availableGroups(); track group.id) {
              @if (!isGroupAdded(group)) {
                <div class="option" (click)="addGroup(group)" (keydown.enter)="addGroup(group)" tabindex="0" role="button">{{ group.name }}</div>
              }
            }
          </div>
        </cos-dropdown>
        @if (addedGroups().length) {
          <div class="group-list">
            @for (group of addedGroups(); track group.id) {
              <div class="group-row">
                <span class="group-name">{{ group.name }}</span>
                <button class="remove-group-btn" (click)="removeGroup(group)">
                  <cos-icon name="close" [size]="16"></cos-icon>
                </button>
              </div>
            }
          </div>
        }
      } @else {
        <div class="no-groups">
          <p translate="VIEWS.TOPIC_CREATE.NO_GROUPS_HEADING"></p>
          <p translate="VIEWS.TOPIC_CREATE.NO_GROUPS_DESCRIPTION"></p>
        </div>
      }
    </div>
  </div>
</div>
