<div class="ideation_wrap">
    <div class="ideation_header">
    <div class="header_left">
      <cos-icon name="idea" size="24" color="var(--color-text-main)"></cos-icon>
      <div class="question">{{ ideation().question }}</div>
    </div>

    <div class="header_right">
      @if (ideation().deadline) {
        <div class="deadline_wrap">
          <cos-icon name="calendar" size="20"></cos-icon>
          <span class="bold">{{ ideation().deadline | date:'dd.MM.yyyy HH:mm' }}</span>
        </div>
      }

      @if (canUpdate() && (canEditDeadline() || !hasIdeationEndedExpired())) {
        <div class="setting_button dropdown button_dropdown" cosDropdown>
          <!-- Desktop Manage button -->
          <button type="button" class="btn_manage_ideation mobile_hidden" trigger>
            <cos-icon name="more-vertical"></cos-icon>
            <span>{{ 'COMPONENTS.TOPIC_IDEATION.BTN_IDEATION_ACTIONS' | translate }}</span>
          </button>
          
          <!-- Mobile Manage button -->
          <button type="button" id="mobile_actions" class="btn_manage_ideation icon mobile_show" trigger>
             <cos-icon name="more-vertical"></cos-icon>
          </button>

          <div class="options">
            @if (canEditDeadline()) {
              <div class="option" role="button" tabindex="0" (click)="editDeadline()" (keydown.enter)="editDeadline()">
                <div class="icon_wrap">
                  <cos-icon name="edit" size="16"></cos-icon>
                </div>
                <span>{{ (ideation().deadline ? 'COMPONENTS.TOPIC_IDEATION.OPT_EDIT_DEADLINE' : 'COMPONENTS.TOPIC_IDEATION.OPT_ADD_DEADLINE') | translate }}</span>
              </div>
            }
            @if (canEdit()) {
              <div class="option" (click)="exportIdeas()" (keydown.enter)="exportIdeas()" tabindex="0" role="button">
                <div class="icon_wrap">
                  <cos-icon name="download" size="16"></cos-icon>
                </div>
                <span>{{ 'COMPONENTS.TOPIC_IDEATION.OPT_DOWNLOAD_IDEAS' | translate }}</span>
              </div>
            }
            @if (!hasIdeationEndedExpired()) {
              <div class="line_separator"></div>
              <div class="option" (click)="closeIdeation()" (keydown.enter)="closeIdeation()" tabindex="0" role="button">
                <div class="icon_wrap">
                  <cos-icon name="check-box" size="16"></cos-icon>
                </div>
                <span>{{ 'COMPONENTS.TOPIC_IDEATION.OPT_CLOSE_IDEATION' | translate }}</span>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>

  <div class="ideation_content">
    <div class="ideation_info_wrap">
        @if (hasIdeationEndedExpired()) {
            <div class="ideation_info_text_wrap">
                <div class="text_area">
                    <div class="bold">{{ 'COMPONENTS.TOPIC_IDEATION.HEADING_IDEATION_ENDED' | translate }}</div>
                    <div>{{ 'COMPONENTS.TOPIC_IDEATION.TXT_IDEATION_ENDED' | translate }}</div>
                </div>
            </div>
        }

        <div class="tabs_wrap">
            <div class="tabs_row">
                @if (tabSelected() !== 'folder') {
                    <a class="tab_item" role="button" tabindex="0" (click)="selectTab('ideas')" (keydown.enter)="selectTab('ideas')" [class.active]="tabSelected() === 'ideas'">
                        {{ 'COMPONENTS.TOPIC_IDEATION.TAB_IDEAS' | translate:{ count: ideation().ideas?.count || 0 } }}
                    </a>
                    <a class="tab_item" role="button" tabindex="0" (click)="selectTab('folders')" (keydown.enter)="selectTab('folders')" [class.active]="tabSelected() === 'folders'">
                        {{ 'COMPONENTS.TOPIC_IDEATION.TAB_FOLDERS' | translate:{ count: ideation().folders?.count || 0 } }}
                    </a>
                } @else {
                    <div class="folder_data_wrap">
                        <div class="left">
                            <button type="button" class="btn_medium_close icon" (click)="leaveFolder()">
                                <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="white" />
                      <path
                        d="M18.4533 25.6874C18.8529 26.1042 19.5009 26.1042 19.9006 25.6874C20.3003 25.2705 20.3003 24.5947 19.9006 24.1779L16.9184 21L27 21C27.5652 21 28 20.5892 28 19.9997C28 19.4103 27.5652 19.0176 27 19.0176L16.9184 19.0176L19.9006 15.8221C20.3003 15.4053 20.3003 14.7295 19.9006 14.3126C19.5009 13.8958 18.8529 13.8958 18.4533 14.3126L13 20L18.4533 25.6874Z"
                        fill="#2C3B47"
                      />
                    </svg>
                            </button>
                            <div class="icon">
                                <svg
                      width="40"
                      height="40"
                      viewBox="0 0 40 40"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect width="40" height="40" rx="20" fill="white" />
                      <path
                        d="M18.4533 25.6874C18.8529 26.1042 19.5009 26.1042 19.9006 25.6874C20.3003 25.2705 20.3003 24.5947 19.9006 24.1779L16.9184 21L27 21C27.5652 21 28 20.5892 28 19.9997C28 19.4103 27.5652 19.0176 27 19.0176L16.9184 19.0176L19.9006 15.8221C20.3003 15.4053 20.3003 14.7295 19.9006 14.3126C19.5009 13.8958 18.8529 13.8958 18.4533 14.3126L13 20L18.4533 25.6874Z"
                        fill="#2C3B47"
                      />
                    </svg>
                            </div>
                            <div class="folder_name">
                                <span>{{ selectedFolder()?.name }}</span>
                                <span>({{ selectedFolder()?.ideas?.count }})</span>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="header_actions">
                @if (tabSelected() === 'folder' && selectedFolder() && canUpdate()) {
                    <button type="button" class="btn_medium_submit" (click)="addIdeasToFolder(selectedFolder()!)">
                        <span>{{ 'COMPONENTS.TOPIC_IDEATION.BTN_ADD_IDEAS_TO_FOLDER' | translate }}</span>
                    </button>
                }
                @if (tabSelected() === 'ideas' && topic().status === TopicService.STATUSES.ideation) {
                    @if (topic().visibility === TopicService.VISIBILITY.public || (topic().visibility === TopicService.VISIBILITY.private && canUpdate())) {
                        <button type="button" class="btn_medium_submit" (click)="addIdea()" [disabled]="hasIdeationEnded()">
                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.BTN_ADD_YOUR_IDEA' | translate }}</span>
                        </button>
                    }
                }
            </div>
        </div>
    </div>

    @if (tabSelected() === 'ideas' || tabSelected() === 'folder') {
        <div class="idea_filters_wrap">
            <div class="options_row">
                <div class="options_row_main">
                    @if (!showSearch()) {
                        <div class="dropdown_input">
                            <cos-dropdown [placeholder]="'COMPONENTS.TOPIC_IDEATION.IDEA_FILTER_TYPE' | translate">
                                <div selection>
                                    <div class="selected_item">
                                        @if (!selectedType()) {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</span>
                                        } @else if (selectedType() === 'iCreated') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_YOUR_IDEAS' | translate }}</span>
                                        } @else if (selectedType() === 'favourite') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_FAVOURITES' | translate }}</span>
                                        } @else if (selectedType() === 'showModerated') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_MODERATED' | translate }}</span>
                                        }
                                    </div>
                                </div>
                                <div options>
                                    <div class="option" role="button" tabindex="0" (click)="setType('')" (keydown.enter)="setType('')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</div>
                                    @if (userStore.isAuthenticated()) {
                                        <div class="option" role="button" tabindex="0" (click)="setType('iCreated')" (keydown.enter)="setType('iCreated')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_YOUR_IDEAS' | translate }}</div>
                                        <div class="option" role="button" tabindex="0" (click)="setType('favourite')" (keydown.enter)="setType('favourite')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_FAVOURITES' | translate }}</div>
                                    }
                                    <div class="option" role="button" tabindex="0" (click)="setType('showModerated')" (keydown.enter)="setType('showModerated')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_TYPE_MODERATED' | translate }}</div>
                                </div>
                            </cos-dropdown>
                        </div>

                        <div class="dropdown_input">
                            <cos-dropdown [placeholder]="'COMPONENTS.TOPIC_IDEATION.IDEA_FILTER_ORDER' | translate">
                                <div selection>
                                    <div class="selected_item">
                                        @if (!selectedOrder()) {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</span>
                                        } @else if (selectedOrder() === 'likes') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_LIKED' | translate }}</span>
                                        } @else if (selectedOrder() === 'recent') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_RECENT' | translate }}</span>
                                        } @else if (selectedOrder() === 'replies') {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_REPLIES' | translate }}</span>
                                        }
                                    </div>
                                </div>
                                <div options>
                                    <div class="option" role="button" tabindex="0" (click)="orderBy('')" (keydown.enter)="orderBy('')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</div>
                                    <div class="option" role="button" tabindex="0" (click)="orderBy('likes')" (keydown.enter)="orderBy('likes')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_LIKED' | translate }}</div>
                                    <div class="option" role="button" tabindex="0" (click)="orderBy('recent')" (keydown.enter)="orderBy('recent')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_RECENT' | translate }}</div>
                                    <div class="option" role="button" tabindex="0" (click)="orderBy('replies')" (keydown.enter)="orderBy('replies')">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ORDER_MOST_REPLIES' | translate }}</div>
                                </div>
                            </cos-dropdown>
                        </div>

                        <div class="dropdown_input">
                            <cos-dropdown [placeholder]="'COMPONENTS.TOPIC_IDEATION.IDEA_FILTER_PARTICIPANTS' | translate">
                                <div selection>
                                    <div class="selected_item">
                                        @if (!selectedParticipants()) {
                                            <span>{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</span>
                                        } @else {
                                            <span>{{ selectedParticipants()?.name }}</span>
                                        }
                                    </div>
                                </div>
                                <div options>
                                    <div class="option" role="button" tabindex="0" (click)="setParticipant()" (keydown.enter)="setParticipant()">{{ 'COMPONENTS.TOPIC_IDEATION.FILTER_ALL' | translate }}</div>
                                    @for (user of participants$ | async; track user.id) {
                                        <div class="option" role="button" tabindex="0" (click)="setParticipant(user)" (keydown.enter)="setParticipant(user)">
                                            <div class="author_wrap">
                                                <div class="image_wrap">
                                                    @if (user.imageUrl) {
                                                        <img class="profile_image" [src]="user.imageUrl" [alt]="user.name" />
                                                    } @else {
                                                        <div class="profile_image_filler">
                                                            <cos-initials [name]="user.name || ''" />
                                                        </div>
                                                    }
                                                </div>
                                                <div class="author_name">{{ user.name }}</div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </cos-dropdown>
                        </div>
                    }

                    <div class="search_input">
                        <button type="button" (click)="showSearch.set(true)" class="search_start">
                            <cos-icon name="search"></cos-icon>
                            @if (searchValue() && !showSearch()) {
                                <cos-icon name="close"></cos-icon>
                            }
                        </button>

                        @if (showSearch()) {
                            <cos-input [placeholder]="'COMPONENTS.TOPIC_IDEATION.SEARCH' | translate">
                                <input type="text" [ngModel]="searchValue()" (ngModelChange)="setSearch($event)" />
                            </cos-input>
                            @if (searchValue()) {
                                <a class="clear_search" role="button" tabindex="0" (click)="setSearch('')" (keydown.enter)="setSearch('')">{{ 'VIEWS.MY_TOPICS.LNK_CLEAR' | translate }}</a>
                            }
                            <button type="button" (click)="showSearch.set(false)">
                                <cos-icon name="close"></cos-icon>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>

        @if (loading() && !ideas().length) {
            <div class="loading">{{ 'COMPONENTS.TOPIC_IDEATION.LBL_LOADING' | translate }}</div>
        }

        @if (!ideas().length && !filtersSet() && !loading()) {
            <cos-no-feature-yet background="discussion">
                <div class="description_heading">{{ 'COMPONENTS.TOPIC_IDEATION.NO_IDEAS_HEADING' | translate }}</div>
                <div class="button">
                    <button type="button" class="btn_medium_submit" (click)="addIdea()" [disabled]="hasIdeationEnded()">
                        <cos-icon name="plus"></cos-icon>
                        <span>{{ 'COMPONENTS.TOPIC_IDEATION.NO_IDEAS_BTN_ADD' | translate }}</span>
                    </button>
                </div>
            </cos-no-feature-yet>
        }

        @if (ideas().length > 0 && filtersSet()) {
            <div class="items_found">{{ 'COMPONENTS.TOPIC_IDEATION.ITEMS_FOUND_WITH_FILTERS' | translate: { count: ideasCount() } }}</div>
        }

        @if (ideas().length === 0 && filtersSet() && !loading()) {
            <div class="no_items_found">{{ 'COMPONENTS.TOPIC_IDEATION.NO_ITEMS_FOUND' | translate }}</div>
        }

        @if (ideas().length > 0) {
            <div class="ideas_wrap">
                @for (idea of ideas(); track idea.id) {
                    <app-ideabox
                        [idea]="idea"
                        [topic]="topic()"
                        [ideation]="ideation()"
                        (ideaDeleted)="onIdeaDeleted($event)"
                        (ideaUpdated)="onIdeaUpdated($event)" />
                }
            </div>
        }

        <div class="pagination_wrap">
            @if (ideasCount() > PAGE_SIZE) {
                <cos-pagination
                    class="ideation"
                    [page]="currentPage()"
                    [totalPages]="Math.ceil(ideasCount() / PAGE_SIZE)"
                    (selectPage)="onPageChange($event)" />
            }
        </div>

        @if (tabSelected() === 'ideas' && topic().status === TopicService.STATUSES.ideation) {
            <div class="bottom_actions mobile_hidden">
                <button type="button" class="btn_medium_submit" (click)="addIdea()" [disabled]="hasIdeationEnded()">
                    <span>{{ 'COMPONENTS.TOPIC_IDEATION.BTN_ADD_YOUR_IDEA' | translate }}</span>
                </button>
            </div>
        }
    }

    @if (tabSelected() === 'folders') {
        <div class="folders_wrap">
            <p class="folders_desc">{{ 'COMPONENTS.TOPIC_IDEATION.FOLDERS_DESCRIPTION' | translate }}</p>
            
            <div class="folder_row row_header mobile_hidden">
                <div class="folder_name cell">{{ 'COMPONENTS.TOPIC_IDEATION.LBL_FOLDER' | translate }}</div>
                <div class="cell ideas_cell">{{ 'COMPONENTS.TOPIC_IDEATION.LBL_IDEAS' | translate }}</div>
                <div class="cell date_cell">{{ 'COMPONENTS.TOPIC_IDEATION.LBL_LAST_ACTIVITY' | translate }}</div>
                @if (canManageFolders()) {
                    <div class="cell actions_cell">{{ 'COMPONENTS.TOPIC_IDEATION.LBL_ACTIONS' | translate }}</div>
                }
            </div>

            @for (folder of folders$ | async; track folder.id) {
                <div class="folder_row" role="button" tabindex="0" (click)="viewFolder(folder)" (keydown.enter)="viewFolder(folder)">
                    <div class="folder_name">
                        <svg
                          class="mobile_hidden"
                          width="40"
                          height="34"
                          viewBox="0 0 40 34"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <g clip-path="url(#clip0_12637_35588)">
                            <path
                              d="M0 4C0 1.79086 1.79086 0 4 0H14.7932C15.9803 0 17.1061 0.527292 17.866 1.43926L18.8006 2.56074C19.5606 3.47271 20.6864 4 21.8735 4H36C38.2091 4 40 5.79086 40 8V14H0V4Z"
                              fill="url(#paint0_linear_12637_35588)"
                            />
                            <path
                              d="M0 11C0 8.79086 1.79086 7 4 7H36C38.2091 7 40 8.79086 40 11V30C40 32.2091 38.2091 34 36 34H4C1.79086 34 0 32.2091 0 30V11Z"
                              fill="url(#paint1_linear_12637_35588)"
                            />
                          </g>
                          <defs>
                            <linearGradient
                              id="paint0_linear_12637_35588"
                              x1="20"
                              y1="4.375"
                              x2="20"
                              y2="9.1875"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop stop-color="#FFEBA2" />
                              <stop offset="1" stop-color="#FFDF6F" />
                            </linearGradient>
                            <linearGradient
                              id="paint1_linear_12637_35588"
                              x1="20"
                              y1="7"
                              x2="20"
                              y2="34"
                              gradientUnits="userSpaceOnUse"
                            >
                              <stop offset="0.901042" stop-color="#FFEAA1" />
                              <stop offset="1" stop-color="#FFDF6F" />
                            </linearGradient>
                            <clipPath id="clip0_12637_35588">
                              <rect
                                width="40"
                                height="34"
                                rx="4"
                                fill="white"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                        <div class="name_wrap">
                            <div class="name">
                                <span>{{ folder.name }}</span>
                                <span class="mobile_show">({{ folder.ideas?.count }})</span>
                            </div>
                            <span class="updated mobile_show">{{ folder.updatedAt | date:'y-MM-dd HH:mm' }}</span>
                        </div>
                    </div>
                    <div class="cell ideas_cell mobile_hidden">{{ folder.ideas?.count }}</div>
                    <div class="cell date_cell mobile_hidden">{{ folder.updatedAt | date:'y-MM-dd HH:mm' }}</div>
                    @if (canManageFolders()) {
                        <div class="cell actions_cell" tabindex="-1" (click)="$event.stopPropagation()" (keydown.enter)="$event.stopPropagation()">
                            <div class="dropdown button_dropdown" cosDropdown>
                                <button type="button" class="btn_small_plain icon" trigger>
                                    <cos-icon name="more-vertical"></cos-icon>
                                </button>
                                <div class="options">
                                    <button type="button" class="option" (click)="editFolder(folder)">
                                        <cos-icon name="edit" size="16"></cos-icon>
                                        <span>{{ 'CONTROL.EDIT' | translate }}</span>
                                    </button>
                                    <button type="button" class="option error_text" (click)="deleteFolder(folder)">
                                        <cos-icon name="trash"></cos-icon>
                                        <span>{{ 'CONTROL.DELETE' | translate }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

            @if (canManageFolders()) {
                <div id="add_folder_btn">
                    <button type="button" class="btn_medium_submit" (click)="addFolder()">
                        <cos-icon name="plus"></cos-icon>
                        <span>{{ 'COMPONENTS.TOPIC_IDEATION.BTN_ADD_FOLDER' | translate }}</span>
                    </button>
                </div>
            }
        </div>
    }
  </div>
</div>

@if (topic().status === TopicService.STATUSES.ideation) {
    <app-add-idea
      [topic]="topic()"
      [ideation]="ideation()"
      [(isOpen)]="showAddIdea"
      (ideaAdded)="onIdeaAdded($event)" />
}
