<div class="row_cell">
  <div class="profile_image_wrap">
    @if (invite().user?.imageUrl) {
      <img class="profile_image" [src]="invite().user?.imageUrl" alt="">
    }
    @if (!invite().user?.imageUrl) {
      <div class="profile_image_filler">
        @if (invite().user?.name) {
          <cos-initials class="table_cell" [name]="invite().user?.name || ''"></cos-initials>
        }
      </div>
    }
  </div>
  <div class="invite_info">
    <div class="bold user_name" [innerHtml]="invite().user?.name"></div>
    <div class="via">
      @if (invite().user?.email) {
        <span>{{ invite().user?.email }}</span>
      }
      <span>
        @if (invite().user?.email) {
          <span> • </span>
        }
        <span>{{ 'COMPONENTS.TOPIC_MEMBER_INVITE.INVITE_PENDING' | translate }}</span>
      </span>
    </div>
    <div class="via">
      @if (invite().expiresAt) {
        <span>{{ 'COMPONENTS.TOPIC_MEMBER_INVITE.INIVTE_EXPIRES' | translate:{expiresAt: (invite().expiresAt | date:'shortDate')} }}</span>
      }
      @if (invite().expiresAt && isExpired(invite().expiresAt)) {
        <span class="red_text">{{ 'COMPONENTS.TOPIC_MEMBER_INVITE.INVITE_EXPIRED' | translate }}</span>
      }
    </div>
  </div>
</div>
<div class="row_cell">
  <div class="dropdown disabled" cosDropdown>
    <div class="selection">
      <div class="selected_item">{{ 'TXT_TOPIC_LEVELS_' + invite().level | uppercase | translate }}</div>
      <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
    </div>
  </div>
  <div class="dropdown button_dropdown" cosDropdown>
    <button type="button" [aria-label]="'CONTROL.MORE' | translate">
      <cos-icon name="topic-member-user-icon-legacy" size="17"></cos-icon>
    </button>
    <div class="options">
      <div class="option" (click)="doDeleteInviteUser()" (keydown.enter)="doDeleteInviteUser()" role="button" tabindex="0">
        {{ 'COMPONENTS.TOPIC_MEMBER_INVITE.OPT_REMOVE_USER' | translate }}
      </div>
    </div>
  </div>
</div>
