<div class="create_content_section">
  <div class="number_wrap mobile_hidden">
    <div>1</div>
  </div>
  <div class="section_content_wrap">
    <div class="header_wrap">
      <div class="number_wrap mobile_show">
        <div>1</div>
      </div>
      <div class="small_heading" translate="VIEWS.GROUP_CREATE.SETTINGS_HEADING_VISIBILITY"></div>
      <div class="mobile_hidden" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_DESC"></div>
    </div>
    <div class="mobile_show" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_DESC"></div>

    <div class="row_wrap">
      <div class="radio_wrap" [class.active]="group().visibility === 'private'" (click)="updateVisibility('private')">
        <label class="radio_box">
          <input type="radio" [checked]="group().visibility === 'private'" name="visibility">
          <span class="radio"></span>
          <div class="radio_text_wrap">
            <div class="radio_lable" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_PRIVATE"></div>
            <div class="radio_description" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_PRIVATE_DESC"></div>
          </div>
        </label>
      </div>

      <div class="radio_wrap" [class.active]="group().visibility === 'public'" (click)="updateVisibility('public')">
        <label class="radio_box">
          <input type="radio" [checked]="group().visibility === 'public'" name="visibility">
          <span class="radio"></span>
          <div class="radio_text_wrap">
            <div class="radio_lable" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_PUBLIC"></div>
            <div class="radio_description" translate="VIEWS.GROUP_CREATE.SETTINGS_VISIBILITY_PUBLIC_DESC"></div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="create_content_section">
  <div class="number_wrap mobile_hidden">
    <div>2</div>
  </div>
  <div class="section_content_wrap">
    <div class="header_wrap">
      <div class="number_wrap mobile_show">
        <div>2</div>
      </div>
      <div class="small_heading" translate="VIEWS.GROUP_CREATE.SETTINGS_HEADING_LOCALITY"></div>
      <div class="mobile_hidden" translate="VIEWS.GROUP_CREATE.SETTINGS_LOCALITY_SELECT_DESC"></div>
    </div>
    <div class="mobile_show" translate="VIEWS.GROUP_CREATE.SETTINGS_LOCALITY_SELECT_DESC"></div>

    <div class="row_wrap">
      <cos-dropdown class="locality-dropdown">
        <div selection>
          <span [translate]="group().country ? '' : 'VIEWS.GROUP_CREATE.SETTINGS_COUNTRY_SELECT'">{{group().country}}</span>
        </div>
        <div options>
          @for (country of countries; track country.iso2) {
            <div class="option" (click)="updateCountry(country.name)">{{country.name}}</div>
          }
        </div>
      </cos-dropdown>

      <cos-dropdown class="locality-dropdown">
        <div selection>
          <span [translate]="group().language ? '' : 'VIEWS.GROUP_CREATE.SETTINGS_LANGUAGE_SELECT'">{{group().language}}</span>
        </div>
        <div options>
          @for (language of languages; track language.code) {
            <div class="option" (click)="updateLanguage(language.name)">{{language.name}}</div>
          }
        </div>
      </cos-dropdown>
    </div>
  </div>
</div>
