<div class="wizard-container">
  <div class="create-header">
    <h1 class="create_heading">
      <cos-domain-icon [type]="domainType()"></cos-domain-icon>
      <span class="small_heading" [translate]="headingKey()"></span>
    </h1>
    <cos-step-navigator
      [steps]="steps()"
      [currentStep]="currentStep()"
      (stepChange)="stepChange.emit($event)"
    >
    </cos-step-navigator>
  </div>

  <div class="wizard-body" [class.has-sidebar]="hasSidebar()">
    <div class="wizard-content">
      <ng-content></ng-content>
    </div>
    @if (hasSidebar()) {
      <div class="wizard-sidebar">
        <ng-content select="[sidebar]"></ng-content>
      </div>
    }
  </div>

  <div id="create_footer">
    <div class="items_row">
      <div class="footer-left">
        @if (!isFirstStep()) {
          <button class="btn_medium_submit_ghost icon" (click)="footerBack.emit()">
            <cos-icon name="arrow-left" [size]="24"></cos-icon>
          </button>
        }
      </div>
      <div class="footer-right">
        <button class="btn_medium_secondary" (click)="saveDraft.emit()">
          {{ 'VIEWS.TOPIC_CREATE.FOOTER_BTN_SAVE_AS_DRAFT' | translate }}
        </button>
        <button
          class="btn_medium_submit"
          [class.disabled]="isNextDisabled()"
          [disabled]="isNextDisabled()"
          (click)="footerContinue.emit()"
        >
          @if (isLastStep()) {
            {{ 'VIEWS.TOPIC_CREATE.FOOTER_BTN_CREATE' | translate }}
          } @else {
            {{ 'VIEWS.TOPIC_CREATE.FOOTER_BTN_CONTINUE' | translate }}
          }
        </button>
      </div>
    </div>
  </div>
</div>
