<div class="section_heading">{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_LINK' | translate }}</div>
<div class="token_wrap">
  <div class="token_settings_wrap">
    <div class="share_wrap">
      <div class="input_area">
        <input
          id="invite_group_url_input"
          #linkInput
          [value]="joinUrl()"
          [disabled]="joinDisabled()"
          [placeholder]="'COMPONENTS.TOPIC_SHARE.PLACEHOLDER_CREATE_NEW_LINK' | translate"
        >
        @if (canUpdate()) {
          <cos-button id="reload" variant="ghost" (clicked)="generateTokenJoin()" icon="refresh"></cos-button>
        }
      </div>
    </div>
    <div class="level_select_wrap">
      <span class="bold">
        {{ 'COMPONENTS.TOPIC_SHARE.LBL_ACCESS_LEVEL' | translate }}
        <span [cosTooltip]="('COMPONENTS.TOPIC_INVITE_EDITORS.TOOLTIP_TOPIC_ROLES_DESCRIPTION' | translate) || ''" class="tooltip-trigger">
          <cos-icon name="info" [size]="16"></cos-icon>
        </span>
      </span>

      <cos-dropdown [class.disabled]="!canUpdate()">
        <div selection class="selected_item">
          {{ 'TXT_TOPIC_LEVELS_' + (join().level) | uppercase | translate }}
        </div>
        <div options>
          @for (level of LEVELS; track level) {
            <div class="option" (click)="doUpdateJoinToken(level)">
              {{ 'TXT_TOPIC_LEVELS_' + level | uppercase | translate }}
            </div>
          }
        </div>
      </cos-dropdown>
    </div>
  </div>
  <div class="button_wrap">
    <cos-button variant="secondary" (clicked)="copyInviteLink()">
      {{ 'COMPONENTS.TOPIC_SHARE.COPY_LINK' | translate }}
    </cos-button>
  </div>
</div>

@if (copySuccess()) {
  <div class="notification_inline success">
    <div class="icon_notification">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="24" height="24" rx="12" fill="#5AB467" />
        <path fill-rule="evenodd" clip-rule="evenodd"
          d="M18.9849 6.13908C19.2395 6.35122 19.2739 6.72956 19.0617 6.98413L10.0617 17.7841C9.94734 17.9214 9.77773 18.0005 9.59905 18C9.42038 17.9995 9.25123 17.9194 9.13764 17.7814L4.93764 12.6814C4.72699 12.4256 4.76358 12.0475 5.01937 11.8369C5.27517 11.6262 5.6533 11.6628 5.86396 11.9186L9.60353 16.4595L18.1399 6.2159C18.352 5.96134 18.7303 5.92694 18.9849 6.13908Z"
          fill="white" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
    <div class="message">
      <div class="content">
        <span>{{ 'COMPONENTS.TOPIC_SHARE.MSG_LINK_COPIED' | translate }}</span>
      </div>
    </div>
  </div>
}

<div class="line_separator"></div>

<div class="info_section">
  <div class="section_heading">{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE' | translate }}</div>
  
  @if (!showQR()) {
    <div>{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE_DESCRIPTION' | translate }}</div>
  }
  
  <div>{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE_PRINT' | translate }}</div>

  @if (showQR()) {
    <div class="qr_code">
      <qrcode [qrdata]="joinUrl() || ''" [width]="150" [version]="4" [errorCorrectionLevel]="'L'" elementType="img"></qrcode>
    </div>
  }

  @if (!showQR()) {
    <div>
      <cos-button variant="secondary" (clicked)="showQR.set(true)">
        {{ 'COMPONENTS.TOPIC_SHARE.BTN_GENERATE_QR_CODE' | translate }}
      </cos-button>
    </div>
  }
</div>
