<div class="section_heading">{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_LINK' | translate }}</div>
<div class="token_wrap">
  <div class="token_settings_wrap">
    <div class="share_wrap">
      <div class="input_area">
        <input
          id="invite_group_url_input"
          #linkInput
          [value]="joinUrl()"
          [disabled]="joinDisabled()"
          [placeholder]="'COMPONENTS.TOPIC_SHARE.PLACEHOLDER_CREATE_NEW_LINK' | translate"
          [aria-label]="'COMPONENTS.TOPIC_SHARE.PLACEHOLDER_CREATE_NEW_LINK' | translate"
        >
        @if (canUpdate()) {
          <cos-button id="reload" variant="light" (clicked)="generateTokenJoin()" icon="refresh" size="sm"></cos-button>
        }
      </div>
    </div>
      <label for="share_access_level" class="bold">
        {{ 'COMPONENTS.TOPIC_SHARE.LBL_ACCESS_LEVEL' | translate }}
        <cos-tooltip
          [title]="'COMPONENTS.TOPIC_INVITE_EDITORS.TOOLTIP_TOPIC_ROLES_HEADING' | translate"
          [description]="'COMPONENTS.TOPIC_INVITE_EDITORS.TOOLTIP_TOPIC_ROLES_DESCRIPTION' | translate">
        </cos-tooltip>
      </label>

      <cos-dropdown [class.disabled]="!canUpdate()">
        <div id="share_access_level" selection class="selected_item" [attr.aria-expanded]="false">
          {{ 'TXT_TOPIC_LEVELS_' + (join().level) | uppercase | translate }}
        </div>
        <div id="share_access_level_options" options role="listbox">
          @for (level of LEVELS; track level) {
            <div class="option" (click)="doUpdateJoinToken(level)" (keydown.enter)="doUpdateJoinToken(level)" tabindex="0" role="option" [attr.aria-selected]="join().level === level">
              {{ 'TXT_TOPIC_LEVELS_' + level | uppercase | translate }}
            </div>
          }
        </div>
      </cos-dropdown>
    </div>
  </div>
  <div class="button_wrap">
    <cos-button variant="secondary" (clicked)="copyInviteLink()">
      {{ 'COMPONENTS.TOPIC_SHARE.COPY_LINK' | translate }}
    </cos-button>
  </div>

  @if (copySuccess()) {
  <div class="notification_inline success">
    <div class="icon_notification">
      <cos-icon name="topic-share-icon-legacy" size="24"></cos-icon>
    </div>
    <div class="message">
      <div class="content">
        <span>{{ 'COMPONENTS.TOPIC_SHARE.MSG_LINK_COPIED' | translate }}</span>
      </div>
    </div>
  </div>
}

<div class="line_separator"></div>

<div class="info_section">
  <div class="section_heading">{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE' | translate }}</div>
  
  @if (!showQR()) {
    <div>{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE_DESCRIPTION' | translate }}</div>
  }
  
  <div>{{ 'COMPONENTS.TOPIC_SHARE.GENERATE_QR_CODE_PRINT' | translate }}</div>

  @if (showQR()) {
    <div class="qr_code">
      <qrcode [qrdata]="joinUrl() || ''" [width]="120" [version]="4" [errorCorrectionLevel]="'L'" elementType="img"></qrcode>
    </div>
  }

  @if (!showQR()) {
    <div>
      <cos-button variant="secondary" (clicked)="showQR.set(true)">
        {{ 'COMPONENTS.TOPIC_SHARE.BTN_GENERATE_QR_CODE' | translate }}
      </cos-button>
    </div>
  }
</div>
