@if (member()) {
  <div class="row">
    <div class="name">
      <div class="profile_image_wrap">
        @if (member().imageUrl) {
          <img class="profile_image" [src]="member().imageUrl" [alt]="member().name">
        } @else {
          <div class="profile_image_filler">
            @if (member().name) {
              <cos-initials class="table_cell" [name]="member().name"></cos-initials>
            }
          </div>
        }
      </div>
      <div class="member_name_wrap">
        <div class="bold" [innerHtml]="member().name"></div>
        @if (member().email) {
          <div class="member_info">{{member().email}}</div>
        }
      </div>
    </div>
    <div class="line_separator mobile_show"></div>
    <div class="level">
      <span [translate]="'TXT_GROUP_LEVELS_' + member().level | uppercase"></span>
      @if (canUpdate()) {
        <div class="button_wrap">
          <div class="dropdown button_dropdown">
            <button class="btn_medium_plain icon" [attr.aria-label]="'COMPONENTS.GROUP_MEMBER_USER.EDIT_MEMBER' | translate">
              <cos-icon name="more-vertical" [size]="32"></cos-icon>
            </button>
            <div class="mobile_overlay"></div>
            <div class="options button_options">
              <div class="mobile_header">
                <div class="small_heading" translate="COMPONENTS.GROUP_MEMBER_USER.EDIT_MEMBER"></div>
                <button [attr.aria-label]="'BTN_CLOSE' | translate">
                  <cos-icon name="close" [size]="24"></cos-icon>
                </button>
              </div>
              @for (level of LEVELS; track level) {
                <button class="option" (click)="doUpdateMemberUser(level)">
                  <div class="icon_wrap">
                    <cos-icon name="settings" [size]="16"></cos-icon>
                  </div>
                  <span [innerHTML]="'COMPONENTS.GROUP_MEMBER_USER.SET_MEMBER_PERMISSIONS' | translate:{level: ('TXT_GROUP_LEVELS_' + level) | uppercase | translate}"></span>
                </button>
                <div class="line_separator"></div>
              }
              @if (group() && canUpdate()) {
                <button class="option" (click)="doDeleteMemberUser()">
                  <div class="icon_wrap">
                    <cos-icon name="trash" [size]="16" color="#EF4025"></cos-icon>
                  </div>
                  <span class="error_text" translate="COMPONENTS.GROUP_MEMBER_USER.BTN_REMOVE"></span>
                </button>
              }
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
