<div class="table_row">
  <div class="table_cell name">
    <cos-initials [name]="member().name" class="profile_image"></cos-initials>
    <div class="user_info">
      <div class="user_name">{{ member().name }}</div>
      @if (member().email) {
        <div class="user_email">{{ member().email }}</div>
      }
    </div>
  </div>
  <div class="table_cell level">
    <div class="dropdown" cosDropdown>
      <div class="selection" selection role="combobox" tabindex="0" aria-expanded="false" aria-controls="member_user_levels_{{ member().userId }}">
        {{ 'TXT_GROUP_LEVELS_' + (member().level || '') | uppercase | translate }}
      </div>
      <div id="member_user_levels_{{ member().userId }}" class="options" options role="listbox">
        @for (level of LEVELS | keyvalue; track level.key) {
          <div class="option" (click)="doUpdateMemberUser(level.value)" (keydown.enter)="doUpdateMemberUser(level.value)" role="option" tabindex="0" aria-selected="{{ member().level === level.value }}">
            {{ 'TXT_GROUP_LEVELS_' + level.value.toUpperCase() | translate }}
          </div>
        }
      </div>
    </div>
  </div>
  <div class="table_cell actions">
    <button type="button" class="btn_icon" (click)="doDeleteMemberUser()">
      <cos-icon name="trash" [size]="20"></cos-icon>
    </button>
  </div>
</div>
