.action_buttons_wrap {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  flex-grow: 1;
}

#topic_request_list_wrap {
  gap: 16px;
}

.row_list {
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  flex-flow: row;

  .text {
    font-size: 13px;
    font-style: italic;
  }

  .name {
    flex-grow: 1;
  }

  .visibility {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.no_results {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 32px;

  cos-icon {
    opacity: 0.5;
  }
}
