<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h1 class="title">{{ 'COMPONENTS.TOPIC_REQUESTS.HEADING' | translate }}</h1>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [attr.aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="nav-close"></cos-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="dialog_content no_footer">
      <div class="content_section">
        <div id="topic_request_list_wrap" class="section_content_wrap table_section">
          @for (request of requests(); track request.id) {
            <div class="row_list">
              <div class="name">
                <a class="topic_title" [routerLink]="['/', translate.currentLang, 'topics', request.topic.id]" (click)="close()">
                  {{ request.topic.title || request.topic.id }}
                </a>
                <div class="text">{{ request.text }}</div>
              </div>
              <div class="visibility">
                <div class="icon">
                  <cos-icon [name]="request.topic.visibility === 'private' ? 'lock' : 'globe'"></cos-icon>
                </div>
                <span>{{ 'TXT_TOPIC_VISIBILITY_' + request.topic.visibility | uppercase | translate }}</span>
              </div>
              <div class="action_buttons_wrap">
                <button type="button" class="btn_medium_accept" (click)="accept(request)">{{ 'COMPONENTS.TOPIC_REQUESTS.BTN_ACCEPT' | translate }}</button>
                <button type="button" class="btn_medium_reject" (click)="reject(request)">{{ 'COMPONENTS.TOPIC_REQUESTS.BTN_REJECT' | translate }}</button>
              </div>
            </div>
          } @empty {
            <div class="no_results">
              <cos-icon name="info" [size]="48"></cos-icon>
              <h2 class="small_heading">{{ 'COMPONENTS.TOPIC_REQUESTS.NO_REQUESTS_HEADING' | translate }}</h2>
              <div>{{ 'COMPONENTS.TOPIC_REQUESTS.NO_REQUESTS_DESC' | translate }}</div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
