<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title" translate="COMPONENTS.TOPIC_REQUESTS.HEADING"></h4>
        <a class="btn_dialog_close icon" dialogClose>
          <cos-icon name="close" [size]="24"></cos-icon>
        </a>
      </div>
    </div>

    <div class="dialog_content">
      @if (requests().length) {
        <div class="requests_list">
          @for (request of requests(); track request.id) {
            <div class="request_row">
              <div class="request_info">
                <span class="topic_title">{{ request.topic?.title ?? request.topicId }}</span>
                <span class="requester">{{ request.user?.name ?? request.createdById }}</span>
                @if (request.text) {
                  <span class="message">{{ request.text }}</span>
                }
              </div>
              <div class="request_actions">
                <button class="btn_medium_submit btn_small" (click)="accept(request)" translate="COMPONENTS.TOPIC_REQUESTS.BTN_ACCEPT"></button>
                <button class="btn_medium_close btn_small" (click)="reject(request)" translate="COMPONENTS.TOPIC_REQUESTS.BTN_DECLINE"></button>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="empty_state" translate="COMPONENTS.TOPIC_REQUESTS.NO_REQUESTS"></div>
      }
    </div>

    <div class="dialog_footer">
      <a dialogClose translate="COMPONENTS.TOPIC_REQUESTS.LNK_CLOSE"></a>
    </div>
  </div>
</div>
