<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title" translate="COMPONENTS.TOPIC_REQUESTS.HEADING"></h4>
        <a class="btn_dialog_close icon" dialogClose>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M7.72152 6.29537C7.3277 5.90154 6.68919 5.90154 6.29537 6.29537C5.90154 6.68919 5.90154 7.3277 6.29537 7.72153L10.5738 12L6.29541 16.2785C5.90159 16.6723 5.90159 17.3108 6.29541 17.7046C6.68923 18.0985 7.32774 18.0985 7.72156 17.7046L12 13.4262L16.2784 17.7046C16.6723 18.0985 17.3108 18.0985 17.7046 17.7046C18.0984 17.3108 18.0984 16.6723 17.7046 16.2785L13.4262 12L17.7046 7.72153C18.0985 7.3277 18.0985 6.68919 17.7046 6.29537C17.3108 5.90154 16.6723 5.90154 16.2785 6.29537L12 10.5739L7.72152 6.29537Z" fill="#2C3B47"/>
          </svg>
        </a>
      </div>
    </div>

    <div class="dialog_content">
      @if (requests().length) {
        <div class="requests_list">
          @for (request of requests(); track request.id) {
            <div class="request_row">
              <div class="request_info">
                <span class="topic_title">{{ request.topic?.title ?? request.topicId }}</span>
                <span class="requester">{{ request.user?.name ?? request.createdById }}</span>
                @if (request.text) {
                  <span class="message">{{ request.text }}</span>
                }
              </div>
              <div class="request_actions">
                <button class="btn_medium_submit btn_small" (click)="accept(request)" translate="COMPONENTS.TOPIC_REQUESTS.BTN_ACCEPT"></button>
                <button class="btn_medium_close btn_small" (click)="reject(request)" translate="COMPONENTS.TOPIC_REQUESTS.BTN_DECLINE"></button>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="empty_state" translate="COMPONENTS.TOPIC_REQUESTS.NO_REQUESTS"></div>
      }
    </div>

    <div class="dialog_footer">
      <a dialogClose translate="COMPONENTS.TOPIC_REQUESTS.LNK_CLOSE"></a>
    </div>
  </div>
</div>
