<div class="overlay" [dialogClose]="undefined"></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <cos-notifications></cos-notifications>
  </div>
  <div class="dialog">
    <div id="notification_wrap_dialog" class="mobile_show">
      <cos-notifications></cos-notifications>
    </div>
    <div class="dialog_header info">
      <div class="header_with_icon">
        <div>
          <cos-icon name="info-filled" [size]="40"></cos-icon>
        </div>
        <h4 class="title">{{ 'MODALS.ADD_EID_HEADING' | translate }}</h4>
      </div>
      <div class="dialog_close">
        <a class="btn_dialog_close icon" [dialogClose]="undefined" [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="close" [size]="24"></cos-icon>
        </a>
      </div>
    </div>
    <div class="dialog_content">
      <div class="info_row" translate="MODALS.ADD_EID_DESCRIPTION"></div>
    </div>
    <div class="dialog_content">
      <div class="dialog_info_wrap">
        <div class="dialog_info">
          <a (click)="doConnectEsteId()" role="button" tabindex="0" (keydown.enter)="doConnectEsteId()" [aria-label]="'MODALS.ADD_EID_BTN_CONNECT_ID_CARD_MID' | translate">
            <cos-icon name="add-eid-icon-legacy" size="32"></cos-icon>
            <span translate="MODALS.ADD_EID_BTN_CONNECT_ID_CARD_MID"></span>
          </a>
          <a (click)="doConnectSmartId()" role="button" tabindex="0" (keydown.enter)="doConnectSmartId()" [aria-label]="'MODALS.ADD_EID_BTN_CONNECT_SMART_ID' | translate">
            <cos-icon name="add-eid-icon-2-legacy" size="32"></cos-icon>
            <span translate="MODALS.ADD_EID_BTN_CONNECT_SMART_ID"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer">
      <div class="button_wrap">
        <button type="button" class="btn_big_submit" [dialogClose]="undefined">{{ 'MODALS.ADD_EID_BTN_CONTINUE' | translate }}</button>
        <button type="button" class="btn_link" [dialogClose]="undefined">{{ 'MODALS.ADD_EID_LNK_BACK' | translate }}</button>
      </div>
    </div>
    <div class="dialog_footer"></div>
  </div>
</div>
