<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <cos-notifications></cos-notifications>
  </div>
  <div class="dialog">
    <div id="notification_wrap_dialog" class="mobile_show">
      <cos-notifications></cos-notifications>
    </div>
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title">{{ 'MODALS.TOPIC_COMMENT_REACTIONS_HEADING' | translate }}</h4>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="topic-tour-icon-legacy" size="24"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog_content">
      <div class="content_section">
        <div class="section_content_wrap table_section">
          @if (!members().length) {
            <div>{{ 'MODALS.TOPIC_COMMENT_REACTIONS_NO_REACTIONS_YET' | translate }}</div>
          }
          @for (member of members(); track $index; let i = $index) {
            @if (isOnPage(i, page())) {
              <div class="row_list">
                <div class="row_cell">
                  <div class="profile_image_wrap">
                    @if (member.imageUrl) {
                      <img class="profile_image" [src]="member.imageUrl" alt="">
                    } @else {
                      <div class="profile_image_filler">
                        @if (member.name) {
                          <cos-initials class="table_cell" [name]="member.name"></cos-initials>
                        }
                      </div>
                    }
                  </div>
                  <a class="user_name" [innerHTML]="member.name"></a>
                </div>
                <div class="row_cell">
                  @if (member.vote === 'down') {
                    <cos-icon name="argument-icon-7-legacy" size="16"></cos-icon>
                  }
                  @if (member.vote === 'up') {
                    <cos-icon name="argument-icon-5-legacy" size="16"></cos-icon>
                  }
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
    @if (totalPages() > 1) {
      <div class="dialog_content no_footer">
        <div class="info_row">
          <cos-pagination class="pagination" [totalPages]="totalPages()" [page]="page()" (selectPage)="loadPage($event)"></cos-pagination>
        </div>
      </div>
    }
  </div>
</div>
