<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header discussion">
      <div class="header_with_icon">
        <div>
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#1168A8" />
            <path
              d="M23 11.5292C23 12.926 21.9255 14.0583 20.6 14.0583C19.2745 14.0583 18 12.926 18 11.5292C18 10.1323 19.2745 9 20.6 9C21.9255 9 23 10.1323 23 11.5292Z"
              fill="white" />
            <path
              d="M17.3359 16.5357L22.8319 15.8098L20.4295 27.7096C20.2591 28.5695 20.4991 29.0576 21.1591 29.0576C21.6247 29.0576 22.3255 28.8806 22.8055 28.4354L22.5943 29.4876C21.9055 30.3626 20.3863 31 19.0783 31C17.3911 31 16.6735 29.9327 17.1391 27.664L18.9103 18.8929C19.0639 18.1518 18.9247 17.8837 18.2191 17.7067L17.1391 17.4968L17.3359 16.5357Z"
              fill="white" />
          </svg>
        </div>
        <h4 class="title" translate="COMPONENTS.MISSING_DISCUSSION.TITLE"></h4>
      </div>
    </div>
    <div class="dialog_content">
      <div [innerHTML]="'COMPONENTS.MISSING_DISCUSSION.DESCRIPTION' | translate"></div>
      <div class="content_section">
        <div class="section_content_wrap">
          <div class="bold" translate="COMPONENTS.MISSING_DISCUSSION.HEADING_DISCUSSION_QUESTION"></div>
          <div class="section_content_description">
            <cos-input [placeholder]="'COMPONENTS.MISSING_DISCUSSION.DISCUSSION_QUESTION_PLACEHOLDER' | translate">
              <input
                [placeholder]="'COMPONENTS.MISSING_DISCUSSION.DISCUSSION_QUESTION_PLACEHOLDER' | translate"
                [ngModel]="question()"
                (ngModelChange)="question.set($event)" />
            </cos-input>
          </div>
        </div>
      </div>
      <div class="content_section">
        <div class="section_content_wrap">
          <div class="header_wrap">
            <div class="bold" translate="COMPONENTS.MISSING_DISCUSSION.HEADING_DISCUSSION_DEADLINE"></div>
          </div>
          @if (canEditDiscussion()) {
            <cos-deadline-picker
              [deadline]="deadline()"
              [showReminder]="false"
              (deadlineChange)="onDeadlineChange($event)" />
          }
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer">
      <div class="button_wrap">
        <button class="btn_medium_submit" (click)="save()" translate="COMPONENTS.MISSING_DISCUSSION.BTN_START_DISCUSSION"></button>
        @if (!topic.discussionId) {
          <a dialogClose translate="COMPONENTS.MISSING_DISCUSSION.LNK_CANCEL"></a>
        }
      </div>
    </div>
    <div class="dialog_footer"></div>
  </div>
</div>
