<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header warning">
      <div class="header_with_icon">
        <div class="icon_notification">
            <cos-icon name="warning-filled" [size]="40"></cos-icon>
        </div>
        <h4 class="title" translate="COMPONENTS.CLOSE_VOTING_CONFIRM.HEADING"></h4>
      </div>
      <div class="dialog_close">
        <a class="btn_dialog_close icon" dialogClose>
            <cos-icon name="close" [size]="24"></cos-icon>
        </a>
      </div>
    </div>
    <div class="dialog_content">
      <div class="info_row center" translate="COMPONENTS.CLOSE_VOTING_CONFIRM.ARE_YOU_SURE"></div>
    </div>
    @if (data.topic.ideationId || data.topic['discussionId']) {
      <div class="dialog_content">
        <div class="info_row center" translate="COMPONENTS.CLOSE_VOTING_CONFIRM.CLOSE_VOTING_DESCRIPTION"></div>
      </div>
    }
    <div class="dialog_content no_footer">
      <div class="button_wrap">
        <button class="btn_big_submit" [dialogClose]="true" translate="COMPONENTS.CLOSE_VOTING_CONFIRM.CONFIRM_YES"></button>
        <a dialogClose translate="COMPONENTS.CLOSE_VOTING_CONFIRM.CONFIRM_NO"></a>
      </div>
    </div>
    <div class="dialog_footer"></div>
  </div>
</div>
