<div class="overlay" dialogClose (keydown.enter)="dialogRef.close()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <cos-notifications></cos-notifications>
  </div>
  <div class="dialog">
    <div id="notification_wrap_dialog" class="mobile_show">
      <cos-notifications></cos-notifications>
    </div>
    <div class="dialog_header">
      <div class="header_text">
        <h1 class="title">{{ 'MODALS.TOPIC_MEMBERS_HEADING' | translate }}</h1>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="topic-tour-icon-legacy" size="24"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog_tabs_wrap">
      <button type="button" class="dialog_tab mobile_hidden" [class.active]="activeTab() === 'participants'"
        (click)="activeTab.set('participants')" (keydown.enter)="activeTab.set('participants')" role="tab" [aria-selected]="activeTab() === 'participants'">{{ 'MODALS.TOPIC_MEMBERS_TAB_PARTICIPANTS' | translate }}</button>
      <button type="button" class="dialog_tab mobile_hidden" [class.active]="activeTab() === 'groups'"
        (click)="activeTab.set('groups')" (keydown.enter)="activeTab.set('groups')" role="tab" [aria-selected]="activeTab() === 'groups'">{{ 'MODALS.TOPIC_MEMBERS_TAB_GROUPS' | translate }}</button>
      <button type="button" class="dialog_tab mobile_hidden" [class.active]="activeTab() === 'invited'"
        (click)="activeTab.set('invited')" (keydown.enter)="activeTab.set('invited')" role="tab" [aria-selected]="activeTab() === 'invited'">{{ 'MODALS.TOPIC_MEMBERS_TAB_INVITED' | translate }}</button>
      <div class="dropdown mobile_show" cosDropdown>
        <div class="selection" role="button" tabindex="0" [attr.aria-label]="'MODALS.TOPIC_MEMBERS_TAB_' + activeTab() | uppercase | translate">
          <div class="selected_item">
            {{'MODALS.TOPIC_MEMBERS_TAB_' + activeTab() | uppercase | translate}}
          </div>
          <div><cos-icon name="topic-participants-icon-legacy" size="24"></cos-icon>
          </div>
        </div>
        <div class="options">
          <div class="option" (click)="activeTab.set('participants')" (keydown.enter)="activeTab.set('participants')" tabindex="0" role="button">
            {{ 'MODALS.TOPIC_MEMBERS_TAB_PARTICIPANTS' | translate }}
          </div>
          <div class="option" (click)="activeTab.set('groups')" (keydown.enter)="activeTab.set('groups')" tabindex="0" role="button">
            {{ 'MODALS.TOPIC_MEMBERS_TAB_GROUPS' | translate }}
          </div>
          <div class="option" (click)="activeTab.set('invited')" (keydown.enter)="activeTab.set('invited')" tabindex="0" role="button">
            {{ 'MODALS.TOPIC_MEMBERS_TAB_INVITED' | translate }}
          </div>
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer">
      @if (activeTab() === 'participants') {
        <div class="content_section">
          <div id="topic_members_list_wrap" class="section_content_wrap table_section">
            <div class="topic_members_filters">
              <cos-input [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate">
                <label class="hidden" for="user_search">{{ 'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate }}</label>
                <input id="user_search" [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate"
                  [ngModel]="userSearch()"
                  (ngModelChange)="setUserSearch($event)">
              </cos-input>
              <div class="dropdown" cosDropdown>
                <div class="selection" role="button" tabindex="0" [attr.aria-label]="'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate">
                  <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate }}</span>
                  <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
                </div>
                <div class="options">
                  <div class="option" (click)="doUserOrder('name', 'asc')" (keydown.enter)="doUserOrder('name', 'asc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_ASC' | translate }}
                  </div>
                  <div class="option" (click)="doUserOrder('name', 'desc')" (keydown.enter)="doUserOrder('name', 'desc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_DESC' | translate }}
                  </div>
                  <div class="option" (click)="doUserOrder('level', 'asc')" (keydown.enter)="doUserOrder('level', 'asc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                  </div>
                  <div class="option" (click)="doUserOrder('level', 'desc')" (keydown.enter)="doUserOrder('level', 'desc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                  </div>
                </div>
              </div>
            </div>
            <div class="line_separator"></div>
            <div class="container">
              <div class="row header_row">
                <div class="name"><span>{{ 'COMPONENTS.GROUP_INVITE.NAME' | translate }}</span></div>
                <div class="level">
                  <div class="level_heading">{{ 'COMPONENTS.GROUP_INVITE.ROLE' | translate }}
                    <cos-tooltip
                      [title]="'COMPONENTS.TOPIC_INVITE_EDITORS.TOOLTIP_TOPIC_ROLES_HEADING' | translate"
                      [description]="'COMPONENTS.TOPIC_INVITE_EDITORS.TOOLTIP_TOPIC_ROLES_DESCRIPTION' | translate">
                    </cos-tooltip>
                  </div>
                  <div class="button_heading">{{ 'COMPONENTS.GROUP_INVITE.ACTIONS' | translate }}</div>
                </div>
              </div>
              @for (user of pagedUsers(); track user.id) {
                <div class="row_list">
                  <app-topic-member-user [member]="user" [topic]="topic" [withEmail]="false"></app-topic-member-user>
                </div>
              }
            </div>
            <div class="line_separator"></div>
            <div id="footer_buttons">
              <cos-pagination class="pagination"
                [totalPages]="userTotalPages()"
                [page]="userPage()"
                (selectPage)="userPage.set($event)"></cos-pagination>
            </div>
          </div>
        </div>
      }
      @if (activeTab() === 'groups') {
        <div class="content_section">
          <div id="topic_members_list_wrap" class="section_content_wrap table_section">
            <div class="topic_members_filters">
              <cos-input [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate">
                <label class="hidden" for="group_search">{{ 'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate }}</label>
                <input id="group_search" [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate"
                  [ngModel]="groupSearch()"
                  (ngModelChange)="setGroupSearch($event)">
              </cos-input>
              <div class="dropdown" cosDropdown>
                <div class="selection" role="button" tabindex="0" [attr.aria-label]="'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate">
                  <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate }}</span>
                  <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
                </div>
                <div class="options">
                  <div class="option" (click)="doGroupOrder('name', 'asc')" (keydown.enter)="doGroupOrder('name', 'asc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_ASC' | translate }}
                  </div>
                  <div class="option" (click)="doGroupOrder('name', 'desc')" (keydown.enter)="doGroupOrder('name', 'desc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_DESC' | translate }}
                  </div>
                  <div class="option" (click)="doGroupOrder('level', 'asc')" (keydown.enter)="doGroupOrder('level', 'asc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <div>
                      <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                    </div>
                  </div>
                  <div class="option" (click)="doGroupOrder('level', 'desc')" (keydown.enter)="doGroupOrder('level', 'desc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <div>
                      <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line_separator"></div>
            <div class="container">
              @if (filteredGroups().length) {
                <div class="row header_row">
                  <div class="name"><span>{{ 'COMPONENTS.GROUP_INVITE.NAME' | translate }}</span></div>
                  <div class="level">
                    <div class="level_heading">{{ 'COMPONENTS.GROUP_INVITE.ROLE' | translate }}
                      <cos-tooltip
                        [title]="'COMPONENTS.TOPIC_ADD_GROUPS.TOOLTIP_GROUP_PERMISSIONS_TITLE' | translate"
                        [description]="'COMPONENTS.TOPIC_ADD_GROUPS.TOOLTIP_GROUP_PERMISSIONS_CONTENT' | translate">
                      </cos-tooltip>
                    </div>
                    <div class="button_heading">{{ 'COMPONENTS.GROUP_INVITE.ACTIONS' | translate }}</div>
                  </div>
                </div>
              }
              @for (group of pagedGroups(); track group.id) {
                <div class="row_list">
                  <app-topic-member-group [topic]="topic" [group]="group"></app-topic-member-group>
                </div>
              }
            </div>
            @if (filteredGroups().length) {
              <div class="line_separator"></div>
            }
            <div id="footer_buttons">
              <cos-pagination class="pagination"
                [totalPages]="groupTotalPages()"
                [page]="groupPage()"
                (selectPage)="groupPage.set($event)"></cos-pagination>
            </div>
          </div>
        </div>
      }
      @if (activeTab() === 'invited') {
        <div class="content_section">
          <div id="topic_members_list_wrap" class="section_content_wrap table_section">
            <div class="topic_members_filters">
              <cos-input [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate">
                <label class="hidden" for="invite_search">{{ 'MODALS.TOPIC_MEMBERS_PLACEHOLDER_NAME_PERMISSION' | translate }}</label>
                <input id="invite_search" [placeholder]="'MODALS.TOPIC_MEMBERS_PLACEHOLDER_TOPIC_TITLE_PERMISSION' | translate"
                  [ngModel]="inviteSearch()"
                  (ngModelChange)="setInviteSearch($event)">
              </cos-input>
              <div class="dropdown" cosDropdown>
                <div class="selection" role="button" tabindex="0" [attr.aria-label]="'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate">
                  <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY' | translate }}</span>
                  <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
                </div>
                <div class="options">
                  <div class="option" (click)="doInviteOrder('name', 'asc')" (keydown.enter)="doInviteOrder('name', 'asc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_ASC' | translate }}
                  </div>
                  <div class="option" (click)="doInviteOrder('name', 'desc')" (keydown.enter)="doInviteOrder('name', 'desc')" tabindex="0" role="button">
                    {{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_NAME_DESC' | translate }}
                  </div>
                  <div class="option" (click)="doInviteOrder('level', 'asc')" (keydown.enter)="doInviteOrder('level', 'asc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <div>
                      <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                    </div>
                  </div>
                  <div class="option" (click)="doInviteOrder('level', 'desc')" (keydown.enter)="doInviteOrder('level', 'desc')" tabindex="0" role="button">
                    <span>{{ 'MODALS.TOPIC_MEMBERS_ORDER_BY_LEVEL' | translate }}</span>
                    <div>
                      <cos-icon name="topic-participants-icon-2-legacy" size="24"></cos-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="line_separator"></div>
            @for (invite of pagedInvites(); track invite.id) {
              <div class="row_list">
                <app-topic-member-invite [invite]="invite" [topic]="topic"></app-topic-member-invite>
              </div>
            }
            <div class="line_separator"></div>
            <div id="footer_buttons">
              <cos-pagination class="pagination"
                [totalPages]="inviteTotalPages()"
                [page]="invitePage()"
                (selectPage)="invitePage.set($event)"></cos-pagination>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
