<div class="create_content">
  <!-- Discussion Question Section -->
  <div class="create_content_section">
    <div class="number_wrap mobile_hidden">
      <div>1</div>
    </div>
    <div class="section_content_wrap">
      <div class="header_wrap">
        <div class="number_wrap mobile_show"><div>1</div></div>
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_QUESTION"></div>
        <div class="description mobile_hidden" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_QUESTION_DESC"></div>
      </div>
      <div class="description mobile_show" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_QUESTION_DESC"></div>
      <cos-input [placeholder]="'VIEWS.TOPIC_CREATE.SETTINGS_DISCUSSION_QUESTION_PLACEHOLDER' | translate">
        <input
          class="question-input"
          type="text"
          id="discussion_question"
          [placeholder]="'VIEWS.TOPIC_CREATE.SETTINGS_DISCUSSION_QUESTION_PLACEHOLDER' | translate"
          [ngModel]="discussion().question"
          (ngModelChange)="onQuestionChange($event)"
        />
      </cos-input>
    </div>
  </div>

  <!-- Discussion Deadline Section -->
  <div class="create_content_section">
    <div class="number_wrap mobile_hidden">
      <div>2</div>
    </div>
    <div class="section_content_wrap">
      <div class="header_wrap">
        <div class="number_wrap mobile_show"><div>2</div></div>
        <div class="small_heading" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_DEADLINE"></div>
        <div class="description mobile_hidden" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_DEADLINE_DESC"></div>
      </div>
      <div class="description mobile_show" translate="VIEWS.TOPIC_CREATE.SETTINGS_HEADING_DISCUSSION_DEADLINE_DESC"></div>
      
      <cos-deadline-picker
        [deadline]="getDiscussionDeadlineDate()"
        [toggleLabel]="'VIEWS.TOPIC_CREATE.LBL_OPTION_DEADLINE'"
        (deadlineChange)="onDeadlineChange($event)"
      ></cos-deadline-picker>
    </div>
  </div>
</div>
