<div class="overlay" dialogClose (keydown.enter)="dialogRef.close()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header warning">
      <div class="header_with_icon">
        <div class="icon_notification">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="40" height="40" rx="20" fill="#F39129" />
            <path
              d="M19.0645 8C18.4876 8 18.0304 8.48668 18.0664 9.06238L18.9414 23.0624C18.9743 23.5894 19.4114 24 19.9395 24H20.0605C20.5886 24 21.0257 23.5894 21.0586 23.0624L21.9336 9.06238C21.9696 8.48668 21.5124 8 20.9355 8H19.0645Z"
              fill="white" />
            <path
              d="M20 31C21.1046 31 22 30.1046 22 29C22 27.8954 21.1046 27 20 27C18.8954 27 18 27.8954 18 29C18 30.1046 18.8954 31 20 31Z"
              fill="white" />
          </svg>
        </div>
        <h1 class="title">{{ 'COMPONENTS.IDEA_REPLY_REPORT_MODERATE.HEADING' | translate }}</h1>
      </div>
      <div class="dialog_close">
        <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
          <cos-icon name="topic-tour-icon-legacy" size="24"></cos-icon>
        </button>
      </div>
    </div>
    <div class="dialog_content">
      <div class="dialog_info_wrap">
        <div class="dialog_info">
          <div class="delete_info_text bold" translate="COMPONENTS.IDEA_REPLY_REPORT_MODERATE.MESSAGE_MAIN"></div>
          @if (argument.subject) {
            <div class="delete_info_text italic" [innerHtml]="argument.subject"></div>
          }
          @if (argument.text) {
            <div class="delete_info_text italic" [innerHtml]="argument.text"></div>
          }
        </div>
      </div>
      <form [formGroup]="report">
        <div class="dropdown" cosDropdown>
          <div class="selection" role="button" [attr.aria-label]="'COMPONENTS.IDEA_REPLY_REPORT_MODERATE.LBL_REPORT_TYPE' | translate" tabindex="0">
            <div class="selected_item" [translate]="'TXT_REPORT_TYPES_' + (report.value.type || '').toUpperCase()">
            </div>
            <cos-icon name="argument-report-moderate-icon-legacy" size="24"></cos-icon>
          </div>
          <div class="options">
            @for (type of reportTypes; track type) {
              <div class="option" (click)="selectReportType(type)" (keydown.enter)="selectReportType(type)" tabindex="0" role="button">
                {{ 'TXT_REPORT_TYPES_' + type.toUpperCase() | translate }}
              </div>
            }
          </div>
        </div>

        <label for="report_text" class="hidden">{{ 'COMPONENTS.ARGUMENT_REPORT.PLACEHOLDER_REPORT_TEXT' | translate }}</label>
        <textarea id="report_text" formControlName="text"
          [ngClass]="{'error_input': report.controls['text'].errors?.['required'] && report.controls['text'].touched}"
          [placeholder]="'COMPONENTS.ARGUMENT_REPORT.PLACEHOLDER_REPORT_TEXT' | translate"
          [maxlength]="2048"
          rows="5"></textarea>
        @if (report.controls['text'].errors?.['required'] && report.controls['text'].touched) {
          <label for="report_text" class="error_label">
            <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
            <div class="error_text">
              <span translate="COMPONENTS.IDEA_REPLY_REPORT_MODERATE.ERROR_TEXT"></span>
            </div>
          </label>
        }
      </form>
      <div class="dialog_info_wrap">
        <div class="dialog_info">
          <div class="delete_info_text bold" translate="COMPONENTS.IDEA_REPLY_REPORT_MODERATE.ARE_YOU_SURE"></div>
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer">
      <div class="button_wrap">
        <button class="btn_big_submit" [disabled]="report.invalid"
          (click)="doModerate()">{{ 'COMPONENTS.IDEA_REPLY_REPORT_MODERATE.BTN_SUBMIT' | translate }}</button>
        <button type="button" class="btn_big_plain" dialogClose>{{ 'COMPONENTS.IDEA_REPLY_REPORT_MODERATE.BTN_CANCEL' | translate }}</button>
      </div>
    </div>
    <div class="dialog_footer"></div>
  </div>
</div>
