<div class="state_items_wrap">
  <!-- IDEATION STATE -->
  @if (topic().ideationId) {
    <div class="state_item ideation" (click)="navigateTab.emit('ideation')">
      @if (ideation()) {
        <div class="item_header">
          <div class="item_title_with_description">
            <span translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_HEADING"></span>
          </div>
          
          @if (ideation().deadline && !topicIdeationService.hasIdeationEndedExpired(topic(), ideation())) {
            <div class="item_title" [translateParams]="{ count: ideation().ideas?.count || 0 }" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_IDEAS"></div>
          }
          @if (!ideation().deadline && !topicIdeationService.hasIdeationEndedExpired(topic(), ideation())) {
            <div class="item_title" [translateParams]="{ count: ideation().ideas?.count || 0 }" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_STATUS_ACTIVE"></div>
          }
          @if (topicIdeationService.hasIdeationEndedExpired(topic(), ideation())) {
            <div translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_STATUS_ENDED"></div>
          }
        </div>
        
        <div class="item_content">
          <div class="graph_wrap">
            @if (!ideation().deadline || topicIdeationService.hasIdeationEndedExpired(topic(), ideation())) {
              <div class="legend">
                <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_IDEAS_COLLECTED"></div>
                <div>
                  <span class="bold">{{ ideation().ideas?.count || 0 }}</span>
                </div>
              </div>
            }
            @if (ideation().deadline && !topicIdeationService.hasIdeationEndedExpired(topic(), ideation())) {
              <div class="legend wide">
                <div class="legend_row">
                  <div class="legend_item">
                    <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_IDEATION_DAYS_LEFT"></div>
                    <div>{{ getDaysUntil(ideation().deadline) }}</div>
                  </div>
                </div>
                <div class="legend_row">
                  <div class="legend_item">
                    <div class="bold">{{ ideation().deadline | date: 'y-MM-dd' }}</div>
                  </div>
                </div>
              </div>
            }
            <div class="graph">
              <div class="ideation" [style.width.%]="ideationDeadlineBar(ideation())"></div>
            </div>
          </div>
        </div>
      }
    </div>
  }

  <!-- DISCUSSION STATE -->
  @if (topic().discussionId || [STATUSES.draft, STATUSES.ideation, STATUSES.inProgress].includes(topic().status)) {
    <div class="state_item discussion" 
      [ngClass]="{ empty: topic().status === STATUSES.ideation && !argumentCount.value.total }"
      (click)="topic().status === STATUSES.ideation && canUpdate(topic()) ? startDiscussion.emit(topic()) : navigateTab.emit('discussion')">
      
      @if (topic().status === STATUSES.ideation && !argumentCount.value.total) {
        <div class="icon_wrap">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="32" height="32" rx="16" fill="#1168A8" />
            <path fill="white" d="M21.9997 17.7634C22.0238 17.7288 22.0469 17.6928 22.0707 17.6591C22.6751 16.7608 22.9985 15.703 22.9997 14.6203C23.0097 11.5172 20.3916 9 17.1541 9C14.3304 9 11.9747 10.9216 11.4229 13.4725C11.3401 13.8506 11.2982 14.2364 11.2979 14.6234C11.2979 17.7297 13.8154 20.3144 17.0529 20.3144C17.5675 20.3144 18.261 20.1597 18.6413 20.0553C19.0216 19.9509 19.3985 19.8131 19.496 19.7759C19.5935 19.7387 19.746 19.7006 19.8675 19.7356L22.2869 20.435L21.8894 18.1741C21.851 18.0178 21.846 17.9884 21.9997 17.7634Z"/>
          </svg>
        </div>
        <div class="state_item_text">
          @if (topic().permission.level === topicService.LEVELS.admin) {
            <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_DISCUSSION"></div>
            <div class="item_description" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_DISCUSSION_DESC"></div>
          } @else {
            <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_NO_DISCUSSION"></div>
          }
        </div>
      }

      @if (topic().status !== STATUSES.ideation || argumentCount.value.total) {
        <div class="item_header">
          <div class="item_title" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_DISCUSSION_HEADING"></div>
          <div class="item_title" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_DISCUSSION_CONTRIBUTION" [translateParams]="{ count: argumentCount.value.total }"></div>
        </div>
        <div class="item_content">
          <div class="graph_wrap">
            <div class="legend discussion_legend">
              <div class="legend_row">
                <div class="legend_item pro">
                  <div class="dot"></div>
                  <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_CONTRIBUTION_PRO"></div>
                  <span>{{ argumentCount.value.pro }}</span>
                </div>
                <div class="legend_item">
                  <div class="dot"></div>
                  <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_CONTRIBUTION_INFO"></div>
                  <span>{{ argumentCount.value.poi }}</span>
                </div>
              </div>
              <div class="legend_row">
                <div class="legend_item con">
                  <div class="dot"></div>
                  <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_CONTRIBUTION_CON"></div>
                  <span>{{ argumentCount.value.con }}</span>
                </div>
                <div class="legend_item reply">
                  <div class="dot"></div>
                  <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_CONTRIBUTION_REPLIES"></div>
                  <span>{{ argumentCount.value.reply }}</span>
                </div>
              </div>
            </div>
            <div class="graph">
              <div class="arguments_pro" [style.width.%]="getArgumentPercentage(argumentCount.value.pro)"></div>
              <div class="arguments_con" [style.width.%]="getArgumentPercentage(argumentCount.value.con)"></div>
            </div>
          </div>
        </div>
      }
    </div>
  }

  <!-- VOTING STATE -->
  @if (topic().voteId || [STATUSES.draft, STATUSES.ideation, STATUSES.inProgress, STATUSES.voting].includes(topic().status)) {
    <div class="state_item vote" [ngClass]="{ empty: !topic().voteId }" (click)="!topic().voteId && canUpdate(topic()) ? startVote.emit(topic()) : navigateTab.emit('voting')">
      @if (!topic().voteId) {
        <div class="icon_wrap">
           <!-- Hand icon indicating vote -->
           <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.584 0 0 3.584 0 8C0 12.416 3.584 16 8 16C12.416 16 16 12.416 16 8C16 3.584 12.416 0 8 0ZM6.44444 12L12.6667 5.82456L11.5 4.66667L6.44444 9.68421L4.5 7.75439L3.33333 8.91228L6.44444 12Z" fill="white" />
          </svg>
        </div>
        <div class="state_item_text">
          @if (topic().permission.level === topicService.LEVELS.admin) {
            <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_VOTING"></div>
            <div class="item_description" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_VOTING_DESC"></div>
          } @else {
            <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_NO_VOTING"></div>
          }
        </div>
      }
      @if (vote()) {
        <div class="item_header">
          <div class="item_title_with_description">
            <span translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_VOTING_HEADING"></span>
          </div>
          <div class="item_title" [translate]="!topicVoteService.hasVoteEndedExpired(topic(), vote()) ? 'VIEWS.TOPICS_TOPICID.STATE_ITEM_VOTING_STATUS_ACTIVE' : 'VIEWS.TOPICS_TOPICID.STATE_ITEM_VOTING_STATUS_ENDED'"></div>
        </div>
        <div class="item_content">
          <div class="graph_wrap">
            <div class="legend">
              <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_VOTING_VOTES_COLLECTED"></div>
              <div><span class="bold">{{ vote().votersCount || 0 }}</span></div>
            </div>
            <!-- In legacy this was commented out, potentially add a bar here -->
          </div>
        </div>
      }
    </div>
  }

  <!-- FOLLOW UP STATE -->
  <div class="state_item follow-up" [ngClass]="{ empty: topic().status !== STATUSES.followUp }" (click)="topic().status !== STATUSES.followUp && canUpdate(topic()) ? sendToFollowUp.emit(topic()) : navigateTab.emit('followUp')">
    @if (topic().status !== STATUSES.followUp) {
      <div class="icon_wrap">
        <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="32" height="32" rx="16" fill="#E3A8CC" />
          <path d="M17.8933 11.5294L17.6 10H11V23H12.4667V17.6471H16.5733L16.8667 19.1765H22V11.5294H17.8933Z" fill="white" />
        </svg>
      </div>
      <div class="state_item_text">
        @if (topic().permission.level !== topicService.LEVELS.admin) {
          <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_NO_FOLLOW_UP"></div>
        } @else {
          <div class="item_heading" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_FOLLOW_UP"></div>
          <div class="item_description" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_ADD_FOLLOW_UP_DESC"></div>
        }
      </div>
    } @else {
      <div class="item_header">
        <div class="item_title_with_description">
          <span translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_FOLLOW_UP_HEADING"></span>
          <div class="description">
            @if (topic().endsAt) { <span translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_FOLLOW_UP_DEADLINE"></span> }
            {{ topic().endsAt | date: 'y-MM-dd HH:mm' }}
          </div>
        </div>
      </div>
      <div class="item_content">
        <div class="graph_wrap">
          <div class="legend">
            <div class="bold" translate="VIEWS.TOPICS_TOPICID.STATE_ITEM_FOLLOW_UP_MILESTONE"></div>
            <div><span class="bold">{{ eventCount() }}</span></div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
