.state_items_wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .state_item {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-left: 8px solid;
    min-height: 64px;
    background-color: var(--color-surfaces);
    width: 100%;
    align-items: center;
    padding: 16px;
    gap: 16px;

    .icon_wrap {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 16px;
      
      svg {
        max-width: 24px;
        max-height: 24px;
      }
    }

    &.discussion {
      cursor: pointer;
      border-color: var(--color-discussion);
      .icon_wrap {
        background-color: var(--color-discussion);
      }
    }
    &.vote {
      cursor: pointer;
      border-color: var(--color-voting);
      .icon_wrap {
        background-color: var(--color-voting);
        svg { fill: var(--color-surfaces); }
      }
      &.empty {
        cursor: pointer;
        border-color: var(--color-voting-disabled);
        .icon_wrap {
          background-color: var(--color-voting-disabled);
        }
      }
    }
    &.ideation {
      cursor: pointer;
      border-color: var(--color-ideation-disabled);
      .icon_wrap {
        background-color: var(--color-ideation-disabled);
      }
    }
    &.follow-up {
      cursor: pointer;
      border-color: var(--color-follow-up);
      .icon_wrap {
        background-color: var(--color-follow-up);
      }

      &.empty {
        cursor: pointer;
        border-color: var(--color-follow-up-disabled);
        .icon_wrap {
          background-color: var(--color-follow-up-disabled);
        }
      }
    }

    &.empty {
      position: relative;
      flex-direction: row;
      background-color: initial;
      border: 1px dashed;
      border-left: 8px solid;

      .info_icon {
        position: absolute;
        right: 16px;
      }
    }

    .state_item_text {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .item_heading {
        padding: 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        justify-content: flex-start;
      }

      .item_description {
        font-size: 13px;
        font-style: normal;
        line-height: 16px;
      }
    }

    .item_header {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 8px;

      .item_title {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        padding-bottom: 8px;
        display: flex;
      }

      .item_title_with_description {
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        padding-bottom: 8px;
        display: flex;
        flex-direction: column;

        .description {
          display: flex;
          gap: 4px;
          span {
            font-size: 13px !important;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
          .votes_number {
            color: var(--color-voting-disabled);
          }
        }
      }
    }

    .item_content {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;

      @media (max-width: 1024px) {
        width: 100%;
      }
      .graph_wrap {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .legend {
          display: flex;
          width: 100%;
          justify-content: space-between;

          &.discussion_legend {
            justify-content: initial;
            gap: 56px;
          }

          &.wide {
            justify-content: space-between;
          }

          .dot {
            height: 8px;
            width: 8px;
            background-color: var(--color-argument-info);
            border-radius: 50%;
          }

          .legend_row {
            display: flex;
            flex-direction: column;
            gap: 4px;
          }
          .legend_item {
            display: flex;
            align-items: center;
            gap: 8px;

            &.pro .dot { background-color: var(--color-argument-pro); }
            &.con .dot { background-color: var(--color-argument-con); }
            &.reply .dot { background-color: var(--color-border); }
          }
        }

        .graph {
          display: flex;
          width: 100%;
          gap: 4px;
          background-color: var(--color-border);

          .arguments_pro { height: 4px; display: flex; width: 50%; background-color: var(--color-argument-pro); }
          .arguments_con { height: 4px; display: flex; width: 50%; background-color: var(--color-argument-con); }
          .votes { height: 4px; display: flex; width: 50%; background-color: var(--color-voting); }
          .follow_up { height: 4px; display: flex; width: 50%; background-color: var(--color-dialog-follow-up-contrast); }
          .ideation { height: 4px; display: flex; background-color: var(--color-ideation); }
        }
      }
    }
  }
}
