<div class="overlay" dialogClose></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header">
      <div class="header_text">
        <h4 class="title">{{ 'MODALS.MARKDOWN_ADD_LINK_HEADING' | translate }}</h4>
        <div class="dialog_close">
          <a class="btn_dialog_close icon" dialogClose>
            <cos-icon name="markdown-link-icon-legacy" size="24"></cos-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="dialog_content">
      <form [formGroup]="form">
        <div class="input_group">
          <div class="bold" translate="MODALS.MARKDOWN_ADD_LINK_LBL_TEXT"></div>
          <cos-input [placeholder]="'MODALS.MARKDOWN_ADD_LINK_PLACEHOLDER_TEXT' | translate">
            <input id="linktext" formControlName="linktext"
              [placeholder]="'MODALS.MARKDOWN_ADD_LINK_PLACEHOLDER_TEXT' | translate"
              [class.error_input]="form.controls['linktext'].touched && form.controls['linktext'].invalid">
            @if (form.controls['linktext'].touched && form.controls['linktext'].invalid) {
              <label for="linktext" class="error_label">
                <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
                <span translate="MODALS.MARKDOWN_ADD_LINK_ERROR_TEXT"></span>
              </label>
            }
          </cos-input>
        </div>
        <div class="input_group">
          <div class="bold" translate="MODALS.MARKDOWN_ADD_LINK_LBL_LINK"></div>
          <cos-input [placeholder]="'MODALS.MARKDOWN_ADD_LINK_PLACEHOLDER_LINK' | translate">
            <input id="link" formControlName="link"
              [placeholder]="'MODALS.MARKDOWN_ADD_LINK_PLACEHOLDER_LINK' | translate"
              [class.error_input]="form.controls['link'].touched && form.controls['link'].invalid">
            @if (form.controls['link'].touched && form.controls['link'].invalid) {
              <label for="link" class="error_label">
                <cos-icon name="argument-reply-icon-legacy" size="16"></cos-icon>
                <span translate="MODALS.MARKDOWN_ADD_LINK_ERROR_LINK"></span>
              </label>
            }
          </cos-input>
        </div>

        <div class="line_separator"></div>
        <div [innerHTML]="'MODALS.MARKDOWN_ADD_LINK_DESCRIPTION' | translate"></div>
      </form>
    </div>
    <div class="dialog_footer with_buttons">
      <button type="button" class="btn_link" dialogClose>{{ 'MODALS.MARKDOWN_ADD_LINK_BTN_CANCEL' | translate }}</button>
      <button class="btn_big_submit" (click)="save()">{{ 'MODALS.MARKDOWN_ADD_LINK_BTN_SAVE' | translate }}</button>
    </div>
  </div>
</div>
