<div class="overlay" [dialogClose]="undefined" (keydown.enter)="dialogRef.close()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div id="notification_wrap_dialog" class="mobile_hidden">
    <cos-notifications></cos-notifications>
  </div>
  <div class="dialog">
    <div id="notification_wrap_dialog" class="mobile_show">
      <cos-notifications></cos-notifications>
    </div>
    <div class="dialog_header follow_up">
      <div class="header_text">
        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect width="40" height="40" rx="20" fill="#DA7AB1" />
          <rect x="10" y="10" width="20" height="20" rx="10" fill="white" />
          <path
            d="M21.5777 16.2745L21.3333 15H15.8333V25.8333H17.0555V21.3725H20.4777L20.7221 22.6471H24.9999V16.2745H21.5777Z"
            fill="#DA7AB1" />
        </svg>
        <h4 class="title">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_HEADING' | translate }}</h4>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" [dialogClose]="undefined" [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="close" [size]="24"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog_content">
      <div class="introduction_wrap">
        <div class="intro_heading">
          <span>{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ARE_YOU_SURE' | translate }}</span>
          <span>{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_KEEP_IN_MIND' | translate }}</span>
        </div>
        <div class="dialog_info">
          <div class="row">
            <cos-icon name="close" [size]="24" style="color: var(--color-error)"></cos-icon>
            <span class="error_text bold">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_1' | translate }}</span>
          </div>
          <div class="row">
            <cos-icon name="close" [size]="24" style="color: var(--color-error)"></cos-icon>
            <span class="error_text bold">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_7' | translate }}</span>
          </div>
          <div class="row">
            <cos-icon name="close" [size]="24" style="color: var(--color-error)"></cos-icon>
            <span class="error_text bold">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_5' | translate }}</span>
          </div>
          <div class="row">
            <cos-icon name="close" [size]="24" style="color: var(--color-error)"></cos-icon>
            <span class="error_text bold">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_6' | translate }}</span>
          </div>
          <div class="row">
            <cos-icon name="check" [size]="24"></cos-icon>
            <span>{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_2' | translate }}</span>
          </div>
          <div class="row">
            <cos-icon name="check" [size]="24"></cos-icon>
            <span>{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_ITEM_3' | translate }}</span>
          </div>
        </div>
        <div class="dialog_info_wrap">
          <div class="dialog_info follow_up">
            <div class="row">
              <cos-icon name="topic-follow-up-create-icon-legacy" size="24"></cos-icon>
              <span>{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.DIALOG_TAB_INTRODUCTION_INFO' | translate }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog_footer with_buttons">
      <button type="button" class="btn_link" [dialogClose]="undefined">{{ 'COMPONENTS.TOPIC_FOLLOW_UP_CREATE.LNK_CANCEL' | translate }}</button>
      <div class="button_row">
        <button type="button" class="btn_medium_submit" (click)="startFollowUp()">
          {{ "COMPONENTS.TOPIC_FOLLOW_UP_CREATE.BTN_START_FOLLOW_UP" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
