<div id="page_header">
  <div id="user_info_area">
    <button [routerLink]="navigation().link">
      <cos-icon name="arrow-left"></cos-icon>
    </button>
    <div class="small_heading mobile_hidden truncate_text navigation_title"
      [innerHTML]="navigation().title | translate"></div>
  </div>
  <div id="buttons_area">
    @if (!topic().permission.level || topic().permission.level === 'none') {
      <button id="join_button" (click)="onJoin()" class="btn_medium_close"
        translate="VIEWS.TOPICS_TOPICID.BTN_JOIN"></button>
    }

    @if (topic().permission.level && topic().permission.level !== 'none') {
      <div class="permissions_lable tablet_hidden" [translate]="
        topic().permission.level !== 'read'
          ? ('TXT_TOPIC_LEVELS_' + (topic().permission.level | uppercase))
          : 'VIEWS.TOPICS_TOPICID.LBL_JOINED'
      "></div>
    }

    @if (isLoggedIn()) {
      <button class="btn_medium_close icon tablet_show"
        (click)="onToggleFavourite()" [class.like_active]="topic().favourite">
        <div class="tooltip_item">
          @if (!topic().favourite) {
            <div class="content_description" translate="VIEWS.TOPICS_TOPICID.TOOLTIP_FAVOURITE"></div>
          } @else {
            <div class="content_description" translate="VIEWS.TOPICS_TOPICID.TOOLTIP_SAVED_TO_FAVOURITE"></div>
          }
        </div>
        @if (!topic().favourite) {
          <cos-icon name="favourite"></cos-icon>
        } @else {
          <cos-icon name="favourite-filled"></cos-icon>
        }
      </button>
    }

    <button class="btn_medium_close icon mobile_show" (click)="mobileActions = !mobileActions">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M14 6C14 4.9 13.1 4 12 4C10.9 4 10 4.9 10 6C10 7.1 10.9 8 12 8C13.1 8 14 7.1 14 6ZM14 18C14 16.9 13.1 16 12 16C10.9 16 10 16.9 10 18C10 19.1 10.9 20 12 20C13.1 20 14 19.1 14 18ZM12 10C13.1 10 14 10.9 14 12C14 13.1 13.1 14 12 14C10.9 14 10 13.1 10 12C10 10.9 10.9 10 12 10Z" fill="#2C3B47"/>
      </svg>
    </button>

    <div id="tablet_actions" class="dropdown button_dropdown mobile_hidden">
      <!-- TODO: cosDropdown equivalent directive, for now we will use standard CSS hover or click state -->
      <button class="btn_medium_close icon">
        <cos-icon name="more-vertical"></cos-icon>
      </button>

      <div class="options">
        <!-- Replicated dropdown options -->
        @if (topic().permission.level && topic().permission.level !== 'none' && isLoggedIn()) {
          <button (click)="leaveTopic.emit(topic())" class="option">
            <div class="icon_wrap">
              <cos-icon name="leave" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.BTN_LEAVE"></span>
          </button>
        }

        @if (isLoggedIn()) {
          <div class="line_separator"></div>
          <button class="option" (click)="onToggleFavourite()">
            <div class="icon_wrap">
              @if (topic().favourite) {
                <cos-icon name="favourite-filled" [size]="16"></cos-icon>
              } @else {
                <cos-icon name="favourite" [size]="16"></cos-icon>
              }
            </div>
            @if (!topic().favourite) {
              <span translate="VIEWS.TOPICS_TOPICID.OPTION_FAVOURITE"></span>
            } @else {
              <span translate="VIEWS.TOPICS_TOPICID.OPTION_UNFAVOURITE"></span>
            }
          </button>
        }

        <!-- Add the rest of the actions replacing *ngIfs with @if -->
        @if (isLoggedIn() && appTopicNotificationSettings()) {
          <div class="line_separator"></div>
          <button class="option" (click)="appTopicNotificationSettings()?.()">
            <div class="icon_wrap">
              <cos-icon name="bell" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_TOPIC_NOTIFICATIONS"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="inviteEditors.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="invite" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_INVITE_CO_EDITOR"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canEdit(topic()) && !topic().voteId && !topic().ideationId) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', translate.currentLang, 'topics', topic().id, 'edit']">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canEdit(topic()) && topic().ideationId && !topic().voteId) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', translate.currentLang, 'topics', 'ideation', 'edit', topic().id]">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canEdit(topic()) && topic().voteId) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', translate.currentLang, 'topics', 'vote', 'edit', topic().id]">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic())) {
          <div class="line_separator"></div>
          <button class="option" (click)="duplicateTopic.emit(topic())">
            <div class="icon_wrap">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 5H11V14H2V5Z" fill="#2C3B47"/>
                <path d="M4 2V4H12V12H14V2H4Z" fill="#2C3B47"/>
              </svg>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_DUPLICATE_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="addGroupsDialog.emit(topic())">
            <div class="icon_wrap">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 13C1 14 2 14 2 14H10C10 14 11 14 11 13C11 12 10 9 6 9C2 9 1 12 1 13Z" fill="#2C3B47"/>
                <path d="M8.12132 7.12132C7.55871 7.68393 6.79565 8 6 8C5.20435 8 4.44129 7.68393 3.87868 7.12132C3.31607 6.55871 3 5.79565 3 5C3 4.20435 3.31607 3.44129 3.87868 2.87868C4.44129 2.31607 5.20435 2 6 2C6.79565 2 7.55871 2.31607 8.12132 2.87868C8.68393 3.44129 9 4.20435 9 5C9 5.79565 8.68393 6.55871 8.12132 7.12132Z" fill="#2C3B47"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99984 5.00004C9.99984 6.08068 9.57131 7.06124 8.87491 7.78104C9.22902 7.9243 9.61061 8 10 8C10.7956 8 11.5587 7.68393 12.1213 7.12132C12.6839 6.55871 13 5.79565 13 5C13 4.20435 12.6839 3.44129 12.1213 2.87868C11.5587 2.31607 10.7956 2 10 2C9.61059 2 9.22898 2.07571 8.87486 2.21898C9.57129 2.93879 9.99984 3.91937 9.99984 5.00004ZM5 13C5 14 6 14 6 14H10C10 14 11 14 11 13C11 12.1936 10.3496 10.0864 8 9.30092C5.65035 10.0864 5 12.1936 5 13Z" fill="#2C3B47"/>
              </svg>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_ADD_TO_GROUP"></span>
          </button>
        }

        @if (topic().visibility === topicService.VISIBILITY.public && !topic().report) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', translate.currentLang, 'topics', topic().id, 'report']">
            <div class="icon_wrap">
              <cos-icon name="report" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_REPORT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="closeTopic.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="check-box" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.NAV_LNK_CLOSE_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic())) {
          <div class="line_separator"></div>
          <button class="option error_text" (click)="deleteTopic.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="trash" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_DELETE_TOPIC"></span>
          </button>
        }
      </div>
    </div>

  </div>
</div>

@if (mobileActions) {
  <div class="overlay" (click)="mobileActions = false"></div>
}
<div class="mobile_actions_wrap mobile_show" [class.show]="mobileActions">
  <div class="heading_wrap">
    <span translate="VIEWS.TOPICS_TOPICID.LBL_TOPIC_ACTIONS"></span>
    <div id="close_mobile" class="mobile_show">
      <button class="btn_small_close icon" (click)="mobileActions = false">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.29311 17.2929C4.90258 17.6834 4.90258 18.3166 5.29311 18.7071C5.68363 19.0976 6.3168 19.0976 6.70732 18.7071L12.0002 13.4142L17.2931 18.7071C17.6836 19.0976 18.3168 19.0976 18.7073 18.7071C19.0978 18.3166 19.0978 17.6834 18.7073 17.2929L13.4144 12L18.7073 6.70711C19.0978 6.31658 19.0978 5.68342 18.7073 5.29289C18.3168 4.90237 17.6836 4.90237 17.2931 5.29289L12.0002 10.5858L6.70732 5.29289C6.3168 4.90237 5.68363 4.90237 5.29311 5.29289C4.90258 5.68342 4.90258 6.31658 5.29311 6.70711L10.586 12L5.29311 17.2929Z" fill="#2C3B47"/>
        </svg>
      </button>
    </div>
  </div>
  <div class="options">
    @if (topic().permission.level && topic().permission.level !== 'none' && isLoggedIn()) {
      <button id="leave_button" (click)="leaveTopic.emit(topic()); mobileActions = false" class="btn_medium_close"
        translate="VIEWS.TOPICS_TOPICID.BTN_LEAVE"></button>
      <div class="line_separator"></div>
    }
    @if (isLoggedIn()) {
      <button class="option" (click)="onToggleFavourite(); mobileActions = false">
        <div class="icon_wrap">
          @if (topic().favourite) {
            <cos-icon name="favourite-filled" [size]="16"></cos-icon>
          } @else {
            <cos-icon name="favourite" [size]="16"></cos-icon>
          }
        </div>
        @if (!topic().favourite) {
          <span translate="VIEWS.TOPICS_TOPICID.OPTION_FAVOURITE"></span>
        } @else {
          <span translate="VIEWS.TOPICS_TOPICID.OPTION_UNFAVOURITE"></span>
        }
      </button>
    }
    @if (isLoggedIn() && appTopicNotificationSettings()) {
      <div class="line_separator"></div>
      <button class="option" (click)="appTopicNotificationSettings()?.(); mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="bell" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_TOPIC_NOTIFICATIONS"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="inviteEditors.emit(topic()); mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="invite" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_INVITE_CO_EDITOR"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canEdit(topic()) && !topic().voteId && !topic().ideationId) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', translate.currentLang, 'topics', topic().id, 'edit']" (click)="mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="edit" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canEdit(topic()) && topic().ideationId && !topic().voteId) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', translate.currentLang, 'topics', 'ideation', 'edit', topic().id]" (click)="mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="edit" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canEdit(topic()) && topic().voteId) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', translate.currentLang, 'topics', 'vote', 'edit', topic().id]" (click)="mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="edit" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canDelete(topic())) {
      <div class="line_separator"></div>
      <button class="option" (click)="duplicateTopic.emit(topic()); mobileActions = false">
        <div class="icon_wrap">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 5H11V14H2V5Z" fill="#2C3B47"/>
            <path d="M4 2V4H12V12H14V2H4Z" fill="#2C3B47"/>
          </svg>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_DUPLICATE_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="addGroupsDialog.emit(topic()); mobileActions = false">
        <div class="icon_wrap">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 13C1 14 2 14 2 14H10C10 14 11 14 11 13C11 12 10 9 6 9C2 9 1 12 1 13Z" fill="#2C3B47"/>
            <path d="M8.12132 7.12132C7.55871 7.68393 6.79565 8 6 8C5.20435 8 4.44129 7.68393 3.87868 7.12132C3.31607 6.55871 3 5.79565 3 5C3 4.20435 3.31607 3.44129 3.87868 2.87868C4.44129 2.31607 5.20435 2 6 2C6.79565 2 7.55871 2.31607 8.12132 2.87868C8.68393 3.44129 9 4.20435 9 5C9 5.79565 8.68393 6.55871 8.12132 7.12132Z" fill="#2C3B47"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.99984 5.00004C9.99984 6.08068 9.57131 7.06124 8.87491 7.78104C9.22902 7.9243 9.61061 8 10 8C10.7956 8 11.5587 7.68393 12.1213 7.12132C12.6839 6.55871 13 5.79565 13 5C13 4.20435 12.6839 3.44129 12.1213 2.87868C11.5587 2.31607 10.7956 2 10 2C9.61059 2 9.22898 2.07571 8.87486 2.21898C9.57129 2.93879 9.99984 3.91937 9.99984 5.00004ZM5 13C5 14 6 14 6 14H10C10 14 11 14 11 13C11 12.1936 10.3496 10.0864 8 9.30092C5.65035 10.0864 5 12.1936 5 13Z" fill="#2C3B47"/>
          </svg>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_ADD_TO_GROUP"></span>
      </button>
    }
    @if (topic().visibility === topicService.VISIBILITY.public && !topic().report) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', translate.currentLang, 'topics', topic().id, 'report']" (click)="mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="report" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_REPORT_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="closeTopic.emit(topic()); mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="check-box" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.NAV_LNK_CLOSE_TOPIC"></span>
      </button>
    }
    @if (isLoggedIn() && topicService.canDelete(topic())) {
      <div class="line_separator"></div>
      <button class="option error_text" (click)="deleteTopic.emit(topic()); mobileActions = false">
        <div class="icon_wrap">
          <cos-icon name="trash" [size]="16"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_DELETE_TOPIC"></span>
      </button>
    }
  </div>
</div>
