<div id="page_header">
  <div id="user_info_area">
    <button [routerLink]="navigation().link">
      <cos-icon name="arrow-left"></cos-icon>
    </button>
    <div class="small_heading mobile_hidden truncate_text navigation_title"
      [innerHTML]="navigation().title | translate"></div>
  </div>
  <div id="buttons_area">
    @if (!topic().permission.level || topic().permission.level === 'none') {
      <button id="join_button" (click)="onJoin()" class="btn_medium_close"
        translate="VIEWS.TOPICS_TOPICID.BTN_JOIN"></button>
    }

    @if (topic().permission.level && topic().permission.level !== 'none') {
      <div class="permissions_lable tablet_hidden" [translate]="
        topic().permission.level !== 'read'
          ? ('TXT_TOPIC_LEVELS_' + (topic().permission.level | uppercase))
          : 'VIEWS.TOPICS_TOPICID.LBL_JOINED'
      "></div>
    }

    @if (isLoggedIn()) {
      <button class="btn_medium_close icon tablet_show"
        (click)="onToggleFavourite()" [class.like_active]="topic().favourite">
        <div class="tooltip_item">
          @if (!topic().favourite) {
            <div class="content_description" translate="VIEWS.TOPICS_TOPICID.TOOLTIP_FAVOURITE"></div>
          } @else {
            <div class="content_description" translate="VIEWS.TOPICS_TOPICID.TOOLTIP_SAVED_TO_FAVOURITE"></div>
          }
        </div>
        @if (!topic().favourite) {
          <cos-icon name="favourite"></cos-icon>
        } @else {
          <cos-icon name="favourite-filled"></cos-icon>
        }
      </button>
    }

    <button class="btn_medium_close icon mobile_show" (click)="mobileActions.set(!mobileActions())">
      <cos-icon name="more-vertical" [size]="24"></cos-icon>
    </button>

    <div id="tablet_actions" class="dropdown button_dropdown mobile_hidden" cosDropdown>
      <button class="btn_medium_close icon">
        <cos-icon name="more-vertical"></cos-icon>
      </button>

      <div class="options">
        @if (topic().permission.level && topic().permission.level !== 'none' && isLoggedIn()) {
          <button (click)="leaveTopic.emit(topic())" class="option">
            <div class="icon_wrap">
              <cos-icon name="logout" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.BTN_LEAVE"></span>
          </button>
        }

        @if (isLoggedIn()) {
          <div class="line_separator"></div>
          <button class="option" (click)="onToggleFavourite()">
            <div class="icon_wrap">
              @if (topic().favourite) {
                <cos-icon name="favourite-filled" [size]="16"></cos-icon>
              } @else {
                <cos-icon name="favourite" [size]="16"></cos-icon>
              }
            </div>
            <span [translate]="topic().favourite ? 'VIEWS.TOPICS_TOPICID.OPTION_UNFAVOURITE' : 'VIEWS.TOPICS_TOPICID.OPTION_FAVOURITE'"></span>
          </button>
        }

        @if (isLoggedIn()) {
          <div class="line_separator"></div>
          <button class="option" (click)="appTopicNotificationSettings()?.()">
            <div class="icon_wrap">
              <cos-icon name="bell" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_TOPIC_NOTIFICATIONS"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="inviteEditors.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="invite" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_INVITE_CO_EDITOR"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canEdit(topic()) && !topic().voteId && !topic().ideationId) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', 'topics', 'edit', topic().id]">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topic().ideationId && !topic().voteId && topicService.canEdit(topic()) && [topicService.STATUSES.draft, topicService.STATUSES.ideation, topicService.STATUSES.followUp].indexOf(topic().status) > -1) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', 'topics', 'ideation', 'edit', topic().id]">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topic().voteId && (topicService.canDelete(topic()) || (topicService.canEdit(topic()) && [topicService.STATUSES.draft, topicService.STATUSES.voting, topicService.STATUSES.followUp].indexOf(topic().status) > -1))) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/', 'topics', 'vote', 'edit', topic().id]">
            <div class="icon_wrap">
              <cos-icon name="edit" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic())) {
          <div class="line_separator"></div>
          <button class="option" (click)="duplicateTopic.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="copy" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_DUPLICATE_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="addGroupsDialog.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="users" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_ADD_TO_GROUP"></span>
          </button>
        }

        @if (topic().visibility === topicService.VISIBILITY.public && !topic().report) {
          <div class="line_separator"></div>
          <button class="option" [routerLink]="['/topics', topic().id, 'report']">
            <div class="icon_wrap">
              <cos-icon name="report" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_REPORT_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
          <div class="line_separator"></div>
          <button class="option" (click)="closeTopic.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="check" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.NAV_LNK_CLOSE_TOPIC"></span>
          </button>
        }

        @if (isLoggedIn() && topicService.canDelete(topic())) {
          <div class="line_separator"></div>
          <button class="option error_text" (click)="deleteTopic.emit(topic())">
            <div class="icon_wrap">
              <cos-icon name="trash" [size]="16"></cos-icon>
            </div>
            <span translate="VIEWS.TOPICS_TOPICID.OPTION_DELETE_TOPIC"></span>
          </button>
        }
      </div>
    </div>

  </div>
</div>

@if (mobileActions()) {
  <div class="overlay" (click)="mobileActions.set(false)"></div>
}
<div class="mobile_actions_wrap mobile_show" [class.show]="mobileActions()">
  <div class="heading_wrap">
    <span translate="VIEWS.TOPICS_TOPICID.LBL_TOPIC_ACTIONS"></span>
    <div id="close_mobile" class="mobile_show">
      <button class="btn_small_close icon" (click)="mobileActions.set(false)">
        <cos-icon name="close"></cos-icon>
      </button>
    </div>
  </div>
  <div class="options">
    @if (topic().permission.level && topic().permission.level !== 'none' && isLoggedIn()) {
      <button id="leave_button" (click)="leaveTopic.emit(topic()); mobileActions.set(false)" class="btn_medium_close"
        translate="VIEWS.TOPICS_TOPICID.BTN_LEAVE"></button>
      <div class="line_separator"></div>
    }

    @if (isLoggedIn()) {
      <button class="option" (click)="onToggleFavourite(); mobileActions.set(false)">
        <div class="icon_wrap">
          @if (topic().favourite) {
            <cos-icon name="favourite-filled"></cos-icon>
          } @else {
            <cos-icon name="favourite"></cos-icon>
          }
        </div>
        <span [translate]="topic().favourite ? 'VIEWS.TOPICS_TOPICID.OPTION_UNFAVOURITE' : 'VIEWS.TOPICS_TOPICID.OPTION_FAVOURITE'"></span>
      </button>
    }

    @if (isLoggedIn()) {
      <div class="line_separator"></div>
      <button class="option" (click)="appTopicNotificationSettings()?.(); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="bell"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_TOPIC_NOTIFICATIONS"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="inviteEditors.emit(topic()); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="invite"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_INVITE_CO_EDITOR"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canEdit(topic()) && !topic().voteId && !topic().ideationId) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', 'topics', 'edit', topic().id]" (click)="mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="edit"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topic().ideationId && !topic().voteId && topicService.canEdit(topic()) && [topicService.STATUSES.draft, topicService.STATUSES.ideation, topicService.STATUSES.followUp].indexOf(topic().status) > -1) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', 'topics', 'ideation', 'edit', topic().id]" (click)="mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="edit"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topic().voteId && (topicService.canDelete(topic()) || (topicService.canEdit(topic()) && [topicService.STATUSES.draft, topicService.STATUSES.voting, topicService.STATUSES.followUp].indexOf(topic().status) > -1))) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/', 'topics', 'vote', 'edit', topic().id]" (click)="mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="edit"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_EDIT_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canDelete(topic())) {
      <div class="line_separator"></div>
      <button class="option" (click)="duplicateTopic.emit(topic()); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="copy"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_DUPLICATE_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="addGroupsDialog.emit(topic()); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="users"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_ADD_TO_GROUP"></span>
      </button>
    }

    @if (topic().visibility === topicService.VISIBILITY.public && !topic().report) {
      <div class="line_separator"></div>
      <button class="option" [routerLink]="['/topics', topic().id, 'report']" (click)="mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="report"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_REPORT_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canDelete(topic()) && topic().status !== topicService.STATUSES.closed) {
      <div class="line_separator"></div>
      <button class="option" (click)="closeTopic.emit(topic()); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="check"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.NAV_LNK_CLOSE_TOPIC"></span>
      </button>
    }

    @if (isLoggedIn() && topicService.canDelete(topic())) {
      <div class="line_separator"></div>
      <button class="option error_text" (click)="deleteTopic.emit(topic()); mobileActions.set(false)">
        <div class="icon_wrap">
          <cos-icon name="trash"></cos-icon>
        </div>
        <span translate="VIEWS.TOPICS_TOPICID.OPTION_DELETE_TOPIC"></span>
      </button>
    }
  </div>
</div>
