<div id="create_idea_tablet_btn" [class.open]="!isOpen()">
  <button type="button" class="btn_big_submit" (click)="isOpen.set(true)" [aria-label]="'COMPONENTS.ADD_IDEA.BTN_ADD_YOUR_IDEA' | translate">
    <cos-icon name="plus" [size]="24"></cos-icon>
  </button>
</div>

<div id="create_idea_footer_menu" [class.open]="!isOpen()" [class.closed]="isOpen()">
  <h2 class="footer_title">{{ 'COMPONENTS.ADD_IDEA.FOOTER_MENU_TITLE' | translate }}</h2>
  <button type="button" class="btn_medium_submit" (click)="isOpen.set(true)">
    <span class="btn_text">{{ 'COMPONENTS.ADD_IDEA.BTN_ADD_YOUR_IDEA' | translate }}</span>
  </button>
</div>

<div id="create_idea_footer" [class.open]="isOpen()" [class.closed]="!isOpen()">
  <div id="post_idea_form_wrap" [class.expanded]="toggleExpand()">
    <div class="form_header">
      <div class="form_header_title">
        <span translate="COMPONENTS.ADD_IDEA.FOOTER_FORM_TITLE"></span>
        @if (isAutosaving()) {
          <div class="dialog_info_wrap">
            <div class="dialog_info discussion">
              <div class="row">
                <div class="loader_wrapper">
                  <div class="loader"></div>
                </div>
                <span class="bold loader_text">{{ "COMPONENTS.IDEA_DIALOG.AUTOSAVING" | translate }}</span>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="form_header_actions">
        @if (ideation().allowAnonymous) {
          <div id="anonymous_info_wrap" translate="COMPONENTS.ADD_IDEA.FOOTER_FORM_ANONYMOUS_INFO">
            <cos-tooltip [title]="'COMPONENTS.ADD_IDEA.TOOLTIP_ANONYMOUS_TITLE' | translate" [description]="'COMPONENTS.ADD_IDEA.TOOLTIP_ANONYMOUS_DESCRIPTION' | translate"></cos-tooltip>
          </div>
        }
        <button type="button" class="form_header_expand_button mobile_hidden" (click)="toggleExpand.set(!toggleExpand())"
          [attr.aria-expanded]="toggleExpand()">
          <cos-icon name="add-idea-icon-legacy" size="24" class="form_header_expand_icon" [class.rotated]="toggleExpand()"></cos-icon>
          <span class="form_header_expand_text">{{ (toggleExpand() ? 'COMPONENTS.ADD_IDEA.BTN_COLLAPSE' : 'COMPONENTS.ADD_IDEA.BTN_EXPAND') | translate }}</span>
        </button>
      </div>

      <div id="close_mobile" class="mobile_show">
        <button type="button" class="btn_small_close icon close_button mobile_show" (click)="close()">
          <cos-icon name="edit-argument-icon-legacy" size="24"></cos-icon>
        </button>
      </div>
    </div>

    <form id="idea_form" [formGroup]="ideaForm" (ngSubmit)="publishIdea()">
      <cos-input placeholder="{{ 'COMPONENTS.ADD_IDEA.PLACEHOLDER_ADD_STATEMENT_TO_IDEA' | translate }}" 
                 [limit]="(ideaForm.get('statement')?.value?.length || 0) + '/' + IDEA_STATEMENT_MAXLENGTH">
        <input id="idea_statement" name="statement" formControlName="statement" autocomplete="off" 
               [placeholder]="'COMPONENTS.ADD_IDEA.PLACEHOLDER_ADD_STATEMENT_TO_IDEA' | translate" 
               class="gray_borders" [class.error_input]="ideaForm.get('statement')?.invalid && ideaForm.get('statement')?.touched" required />
        @if (ideaForm.get('statement')?.errors?.['required'] && ideaForm.get('statement')?.touched) {
          <label for="idea_statement" class="error_label">
            <span class="error_text" translate="COMPONENTS.ADD_IDEA.FIELD_IS_MANDATORY"></span>
          </label>
        }
      </cos-input>

      @if (ideation().allowAnonymous && getDemographicKeys().length > 0) {
        <div class="anonymous_info">
          @for (key of getDemographicKeys(); track key) {
            @switch (key) {
              @case ('residence') {
                @if (isCountryEstonia()) {
                    <div class="gender_wrapper">
                      <div class="dropdown" cosDropdown>
                        <div class="selection" [class.error_input]="filtersData().residence.error" trigger>
                          <div class="selected_item">
                            @if (!filtersData().residence.selectedValue) {
                              <span class="selected_item_placeholder">{{ "VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_" + key | uppercase | translate }}</span>
                            } @else if (filtersData().residence.selectedValue !== 'other') {
                              <span>{{ filtersData().residence.selectedValue }}</span>
                            } @else {
                              <span>{{ "VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_RESIDENCE_OTHER" | translate }}</span>
                            }
                          </div>
                          <cos-icon name="chevron-down" />
                        </div>
                        <div class="options">
                          @for (option of filtersData().residence.items; track option.value) {
                            <div class="option" (click)="setFilterValue('residence', option.value)">
                              <span>{{ option.title }}</span>
                            </div>
                          }
                          <hr class="options_line" />
                          <div class="option" (click)="setFilterValue('residence', 'other')">
                            <span>{{ "VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_RESIDENCE_OTHER" | translate }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                } @else {
                    <cos-input placeholder="{{ 'VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_' + key | uppercase | translate }}">
                        <input [id]="'demographics_' + key" [formControlName]="'demographics_' + key" class="gray_borders" required />
                    </cos-input>
                }
              }
              @case ('gender') {
                <div class="gender_wrapper">
                  <div class="dropdown" cosDropdown>
                    <div class="selection" [class.error_input]="filtersData().gender.error" trigger>
                      <div class="selected_item">
                        @if (!filtersData().gender.selectedValue) {
                          <span class="selected_item_placeholder">{{ "VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_" + key | uppercase | translate }}</span>
                        } @else {
                          <span>{{ "VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_GENDER_" + filtersData().gender.selectedValue | uppercase | translate }}</span>
                        }
                      </div>
                      <cos-icon name="chevron-down" />
                    </div>
                    <div class="options">
                      @for (option of filtersData().gender.items; track option.value) {
                        <div class="option" (click)="setFilterValue('gender', option.value)">
                          <span>{{ option.title | translate }}</span>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              }
              @case ('age') {
                <cos-input placeholder="{{ 'VIEWS.IDEATION_CREATE.DEMOGRAPHICS_DATA_' + key | uppercase | translate }}">
                  <input type="number" [id]="'demographics_' + key" [formControlName]="'demographics_' + key" class="gray_borders" required (keypress)="numberOnly($event)" />
                </cos-input>
              }
            }
          }
        </div>
      }

      <div id="idea_description_wrap">
        <textarea cosMarkdown name="description" formControlName="description"
          [cosMarkdownTranslateCharacterStatusKey]="'COMPONENTS.ADD_IDEA.IDEA_TYPE_CHARACTER_LIMIT'" id="idea_description"
          [item]="ideaForm.get('description')?.value || ''" class="gray_borders" (itemChange)="updateText($event)"
          [initialValue]="ideation().template || ''" [placeholder]="'COMPONENTS.ADD_IDEA.PLACEHOLDER_EXPLAIN_YOUR_IDEA' | translate" 
          [class.error_input]="ideaForm.get('description')?.invalid && ideaForm.get('description')?.touched" 
          [limit]="ideaMaxLength()" [class.expanded]="toggleExpand()" required></textarea>

        @if (ideaForm.get('description')?.invalid && ideaForm.get('description')?.touched) {
          <label for="description" class="error_label">
            <span class="error_text" translate="COMPONENTS.ADD_IDEA.FIELD_IS_MANDATORY"></span>
          </label>
        }
      </div>

      @if (newImages().length) {
        <div class="idea_images_wrap">
          @for (image of newImages(); track $index) {
            <div class="image">
              <div class="image_data">
                <img [src]="image.link" />
                <a class="name">{{ image.name }}</a>
              </div>
              <button type="button" class="btn_small_plain icon" (click)="removeNewImage($index)">
                <cos-icon name="trash" [size]="32" />
              </button>
            </div>
          }
        </div>
      }
      <input id="image_upload_input" multiple type="file" #imageUpload hidden (change)="fileUpload()" />
    </form>
  </div>

  <div id="buttons_row">
    <div class="buttons_left_group">
      <button type="button" class="btn_medium_submit_ghost icon close_button" (click)="close()">
        <cos-icon name="close" [size]="24" />
      </button>
      @if (autosavedIdea()) {
        <div class="btn_medium_wrapper">
          <button type="button" class="option error_text btn_medium_error" (click)="deleteDraftIdea(autosavedIdea()!)">
            <cos-icon name="trash" [size]="24" />
            <span class="btn_text" translate="COMPONENTS.ADD_IDEA.BTN_DELETE_DRAFT"></span>
          </button>
        </div>
      }
    </div>
    <div class="buttons_right_group">
      <button type="button" class="btn_medium_submit_ghost" (click)="uploadImage()">
        <cos-icon name="add-idea-icon-2-legacy" size="24"></cos-icon>
        <span translate="COMPONENTS.POST_ARGUMENT.BTN_ADD_IMAGE"></span>
      </button>
      <button type="button" class="btn_medium_submit" (click)="publishIdea()">
        <span class="btn_text" translate="COMPONENTS.ADD_IDEA.BTN_IDEA_POST"></span>
      </button>
    </div>
  </div>
</div>

@if (isOpen()) {
  <div class="overlay" (click)="close()" (keydown.enter)="close()" role="button" tabindex="0" [aria-label]="'CONTROL.CLOSE' | translate"></div>
}
