<div class="overlay" dialogClose (keydown.enter)="dialogRef.close()" role="button" tabindex="0"></div>
<div class="dialog_wrap">
  <div class="dialog">
    <div class="dialog_header voting">
      <div class="header_text">
        <h4 class="title">{{ 'MODALS.TOPIC_VOTE_SIGN_SMARTID_HEADING' | translate }}</h4>
        <div class="dialog_close">
          <button type="button" class="btn_dialog_close icon" dialogClose [aria-label]="'CONTROL.CLOSE' | translate">
            <cos-icon name="close" [size]="24"></cos-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="dialog_content no_footer">
      <div class="vote_options">
        @if (data.options.length === 1) {
          <span>{{ 'MODALS.TOPIC_VOTE_SIGN_TXT_VOTING_FOR' | translate:{ optionSelected: data.options[0] } }}</span>
        }
        @for (option of data.options; track option.id) {
          @if (option.selected) {
            <div class="vote_option radio_wrap selected">
              <div class="radio_text_wrap">
                <div class="radio_lable_wrap">
                  <label class="checkbox">
                    <span>{{ 'COMPONENTS.TOPIC_VOTE_CREATE.LBL_OPTION_' + option.value | uppercase | translate:{ default: option.value } }}</span>
                    <input type="checkbox" [checked]="true" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          }
        }
      </div>
      <div class="form_wrap">
        <form [formGroup]="signForm" novalidate>
          @if (isLoading() && !challengeID()) {
            <div class="loader_wrap"><div class="loader"></div></div>
          }
          @if (!challengeID() && !isLoading()) {
            <cos-input [placeholder]="'MODALS.TOPIC_VOTE_SIGN_SMARTID_PLACEHOLDER_COUNTRY_CODE' | translate">
              <input formControlName="countryCode" type="text" [maxlength]="2"
                [placeholder]="'MODALS.TOPIC_VOTE_SIGN_SMARTID_PLACEHOLDER_COUNTRY_CODE' | translate" />
            </cos-input>
            <cos-input [placeholder]="'MODALS.TOPIC_VOTE_SIGN_SMARTID_PLACEHOLDER_PID' | translate">
              <input formControlName="pid" type="text" inputmode="numeric"
                [placeholder]="'MODALS.TOPIC_VOTE_SIGN_SMARTID_PLACEHOLDER_PID' | translate" />
            </cos-input>
          }
          @if (challengeID()) {
            <div class="control_code_wrap">
              <div class="code">{{ 'MODALS.TOPIC_VOTE_SIGN_SMARTID_TXT_CONTROL_CODE' | translate:{ code: challengeID() } }}</div>
              <div class="code_text">{{ 'MODALS.TOPIC_VOTE_SIGN_SMARTID_TXT_CHECK_CONTROL_CODE' | translate }}</div>
              <div class="loader_wrap"><div class="loader"></div></div>
            </div>
          }
          <button type="button" (click)="doSignWithSmartId()" [disabled]="isLoading() || signForm.invalid" class="btn_big_submit">
            <span>{{ 'MODALS.TOPIC_VOTE_SIGN_SMARTID_BTN_SIGN' | translate }}</span>
          </button>
        </form>
      </div>
    </div>
    <div class="dialog_footer"></div>
  </div>
</div>
