<div class="create_content">
  <!-- Header Image Block -->
  <div class="create_content_block discussion" [class.open]="block().headerImage">
    <div class="block_title_wrap" (click)="toggleBlock('headerImage')" (keydown.enter)="toggleBlock('headerImage')" role="button" tabindex="0">
      <div class="block_title">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADER_IMAGE' | translate }}</div>
      @if (!block().headerImage) {
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                >
                <path
                  d="M7.42058 17.0287H16.6588C16.8706 17.0287 17.0206 16.9404 17.1088 16.764C17.1971 16.5875 17.1794 16.411 17.0559 16.2346L14.5412 12.8993C14.4353 12.7581 14.3029 12.6875 14.1441 12.6875C13.9853 12.6875 13.8618 12.7581 13.7735 12.8993L11.1794 16.261L9.45882 14.0375C9.35293 13.914 9.22058 13.8522 9.06176 13.8522C8.90293 13.8522 8.7794 13.9228 8.69117 14.064L7.02352 16.2346C6.89999 16.411 6.88693 16.5875 6.98434 16.764C7.08105 16.9404 7.22646 17.0287 7.42058 17.0287Z"
                  fill="#2C3B47" />
                <rect x="4" y="4" width="16" height="16" rx="1" stroke="#2C3B47" stroke-width="2" />
              </svg>
      }
      @if (block().headerImage && (topic().imageUrl)) {
      <cos-button variant="ghost" (clicked)="deleteTopicImage(); $event.stopPropagation();" icon="trash">
        <span class="link">{{ 'VIEWS.TOPIC_CREATE.HEADER_IMAGE_BTN_REMOVE' | translate }}</span>
      </cos-button>
      } @else if (block().headerImage) {
      <cos-button variant="ghost" (clicked)="toggleBlock('headerImage'); $event.stopPropagation();" icon="close">
        <span class="link">{{ 'VIEWS.TOPIC_CREATE.HEADER_IMAGE_BTN_CANCEL' | translate }}</span>
      </cos-button>
      }
    </div>

    @if (block().headerImage) {
    <div class="block_content image_content">
      <cos-image-upload [imageUrl]="topic().imageUrl || null" (imageFileChange)="onImageChange($event)"
        (imageRemoved)="deleteTopicImage()"></cos-image-upload>
    </div>
    }
  </div>

  <!-- Title Block -->
  <div class="create_content_block discussion" [class.active]="block().title" [class.open]="block().title">
    <div class="block_title_wrap" (click)="toggleBlock('title')" (keydown.enter)="toggleBlock('title')" role="button" tabindex="0">
      <div class="block_title">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADING' | translate }}</div>
      <div class="counter_wrap">
        <div class="char_counter">{{ (topic().title?.length || 0) }}/{{ titleLimit }}</div>
        @if (!topic().title) {
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.6558 9.32812C11.2233 8.52002 9.79067 7.71195 8.35815 6.90385C8.47123 7.10587 8.5843 7.30788 8.71632 7.4916V7.47328C8.71632 7.2345 8.58432 6.99582 8.35815 6.88553C6.92564 6.07743 5.49303 5.26936 4.06051 4.46126C3.26884 4.02046 2.55253 5.21426 3.3442 5.65493C4.77672 6.46303 6.20933 7.2711 7.64185 8.0792C7.52877 7.87718 7.41569 7.67517 7.28368 7.49145V7.50977C7.28368 7.74856 7.41569 7.98723 7.64185 8.09752C9.07436 8.90563 10.507 9.71369 11.9395 10.5218C12.7312 10.9626 13.4475 9.76892 12.6558 9.32812Z"
                    fill="#EF4025" />
                  <path
                    d="M8.71632 7.4916L8.71634 2.66112C8.71634 1.77963 7.30264 1.77963 7.30264 2.66112V7.49117C7.30264 8.3728 8.71632 8.37323 8.71632 7.4916Z"
                    fill="#EF4025" />
                  <path
                    d="M8.71627 12.3388V7.50873C8.71627 6.62723 7.30257 6.62723 7.30257 7.50873V12.3388C7.30257 13.2204 8.71627 13.2204 8.71627 12.3388Z"
                    fill="#EF4025" />
                  <path
                    d="M4.06051 10.5208C6.92563 8.90464 9.7907 7.28856 12.6558 5.69076C13.4475 5.24996 12.7311 4.05625 11.9395 4.49708C9.07435 6.11326 6.20929 7.72933 3.3442 9.32714C2.55253 9.76783 3.26886 10.9615 4.06051 10.5208Z"
                    fill="#EF4025" />
                </svg>
        }
      </div>
    </div>
    @if (block().title) {
    <div class="block_content">
      <label class="hidden" for="title_input">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADING' | translate }}</label>
      <input #topicTitle id="title_input" type="text" placeholder="..." [ngModel]="topic().title"
        (ngModelChange)="onUpdate({title: $event})" [maxlength]="titleLimit" />
    </div>
    }
  </div>

  <!-- Intro Block -->
  <div class="create_content_block discussion" [class.active]="block().intro" [class.open]="block().intro">
    <div class="block_title_wrap" (click)="toggleBlock('intro')" (keydown.enter)="toggleBlock('intro')" role="button" tabindex="0">
      <div class="block_title">
        <span>{{ 'VIEWS.TOPIC_CREATE.TITLE_INTRO' | translate }}</span>
        <cos-tooltip [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_INTRO_TITLE' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_INTRO_CONTENT' | translate"></cos-tooltip>
      </div>

      <div class="counter_wrap">
        <div class="char_counter">{{ (topic().intro?.length || 0) }}/{{ introLimit }}</div>
      </div>
    </div>
    @if (block().intro) {
    <div class="block_content">
      <label class="hidden" for="intro_input">{{ 'VIEWS.TOPIC_CREATE.TITLE_INTRO' | translate }}</label>
      <textarea #topicIntro id="intro_input" placeholder="..." [ngModel]="topic().intro"
        (ngModelChange)="onUpdate({intro: $event})" [maxlength]="introLimit" rows="3"></textarea>
    </div>
    }
  </div>

  <!-- Description Block -->
  <div class="create_content_block discussion" [class.active]="block().description" [class.open]="block().description">
    <div class="block_title_wrap" (click)="toggleBlock('description')" (keydown.enter)="toggleBlock('description')" role="button" tabindex="0">
      <div class="block_title">
        <span>{{ 'VIEWS.TOPIC_CREATE.TITLE_DESCRIPTION' | translate }}</span>
        <cos-tooltip [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_TEXT_TITLE' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_TEXT_CONTENT' | translate"></cos-tooltip>
      </div>

      <div class="counter_wrap">
        @if (!topic().description) {
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12.6558 9.32812C11.2233 8.52002 9.79067 7.71195 8.35815 6.90385C8.47123 7.10587 8.5843 7.30788 8.71632 7.4916V7.47328C8.71632 7.2345 8.58432 6.99582 8.35815 6.88553C6.92564 6.07743 5.49303 5.26936 4.06051 4.46126C3.26884 4.02046 2.55253 5.21426 3.3442 5.65493C4.77672 6.46303 6.20933 7.2711 7.64185 8.0792C7.52877 7.87718 7.41569 7.67517 7.28368 7.49145V7.50977C7.28368 7.74856 7.41569 7.98723 7.64185 8.09752C9.07436 8.90563 10.507 9.71369 11.9395 10.5218C12.7312 10.9626 13.4475 9.76892 12.6558 9.32812Z"
                    fill="#EF4025" />
                  <path
                    d="M8.71632 7.4916L8.71634 2.66112C8.71634 1.77963 7.30264 1.77963 7.30264 2.66112V7.49117C7.30264 8.3728 8.71632 8.37323 8.71632 7.4916Z"
                    fill="#EF4025" />
                  <path
                    d="M8.71627 12.3388V7.50873C8.71627 6.62723 7.30257 6.62723 7.30257 7.50873V12.3388C7.30257 13.2204 8.71627 13.2204 8.71627 12.3388Z"
                    fill="#EF4025" />
                  <path
                    d="M4.06051 10.5208C6.92563 8.90464 9.7907 7.28856 12.6558 5.69076C13.4475 5.24996 12.7311 4.05625 11.9395 4.49708C9.07435 6.11326 6.20929 7.72933 3.3442 9.32714C2.55253 9.76783 3.26886 10.9615 4.06051 10.5208Z"
                    fill="#EF4025" />
                </svg>
        }
      </div>
    </div>
    @if (block().description) {
    <div class="block_content description">
      <iframe cosEtherpad frameborder="0" scrolling="no" [class.hidden]="!topic().padUrl" [src]="sanitizeURL()"
        width="100%" height="600"></iframe>
    </div>
    }
  </div>

  <!-- Attachments Block -->
  <cos-topic-attachments [topic]="topic()"></cos-topic-attachments>

</div>