<div class="create_content">
  <!-- Header Image Block -->
  <div class="create_content_block discussion" [class.open]="block().headerImage">
    <div class="block_title_wrap" (click)="toggleBlock('headerImage')" (keydown.enter)="toggleBlock('headerImage')" role="button" tabindex="0">
      <div class="block_title">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADER_IMAGE' | translate }}</div>
      @if (!block().headerImage) {
      <cos-icon name="upload" [size]="24"></cos-icon>
      }
      @if (block().headerImage && (topic().imageUrl)) {
      <cos-button variant="ghost" (clicked)="deleteTopicImage(); $event.stopPropagation();" icon="trash">
        <span class="link">{{ 'VIEWS.TOPIC_CREATE.HEADER_IMAGE_BTN_REMOVE' | translate }}</span>
      </cos-button>
      } @else if (block().headerImage) {
      <cos-button variant="ghost" (clicked)="toggleBlock('headerImage'); $event.stopPropagation();" icon="close">
        <span class="link">{{ 'VIEWS.TOPIC_CREATE.HEADER_IMAGE_BTN_CANCEL' | translate }}</span>
      </cos-button>
      }
    </div>

    @if (block().headerImage) {
    <div class="block_content image_content">
      <cos-image-upload [imageUrl]="topic().imageUrl || null" (imageFileChange)="onImageChange($event)"
        (imageRemoved)="deleteTopicImage()"></cos-image-upload>
    </div>
    }
  </div>

  <!-- Title Block -->
  <div class="create_content_block discussion" [class.active]="block().title" [class.open]="block().title">
    <div class="block_title_wrap" (click)="toggleBlock('title')" (keydown.enter)="toggleBlock('title')" role="button" tabindex="0">
      <div class="block_title">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADING' | translate }}</div>
      <div class="counter_wrap">
        <div class="char_counter">{{ (topic().title?.length || 0) }}/{{ titleLimit }}</div>
        @if (!topic().title) {
        <cos-icon name="warning" [size]="16" class="error"></cos-icon>
        }
      </div>
    </div>
    @if (block().title || topic().title) {
    <div class="block_content">
      <label class="hidden" for="title_input">{{ 'VIEWS.TOPIC_CREATE.TITLE_HEADING' | translate }}</label>
      <input #topicTitle id="title_input" type="text" placeholder="..." [ngModel]="topic().title"
        (ngModelChange)="onUpdate({title: $event})" [maxlength]="titleLimit" />
    </div>
    }
  </div>

  <!-- Intro Block -->
  <div class="create_content_block discussion" [class.active]="block().intro" [class.open]="block().intro">
    <div class="block_title_wrap" (click)="toggleBlock('intro')" (keydown.enter)="toggleBlock('intro')" role="button" tabindex="0">
      <div class="block_title">
        <span>{{ 'VIEWS.TOPIC_CREATE.TITLE_INTRO' | translate }}</span>
        <cos-tooltip [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_INTRO_TITLE' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_INTRO_CONTENT' | translate"></cos-tooltip>
      </div>

      <div class="counter_wrap">
        <div class="char_counter">{{ (topic().intro?.length || 0) }}/{{ introLimit }}</div>
      </div>
    </div>
    @if (block().intro || topic().intro) {
    <div class="block_content">
      <label class="hidden" for="intro_input">{{ 'VIEWS.TOPIC_CREATE.TITLE_INTRO' | translate }}</label>
      <textarea #topicIntro id="intro_input" placeholder="..." [ngModel]="topic().intro"
        (ngModelChange)="onUpdate({intro: $event})" [maxlength]="introLimit" rows="3"></textarea>
    </div>
    }
  </div>

  <!-- Description Block -->
  <div class="create_content_block discussion" [class.active]="block().description" [class.open]="block().description">
    <div class="block_title_wrap" (click)="toggleBlock('description')" (keydown.enter)="toggleBlock('description')" role="button" tabindex="0">
      <div class="block_title">
        <span>{{ 'VIEWS.TOPIC_CREATE.TITLE_DESCRIPTION' | translate }}</span>
        <cos-tooltip [title]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_TEXT_TITLE' | translate"
          [description]="'VIEWS.TOPIC_CREATE.TOOLTIP_TOPIC_TEXT_CONTENT' | translate"></cos-tooltip>
      </div>

      <div class="counter_wrap">
        @if (!topic().description) {
        <cos-icon name="warning" [size]="16" class="error"></cos-icon>
        }
      </div>
    </div>
    @if (block().description) {
    <div class="block_content description">
      <iframe cosEtherpad frameborder="0" scrolling="no" [class.hidden]="!topic().padUrl" [src]="sanitizeURL()"
        width="100%" height="600"></iframe>
    </div>
    }
  </div>

  <!-- Attachments Block -->
  <cos-topic-attachments [topic]="topic()"></cos-topic-attachments>

</div>